 h1           { font-size:14pt;
                   font-family:Helvetica,Arial;
                   color:white;
                   font-weight:bold; }

    h2           { font-size:12pt;
                   font-family:Helvetica,Arial;
                   color:white;
                   font-weight:bold; }

    p,li,td      { font-size:10pt;
                   font-family:Helvetica,Arial;
                   color:#white; }

    a            { font-family:Helvetica,Arial;
                   
                   color:#CCFF20; }
                   
  h4           { font-size:10Pt;
                   font-family:Helvetica,Arial;
                   color:00ff00;
                   font-weight:bold; }         
                   
    body
    {
    background:black;
    color:white;
    }
