<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" /> 
    <title>Oops! The page you were looking for was not found &#8211; Madhur Ahuja</title>
    

    <meta name="author" content="Madhur Ahuja" />
    <meta name="description" content=" Oops! The page you were looking for was not found" />

    <link rel="start" href="/" />

    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/madhur" title="RSS feed" />
    <link rel="shortcut icon" href="http://www.gravatar.com/avatar/5352cde0b084abcd6d4d783c08a51c76?s=16" />

    <link rel="stylesheet" href="/files/css/bootstrap.min.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/files/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/files/css/jquery.fancybox.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/files/css/styles.css" /> 

     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N14VDHYFHQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N14VDHYFHQ');
</script> 
    <link rel="stylesheet" type="text/css" media="print" href="/files/css/print.css">       

    <script src="/files/js/vendor/angular.js" type="text/javascript"></script> 

    <script src="/files/js/vendor/pace.min.js" type="text/javascript"></script>
</head>


<body>

    <div class="container">

        <header id="header" class="row">

            <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">

    <div class="navbar-header">

     <div class="hidden-md hidden-sm hidden-lg searchli">

                <form method="get" role="search" id="searchform" action="/results" onsubmit="return checkfrm_search();">

                    <div class="form-group">
                        <input type="search" required id="q2" name="q" value="" class="form-control mobile" placeholder="Search" />
                    </div>
                </form>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--  <a class="navbar-brand " href="/">Home</a> -->
    </div>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul id="nav" class="nav navbar-nav">
            
            <li><a class="home" href="/">Home</a>
            </li>
            <li><a class="blog" href="/blog">Blog</a>
            </li>
            <!--<li><a class="work" href="/work">Resume</a></li>-->
            <li><a class="code" href="/projects">Work</a>
            </li>
            <!--<li><a class="papers" href="/papers">Papers</a></li>-->
            <li><a class="info" href="/info">About</a>
            </li>
            <li><a class="contact" href="/contact">Contact</a>
            </li>

        </ul>

        <ul class="nav navbar-nav visible-md visible-lg visible-sm searchbox">
            <li>
                <form method="get" role="search" id="searchform" action="/results" onsubmit="return checkfrm_search();">

                    <div class="form-group">
                        <input type="search" required id="q1" name="q" value="" class="form-control desktop" placeholder="Search" />
                    </div>
                </form>
            </li>
        </ul>


        <ul class="nav-icons navbar-right nav navbar-nav visible-md visible-lg">
            <li><a href="http://www.linkedin.com/in/madhurahuja"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </li>
            <li><a href="https://github.com/madhur"><i class="fa fa-github fa-3x"></i></a>
            </li>
            <li><a href="http://feeds.feedburner.com/madhur"><i class="fa fa-rss-square fa-3x"></i></a>
            </li>
        </ul>


    </div>

</div>
</nav>


        </header>

        <div id="content" class="row">

            <section class="col-md-12">
	 <table>
  <tbody>
    <tr>
      <td>#:(){ :</td>
      <td>: &amp; };:#</td>
    </tr>
  </tbody>
</table>

<p>##Oops! The page you were looking for was not found##</p>

<p>Please try to search the articles below by entering the few keywords in text below. If you are looking for still cannot be found, please send me a an <a href="mailto:ahuja.madhur@gmail.com">email</a> with the link or the content you were originally looking for.</p>

<script type="text/javascript">
	var posts=[];

	
		post={title: "Proxmox - Setting up user friendly urls", url: "/blog/2024/01/07/proxmox-user-friendly-urls.html" }
		posts.push(post);
	
		post={title: "Using Kitty hints to parse maven output", url: "/blog/2023/12/28/using-kitty-hints-parse-maven-output.html" }
		posts.push(post);
	
		post={title: "Android SSL Pinning Bypass", url: "/blog/2023/12/05/android-ssl-pinning-bypass.html" }
		posts.push(post);
	
		post={title: "Transfer files from k8s or docker shell to other host", url: "/blog/2023/11/14/transfer-files-from-shell-k8s.html" }
		posts.push(post);
	
		post={title: "Intellij cannot launch because 'process 2' already running", url: "/blog/2023/10/30/cannot-start-intellij.html" }
		posts.push(post);
	
		post={title: "Recovering from Arch Boot failure", url: "/blog/2023/09/30/recovering-from-arch-boot.html" }
		posts.push(post);
	
		post={title: "Ansible roles for installing and configuring Vitess", url: "/blog/2023/08/30/ansible-vitess.html" }
		posts.push(post);
	
		post={title: "Creating vagrant basebox", url: "/blog/2023/07/30/creating-vagrant-base-box.html" }
		posts.push(post);
	
		post={title: "Process huge log files", url: "/blog/2023/06/10/processing-huge-log-files.html" }
		posts.push(post);
	
		post={title: "LeetCode Format v1.4", url: "/blog/2023/05/21/chrome-extension-leetcode-format.html" }
		posts.push(post);
	
		post={title: "zsh and /etc/profile", url: "/blog/2023/05/10/zsh-and-etc-profile.html" }
		posts.push(post);
	
		post={title: "Taking memory dump of JVM Applications", url: "/blog/2023/04/23/taking-memory-dump-jvm.html" }
		posts.push(post);
	
		post={title: "Workaround AWS Lambda 6 MB Response size limit", url: "/blog/2023/03/23/workaround-lambda-6mb-limit.html" }
		posts.push(post);
	
		post={title: "A nifty Apache Benchmark alternative - hey", url: "/blog/2023/02/23/apache-benchmark-alternative-hey.html" }
		posts.push(post);
	
		post={title: "Monitoring Guava Cache Statistics", url: "/blog/2023/01/23/monitoring-guava-cache-statistics.html" }
		posts.push(post);
	
		post={title: "User Defined function(UDF) to filter cloudfront IP Addresses from AWS Athena Logs", url: "/blog/2022/12/10/aws-athena-user-defined-function-cloudfront-filter.html" }
		posts.push(post);
	
		post={title: "Linux Tips and Tricks", url: "/blog/2022/11/20/linux-tips-tricks.html" }
		posts.push(post);
	
		post={title: "Adding HTTP Proxy to Spring WebFlux Client", url: "/blog/2022/09/03/adding-http-proxy-spring-webflux-client.html" }
		posts.push(post);
	
		post={title: "Fedora Tips & Tricks", url: "/blog/2022/08/06/fedora-tips.html" }
		posts.push(post);
	
		post={title: "Gracefully shutting down JVM applications", url: "/blog/2022/07/10/gracefully-shutting-down-jvm-applications.html" }
		posts.push(post);
	
		post={title: "Web3 ethereum development breaking changes", url: "/blog/2022/06/19/web3-ethereum-development-breaking-changes.html" }
		posts.push(post);
	
		post={title: "Find non-expiring keys in Redis", url: "/blog/2022/06/04/find-non-expiring-keys-redis.html" }
		posts.push(post);
	
		post={title: "Redis Node moving out of cluster repeatedly", url: "/blog/2022/05/15/redis-node-moving-out-cluster-repeatedly.html" }
		posts.push(post);
	
		post={title: "Difference between upper90 and mean90", url: "/blog/2022/04/16/difference-betweeen-upper90-mean90.html" }
		posts.push(post);
	
		post={title: "Execute a transaction in etherum using ganache", url: "/blog/2022/03/20/ethereum-transaction-ganache.html" }
		posts.push(post);
	
		post={title: "Clear buffer memory on Linux", url: "/blog/2022/03/18/clear-buffer-memory-linux.html" }
		posts.push(post);
	
		post={title: "Setup Cassandra Cluster using Ansible and Vagrant", url: "/blog/2022/03/13/setup-cassandra-cluster-using-ansible-vagrant.html" }
		posts.push(post);
	
		post={title: "Parental Control Softwares for Windows and Linux", url: "/blog/2022/03/06/parental-control-softwares.html" }
		posts.push(post);
	
		post={title: "Linux GUI Tips", url: "/blog/2022/02/27/linux-gui-tips.html" }
		posts.push(post);
	
		post={title: "Useful Systemd commands", url: "/blog/2022/02/20/useful-systemd-commands.html" }
		posts.push(post);
	
		post={title: "CentOS is dead", url: "/blog/2022/02/05/centos-is-dead.html" }
		posts.push(post);
	
		post={title: "Increase Grub2 Resolution in CentOS / Fedora", url: "/blog/2022/01/30/increase-grub2-resolution-centos.html" }
		posts.push(post);
	
		post={title: "Fedora / CentOS Tips & Tricks - running it as Desktop OS", url: "/blog/2022/01/23/fedora-centos-tips-tricks.html" }
		posts.push(post);
	
		post={title: "Quickly Compare two MySQL databases", url: "/blog/2022/01/16/quickly-compare-two-mysql-databases.html" }
		posts.push(post);
	
		post={title: "Forbidden error while accessing AWS services on Kubernetes", url: "/blog/2022/01/09/forbidden-aws-eks.html" }
		posts.push(post);
	
		post={title: "Provision Redis cluster through Vagrant and Ansible", url: "/blog/2022/01/01/redis-cluster-ansible.html" }
		posts.push(post);
	
		post={title: "Proxy nodejs requests through Proxy Server", url: "/blog/2021/12/12/proxy-nodejs-requests.html" }
		posts.push(post);
	
		post={title: "Kernel Panic with AMD Ryzen 5600x on CentOS 7", url: "/blog/2021/11/27/linux-kernel-panic.html" }
		posts.push(post);
	
		post={title: "Offload IO Intensive tasks to worker threads", url: "/blog/2021/11/20/offload-io-intensive-tasks-to-threads.html" }
		posts.push(post);
	
		post={title: "Conventional Commits", url: "/blog/2021/11/13/conventional-commits.html" }
		posts.push(post);
	
		post={title: "Querying AWS ALB Logs using Athena", url: "/blog/2021/11/06/querying-alb-logs-aws-athena.html" }
		posts.push(post);
	
		post={title: "Backup and Restore specific cassandra tables", url: "/blog/2021/10/30/backup-and-restore-specific-cassandra-tables.html" }
		posts.push(post);
	
		post={title: "Using sshpass to skip entering passwords for SSH", url: "/blog/2021/10/23/using-sshpass-to-skip-entering-password.html" }
		posts.push(post);
	
		post={title: "Running Spark on Windows", url: "/blog/2021/10/16/running-spark-on-windows.html" }
		posts.push(post);
	
		post={title: "zsh Autocomplete", url: "/blog/2021/10/09/zsh-autocomplete.html" }
		posts.push(post);
	
		post={title: "Designing Change Data Capture", url: "/blog/2021/08/20/design-change-data-capture.html" }
		posts.push(post);
	
		post={title: "Liveness and Readiness Probes", url: "/blog/2021/08/14/liveness-and-readiness-probes.html" }
		posts.push(post);
	
		post={title: "Meaning of at-least once, at-most once and exactly-once delivery", url: "/blog/2021/07/18/meaning-of-at-least-once-at-most-once-and-exactly-once-delivery.html" }
		posts.push(post);
	
		post={title: "How tinyUrl Does redirection", url: "/blog/2021/07/11/how-tinyurl-does-redirection.html" }
		posts.push(post);
	
		post={title: "Encoding and Hashing", url: "/blog/2021/07/06/encoding-and-hashing.html" }
		posts.push(post);
	
		post={title: "Capacity Estimation Examples", url: "/blog/2021/06/27/capacity-estimation.html" }
		posts.push(post);
	
		post={title: "Simple Design of Communication Service", url: "/blog/2021/06/20/simple-design-of-communication-service.html" }
		posts.push(post);
	
		post={title: "API Response Group Pattern - Improving latencies using GraphQL", url: "/blog/2021/06/13/api-response-group-pattern.html" }
		posts.push(post);
	
		post={title: "Migrating from SQL to No-SQL without downtime", url: "/blog/2021/06/05/migrating-from-sql-nosql.html" }
		posts.push(post);
	
		post={title: "Fun with Splunk", url: "/blog/2021/05/30/fun-with-splunk.html" }
		posts.push(post);
	
		post={title: "Few Useful Kubectl commands", url: "/blog/2021/05/22/few-useful-kubectl-commands.html" }
		posts.push(post);
	
		post={title: "Handling Distributed transactions rollback", url: "/blog/2021/05/16/handling-distributed-transactions-rollback.html" }
		posts.push(post);
	
		post={title: "Removing the empty space around image using blur technique in CSS", url: "/blog/2021/05/09/removing-empty-space-around-image-using-blur-css.html" }
		posts.push(post);
	
		post={title: "Useful Angular libraries", url: "/blog/2021/05/02/useful-angular-libraries.html" }
		posts.push(post);
	
		post={title: "HashMap with TTL", url: "/blog/2021/02/27/hashmap-with-ttl.html" }
		posts.push(post);
	
		post={title: "Same origin policy and CORS", url: "/blog/2021/02/20/same-origin-policy-and-cors.html" }
		posts.push(post);
	
		post={title: "Ways of traversing tree", url: "/blog/2021/02/10/ways-of-traversing-tree.html" }
		posts.push(post);
	
		post={title: "Pitfalls while using Lombok with Java Development", url: "/blog/2021/02/06/pitfalls-while-using-lombok.html" }
		posts.push(post);
	
		post={title: "LeetCode Format", url: "/blog/2021/01/18/leetcode-format.html" }
		posts.push(post);
	
		post={title: "Realtime Google Analytics in Firefox tab", url: "/blog/2020/12/27/realtime-google-analytics-firefox-tab.html" }
		posts.push(post);
	
		post={title: "Sockets in shell", url: "/blog/2020/12/13/sockets-in-shell.html" }
		posts.push(post);
	
		post={title: "Binary Search bug in JDK", url: "/blog/2020/12/05/binary-search-jdk-bug.html" }
		posts.push(post);
	
		post={title: "Generic traffic splitting algorithm", url: "/blog/2020/11/29/generic-traffic-splitting-algorithm.html" }
		posts.push(post);
	
		post={title: "Speed up debugging in IntelliJ", url: "/blog/2020/11/13/speed-up-slow-debugging-intellij.html" }
		posts.push(post);
	
		post={title: "Dual Booting Windows and Linux on different HDD / SDD", url: "/blog/2020/11/01/dual-boot-windows-kali-different-hdd.html" }
		posts.push(post);
	
		post={title: "Partitioned Browser Cache Starting Chrome v86", url: "/blog/2020/10/18/partitioned-browser-cache.html" }
		posts.push(post);
	
		post={title: "Object Oriented Programming in JavaScript", url: "/blog/2020/09/27/oop-javascript.html" }
		posts.push(post);
	
		post={title: "Handle timeouts while connecting to cassandra", url: "/blog/2020/09/27/handle-cassandra-timeouts.html" }
		posts.push(post);
	
		post={title: "Javascript Event loop and call stack", url: "/blog/2020/09/12/javascript-event-loop-call-stack.html" }
		posts.push(post);
	
		post={title: "Estimate no. of kafka partitions handled by a single thread on compute", url: "/blog/2020/09/06/estimate-partitions-single-thread-compute.html" }
		posts.push(post);
	
		post={title: "Kafka Consumer Multithreading", url: "/blog/2020/08/30/kafka-consumer-multithreading.html" }
		posts.push(post);
	
		post={title: "Debugging SSL Issues", url: "/blog/2020/08/21/debugging-ssl-issues.html" }
		posts.push(post);
	
		post={title: "Why do Lambda functions require final variables", url: "/blog/2020/08/16/lambda-functions-final-variable.html" }
		posts.push(post);
	
		post={title: "Best Mechanical Keyboards in India for Engineers", url: "/blog/2020/08/08/best-mechanical-keyboards-india.html" }
		posts.push(post);
	
		post={title: "Overview of Active-Active Kafka Cluster using MirrorMaker 2.0", url: "/blog/2020/08/01/active-active-kafka-cluster.html" }
		posts.push(post);
	
		post={title: "Kotlin for Java Developers - Part 3", url: "/blog/2020/07/26/kotlin-for-java-developers-part3.html" }
		posts.push(post);
	
		post={title: "Kotlin for Java Developers - Part 2", url: "/blog/2020/07/17/kotlin-for-java-developers-part2.html" }
		posts.push(post);
	
		post={title: "Kotlin for Java Developers", url: "/blog/2020/07/10/kotlin-for-java-developers.html" }
		posts.push(post);
	
		post={title: "Bulk insertion of Rows in CosmosDB", url: "/blog/2020/07/03/buld-insert-cosmosdb.html" }
		posts.push(post);
	
		post={title: "The validation data provided must contain class", url: "/blog/2020/06/28/validation-data-provided-must-contain-class.html" }
		posts.push(post);
	
		post={title: "Determine if your Macbook battery is about to die", url: "/blog/2020/06/21/find-out-if-your-macbook-battery-die.html" }
		posts.push(post);
	
		post={title: "Finding intersection of two lists in shell", url: "/blog/2020/06/13/find-intersection-lists-shell.html" }
		posts.push(post);
	
		post={title: "Executing commands in parallel in Shell and other fun stuff", url: "/blog/2020/06/06/generate-multiple-uuid-shell.html" }
		posts.push(post);
	
		post={title: "Customize Windows 10 Desktop", url: "/blog/2020/05/30/customize-windows10-desktop.html" }
		posts.push(post);
	
		post={title: "Different HTTP Timeouts in HTTP Client", url: "/blog/2020/05/16/http-timeouts.html" }
		posts.push(post);
	
		post={title: "Unit testing HTTP retry strategies", url: "/blog/2020/05/09/unit-testing-http-retry-strategies.html" }
		posts.push(post);
	
		post={title: "Tools to test remote connectivity in Linux", url: "/blog/2020/05/01/tools-test-connectivity-linux.html" }
		posts.push(post);
	
		post={title: "Classloaders, Containers & Unit Tests", url: "/blog/2020/04/25/classloaders-containers-unit-tests.html" }
		posts.push(post);
	
		post={title: "Fastest way to spin up Kubernetes cluster on AWS", url: "/blog/2020/04/11/fastest-way-spin-kubernetes-cluster.html" }
		posts.push(post);
	
		post={title: "Adding package suppressions in Checkstyle and Spotbugs", url: "/blog/2020/03/28/adding-package-suppressions-checkstyle-spotbugs.html" }
		posts.push(post);
	
		post={title: "Lessons learnt using Apache HTTP Connection Pooling Library", url: "/blog/2020/03/22/prevent-connection-leak-apache-http.html" }
		posts.push(post);
	
		post={title: "Tailing log files on multiple remote machines", url: "/blog/2020/03/14/tailing-multiple-log-files.html" }
		posts.push(post);
	
		post={title: "Importing certificate into Java Keystore", url: "/blog/2020/03/07/import-certificate-java.html" }
		posts.push(post);
	
		post={title: "Solving: Request header is too large", url: "/blog/2020/02/29/request-header-is-too-large.html" }
		posts.push(post);
	
		post={title: "Must have Java code analysis Tools - Part 3", url: "/blog/2020/02/15/must-have-java-code-analysis-tools-part3.html" }
		posts.push(post);
	
		post={title: "Incrementally routing traffic to newer version of service", url: "/blog/2020/02/08/incrementally-route-traffic-newer-version-service.html" }
		posts.push(post);
	
		post={title: "Must have Java code analysis Tools - Part 2", url: "/blog/2020/02/02/must-have-java-code-analysis-tools-part2.html" }
		posts.push(post);
	
		post={title: "Must have Java code analysis Tools - Part 1", url: "/blog/2020/01/26/must-have-java-code-analysis-tools-part1.html" }
		posts.push(post);
	
		post={title: "Running splunk on docker on OSX", url: "/blog/2020/01/18/running-splunk-docker-osx.html" }
		posts.push(post);
	
		post={title: "Ensuring git commit messages contain JIRA ID", url: "/blog/2020/01/12/git-prepare-commit-message-jira-id.html" }
		posts.push(post);
	
		post={title: "Goodreads For Flipkart", url: "/blog/2019/09/13/goodreads-flipkart-chrome-extension.html" }
		posts.push(post);
	
		post={title: "Kafka rebalancing", url: "/blog/2019/08/31/kafka-rebalancing.html" }
		posts.push(post);
	
		post={title: "id generation strategies", url: "/blog/2019/08/19/id-generation-strategies.html" }
		posts.push(post);
	
		post={title: "Meaning of atleast once, atmost once and exactly once delivery", url: "/blog/2019/08/04/atleast-once-atmost-once-exactly-once.html" }
		posts.push(post);
	
		post={title: "Deadlocks in Optimistic locking", url: "/blog/2019/08/02/deadlocks-optimistic-locking.html" }
		posts.push(post);
	
		post={title: "Concurrency in Python", url: "/blog/2019/07/14/concurrency-python.html" }
		posts.push(post);
	
		post={title: "Parallelism and ordering", url: "/blog/2019/07/04/parallelism-ordering.html" }
		posts.push(post);
	
		post={title: "Setting up Java project for monitoring", url: "/blog/2019/06/29/java-monitoring.html" }
		posts.push(post);
	
		post={title: "Considerations for high throughput kafka producer", url: "/blog/2019/06/17/highthroughputkafka.html" }
		posts.push(post);
	
		post={title: "Lessons from History", url: "/blog/2019/06/15/lessonsfromhistory.html" }
		posts.push(post);
	
		post={title: "Consuming from Kafka", url: "/blog/2019/06/15/consumingkafka.html" }
		posts.push(post);
	
		post={title: "Using SEDA", url: "/blog/2019/06/09/stagedevents.html" }
		posts.push(post);
	
		post={title: "Life is a game of risk and reward", url: "/blog/2018/04/18/liferiskreward.html" }
		posts.push(post);
	
		post={title: "Koshish", url: "/blog/2018/04/07/koshish.html" }
		posts.push(post);
	
		post={title: "Ramifications of a mediocre founders", url: "/blog/2018/04/01/rarmificationsmediocrecto.html" }
		posts.push(post);
	
		post={title: "Push beyond comfort zone", url: "/blog/2018/03/27/pushbeyondcomfortzone.html" }
		posts.push(post);
	
		post={title: "Quality or Quantity", url: "/blog/2018/02/24/quality-quantity.html" }
		posts.push(post);
	
		post={title: "Doraha", url: "/blog/2018/02/16/poem-doraha.html" }
		posts.push(post);
	
		post={title: "Handling stack traces in Elasticsearch Logstash Kibana (ELK)", url: "/blog/2017/04/30/view-exceptions-in-elk.html" }
		posts.push(post);
	
		post={title: "Using curator to delete older elasticsearch indices", url: "/blog/2017/04/09/usingcuratordeleteelasticindex.html" }
		posts.push(post);
	
		post={title: "Angular2 Confirmation Dialog component", url: "/blog/2017/03/26/angular-confirmation-dialog.html" }
		posts.push(post);
	
		post={title: "Useful tcpdump usages", url: "/blog/2017/02/18/useful-tcpdump-netcat-usages.html" }
		posts.push(post);
	
		post={title: "Bulk git clone repositories", url: "/blog/2017/02/12/git-bulk-clone.html" }
		posts.push(post);
	
		post={title: "Tuning Linux servers for scalability", url: "/blog/2017/01/30/tuning-linux-servers-scalability.html" }
		posts.push(post);
	
		post={title: "Close look at proxy_cache_lock and proxy_cache_use_stale in Nginx", url: "/blog/2016/12/25/proxy-cache-lock-nginx.html" }
		posts.push(post);
	
		post={title: "Improving performance using Batch APIs", url: "/blog/2016/12/25/batch-api-framework-nodejs.html" }
		posts.push(post);
	
		post={title: "Integrate node.js logging with Sentry", url: "/blog/2016/12/04/integrating-sentry-node.html" }
		posts.push(post);
	
		post={title: "Couchbase exception handling in Node.js", url: "/blog/2016/12/04/handling-couchbase-node.html" }
		posts.push(post);
	
		post={title: "Debugging SSL Issues in Java", url: "/blog/2016/10/30/debugging-ssl-issues-java.html" }
		posts.push(post);
	
		post={title: "Learnings from moving from MBR to GPT, multi-booting and random stuff", url: "/blog/2016/10/16/learning-moving-mbr-gpt-uefi.html" }
		posts.push(post);
	
		post={title: "Effect of connection pooling on node.js performance", url: "/blog/2016/09/05/nodejs-connection-pooling.html" }
		posts.push(post);
	
		post={title: "Code linting tools", url: "/blog/2016/09/04/code-linting-tools.html" }
		posts.push(post);
	
		post={title: "Adding Service worker to Jekyll Site", url: "/blog/2016/08/21/service-worker-jekyll-site.html" }
		posts.push(post);
	
		post={title: "Caching authenticated requests using NGINX", url: "/blog/2016/07/31/nginx-cache-authenticated-requests.html" }
		posts.push(post);
	
		post={title: "Create a couchbase bucket during build of the container", url: "/blog/2016/07/07/create-couchbase-bucket-docker.html" }
		posts.push(post);
	
		post={title: "Speeding up Node.js HTTP requests with DNS caching", url: "/blog/2016/05/28/nodejs-dns-cache.html" }
		posts.push(post);
	
		post={title: "Things to learn for Modern Web Development", url: "/blog/2016/05/14/things-learn-modern-web-development.html" }
		posts.push(post);
	
		post={title: "Read Google docs spreadsheet using Python", url: "/blog/2016/05/13/google-docs-spreadsheet.html" }
		posts.push(post);
	
		post={title: "Handling special characters in Python 2", url: "/blog/2016/04/25/handling-special-characters-python.html" }
		posts.push(post);
	
		post={title: "Making AngularJs play nice with Social sharing", url: "/blog/2016/04/09/making-angular-play-nice-with-social-sharing.html" }
		posts.push(post);
	
		post={title: "Understanding free output in Linux", url: "/blog/2016/04/08/understanding-free-output.html" }
		posts.push(post);
	
		post={title: "On calling your former employers shit", url: "/blog/2016/04/08/calling-former-employers-shit.html" }
		posts.push(post);
	
		post={title: "NSImage Caching", url: "/blog/2016/01/25/using-ns-image.html" }
		posts.push(post);
	
		post={title: "Google groups for Developers", url: "/blog/2016/01/03/google-groups-developers.html" }
		posts.push(post);
	
		post={title: "Managing Programmers By Douglas Crockford", url: "/blog/2015/12/27/managing-programmers.html" }
		posts.push(post);
	
		post={title: "Timing function / task execution in Celery", url: "/blog/2015/12/14/timing-function-calls.html" }
		posts.push(post);
	
		post={title: "Ringtone Preference in Feed Notifier", url: "/blog/2015/12/06/notification-feed-notifier.html" }
		posts.push(post);
	
		post={title: "Flexbox is not supported Android 4.3 and below", url: "/blog/2015/11/29/flexbox-not-supported.html" }
		posts.push(post);
	
		post={title: "Scaling Celery Task queue", url: "/blog/2015/11/17/celery-tips-and-tricks.html" }
		posts.push(post);
	
		post={title: "CountDownLatch in Python using Condition Objects", url: "/blog/2015/11/02/countdownlatch-python.html" }
		posts.push(post);
	
		post={title: "Feed notifier updated", url: "/blog/2015/10/25/feed-notifier-updated.html" }
		posts.push(post);
	
		post={title: "Why is only UI thread allowed to modify the UI", url: "/blog/2015/10/18/ui-thread-modify.html" }
		posts.push(post);
	
		post={title: "Angular Chat popup", url: "/blog/2015/09/14/angular-chat-popup.html" }
		posts.push(post);
	
		post={title: "Caching http requests with Angular", url: "/blog/2015/08/24/angular-caching.html" }
		posts.push(post);
	
		post={title: "Emoji Keyboard and Chat bubbles in Android", url: "/blog/2015/03/06/emoji-bubbles-android.html" }
		posts.push(post);
	
		post={title: "Encoding and Decoding Emoji for Cross platform", url: "/blog/2014/12/26/emoji-encoding-decoding.html" }
		posts.push(post);
	
		post={title: "Useful Javascript Design patterns", url: "/blog/2014/12/15/javascript-design-patterns.html" }
		posts.push(post);
	
		post={title: "Multiboot: Booting linux from ISO placed in HDD via GRUB", url: "/blog/2014/10/18/linux-multiboot.html" }
		posts.push(post);
	
		post={title: "An awesome conky configuration", url: "/blog/2014/10/10/awesome-conky.html" }
		posts.push(post);
	
		post={title: "Union and Intersection of ArrayList in Java", url: "/blog/2014/07/29/unionintersection.html" }
		posts.push(post);
	
		post={title: "Find Nth largest element in an array", url: "/blog/2014/07/28/findnthlargest.html" }
		posts.push(post);
	
		post={title: "Algorithm: Convert number to word", url: "/blog/2014/07/28/convertnumbertoword.html" }
		posts.push(post);
	
		post={title: "Building Git 2.0.0 from sources on Windows", url: "/blog/2014/06/08/guidebuildgit2.html" }
		posts.push(post);
	
		post={title: "Change ImageView src based on Android Application theme", url: "/blog/2014/06/04/changeimageviewsrctheme.html" }
		posts.push(post);
	
		post={title: "Hermes removed from Play Store by Google", url: "/blog/2014/05/26/hermesremoved.html" }
		posts.push(post);
	
		post={title: "Javascript Basics Part IV", url: "/blog/2014/05/25/javascriptbasic4.html" }
		posts.push(post);
	
		post={title: "Javascript Basics Part III", url: "/blog/2014/05/24/javascriptbasics3.html" }
		posts.push(post);
	
		post={title: "Javascript Basics Part II", url: "/blog/2014/05/23/javascriptbasics2.html" }
		posts.push(post);
	
		post={title: "Javascript Basics Part I", url: "/blog/2014/05/22/javascriptbasics.html" }
		posts.push(post);
	
		post={title: "Portable Jekyll Upgraded to 2.0.1", url: "/blog/2014/05/07/portablejekyllupdated.html" }
		posts.push(post);
	
		post={title: "Decoding the hidden Wunderlist API (Part II)", url: "/blog/2014/05/02/decodewunderlistapi2.html" }
		posts.push(post);
	
		post={title: "Decoding the hidden Wunderlist API (Part I)", url: "/blog/2014/05/02/decodewunderlistapi.html" }
		posts.push(post);
	
		post={title: "Feedly OAuth 2.0 implementation using Scribe in Java", url: "/blog/2014/04/17/feedlyoauth2flow.html" }
		posts.push(post);
	
		post={title: "Updating Created By field in SharePoint through Client Object Model", url: "/blog/2014/04/09/updatingcreatedby.html" }
		posts.push(post);
	
		post={title: "Hosting Git repository on a Windows LAN", url: "/blog/2014/04/09/hostgitwindowslan.html" }
		posts.push(post);
	
		post={title: "Writing Silverlight people picker control using SharePoint 2010 Client object model", url: "/blog/2014/01/29/silverlight-people-picker.html" }
		posts.push(post);
	
		post={title: "Reading and writing People Values in SharePoint List through Silverlight Client object model", url: "/blog/2014/01/29/read-write-people-values-sharepoint-silverlight.html" }
		posts.push(post);
	
		post={title: "Convert claims based login name in SharePoint Client object model", url: "/blog/2014/01/29/convert-claim-based-login-name.html" }
		posts.push(post);
	
		post={title: "New look for my site", url: "/blog/2014/01/10/newlookofmysite.html" }
		posts.push(post);
	
		post={title: "Portable Jekyll Updated to Jekyll v1.3.0", url: "/blog/2013/11/05/updateportablejekyll.html" }
		posts.push(post);
	
		post={title: "Making most out of _data directory in Jekyll", url: "/blog/2013/11/05/makingmostdatadirectory.html" }
		posts.push(post);
	
		post={title: "Introducing Hermes Android App", url: "/blog/2013/11/05/introducinghermesandroidapp.html" }
		posts.push(post);
	
		post={title: "Building portable Jekyll for Windows", url: "/blog/2013/07/20/buildportablejekyll.html" }
		posts.push(post);
	
		post={title: "Adventures with Corel Draw", url: "/blog/2013/07/20/adventurecoreldraw.html" }
		posts.push(post);
	
		post={title: "Jekyll upgraded to 1.0.2", url: "/blog/2013/06/02/jekyllupgraded.html" }
		posts.push(post);
	
		post={title: "Browser Market Share of Internet Explorer", url: "/blog/2012/05/05/browsermarketshare.html" }
		posts.push(post);
	
		post={title: "WebServices or Client Object Model", url: "/blog/2012/04/15/webservicescom.html" }
		posts.push(post);
	
		post={title: "Move your projects from TFS to Git in Codeplex", url: "/blog/2012/03/27/codeplexmovegit.html" }
		posts.push(post);
	
		post={title: "Enable code highlighting with Pygments/Jekyll", url: "/blog/2012/03/05/codehighlightjekyll.html" }
		posts.push(post);
	
		post={title: "What's wrong with Microsoft", url: "/blog/2012/03/01/whatswrongwithmsft.html" }
		posts.push(post);
	
		post={title: "How to upgrade your Jekyll Blog/Site to HTML5", url: "/blog/2012/02/26/upgradehtml5.html" }
		posts.push(post);
	
		post={title: "Learning HTML5", url: "/blog/2012/02/20/learnhtml5.html" }
		posts.push(post);
	
		post={title: "Conditional comments in Internet Explorer", url: "/blog/2012/02/20/conditionalcommentsie.html" }
		posts.push(post);
	
		post={title: "Future of Web and Mobile: HTML5, CSS3 and Javascript", url: "/blog/2012/02/15/futurewebmobile.html" }
		posts.push(post);
	
		post={title: "Using MakeFile with Assembly Programming", url: "/blog/2012/02/08/makefileassembly.html" }
		posts.push(post);
	
		post={title: "Updated with Blueprint CSS Framework", url: "/blog/2012/02/02/updateblueprintcss.html" }
		posts.push(post);
	
		post={title: "GitHub Pages are served from the Default Branch", url: "/blog/2012/02/02/githubpages.html" }
		posts.push(post);
	
		post={title: "Invoke SharePoint 2010 Approval Workflow with Dynamic Approvers using Web Services and Jquery", url: "/blog/2012/01/09/spworkflowapprovers.html" }
		posts.push(post);
	
		post={title: "Silverlight Chart Control for SharePoint 2010", url: "/blog/2011/12/29/slchart.html" }
		posts.push(post);
	
		post={title: "Windows command shell(cmd.exe) runs only first command", url: "/blog/2011/12/29/cmdshellfirst.html" }
		posts.push(post);
	
		post={title: "Privilege escalation on Windows using Binary Planting", url: "/blog/2011/09/23/privilegeescalation.html" }
		posts.push(post);
	
		post={title: "Difference between Filtered vs Closed Ports", url: "/blog/2011/09/18/filteredclosed.html" }
		posts.push(post);
	
		post={title: "Crack or Reset Windows Passwords", url: "/blog/2011/09/18/crackresetwindows.html" }
		posts.push(post);
	
		post={title: "HackingLab Challenge: Disassemble .NET Clients", url: "/blog/2011/09/10/hackchallenge.html" }
		posts.push(post);
	
		post={title: "Best fonts for programming", url: "/blog/2011/09/09/bestfontscode.html" }
		posts.push(post);
	
		post={title: "Removing the Default Editor Parts from SharePoint Web Parts", url: "/blog/2011/09/06/hidingproppane.html" }
		posts.push(post);
	
		post={title: "AOE slang", url: "/blog/2011/09/06/aoeslang.html" }
		posts.push(post);
	
		post={title: "Running Jekyll on Windows", url: "/blog/2011/09/01/runningjekyllwindows.html" }
		posts.push(post);
	
		post={title: "Migrating 3rd party blogs to Jekyll", url: "/blog/2011/09/01/migratingblogtojekyll.html" }
		posts.push(post);
	
		post={title: "Pass the Hash Exploitation on Windows", url: "/blog/2011/08/16/passthehash.html" }
		posts.push(post);
	
		post={title: "Burnout", url: "/blog/2011/08/13/burnout.html" }
		posts.push(post);
	
		post={title: "Integrating Wordpress Tag cloud Plugin in Jekyll", url: "/blog/2011/08/12/wptagcloudjekyll.html" }
		posts.push(post);
	
		post={title: "Protections against buffer overflow exploits in Linux", url: "/blog/2011/08/06/protbufferoverflow.html" }
		posts.push(post);
	
		post={title: "Classic Buffer overflow exploits on Linux x64", url: "/blog/2011/08/04/exploitdevlinux.html" }
		posts.push(post);
	
		post={title: "Exploring Web Application vulnerabilities", url: "/blog/2011/07/26/explorwebappsecurity.html" }
		posts.push(post);
	
		post={title: "Hacking Router password using Hydra", url: "/blog/2011/07/25/hackrouterpassword.html" }
		posts.push(post);
	
		post={title: "My Top Network Security Tools", url: "/blog/2011/06/22/topsecuritytools.html" }
		posts.push(post);
	
		post={title: "Facebook Vulnerability - Session sidejacking", url: "/blog/2011/06/12/facebooksessionhijacking.html" }
		posts.push(post);
	
		post={title: "Creating Tag cloud of Categories in Jekyll", url: "/blog/2011/06/11/tagcloudjekyll.html" }
		posts.push(post);
	
		post={title: "Github as a development platform", url: "/blog/2011/06/11/githubplatform.html" }
		posts.push(post);
	
		post={title: "Reverse engineering Google chrome extensions", url: "/blog/2011/06/03/reverseengineerchrome.html" }
		posts.push(post);
	

	var mySite = angular.module('mySite', []);

	mySite.config(function($interpolateProvider) {
	  $interpolateProvider.startSymbol('//');
	  $interpolateProvider.endSymbol('//');
	});

	var myController=function($scope)
	{
		$scope.posts=posts;
	}

	mySite.controller('myControlller', myController);

</script>

<div class="clearfix" style="float:clear;" ng-app="mySite" ng-controller="myController">

<div class="form-group">
	<input style="background:#1c1c1c;border-width:0px;" placeholder="Enter the search term" class="form-control" type="search" ng-model="searchText" />
</div>
<p />
<br />
<ul>
	<li ng-repeat="post in posts | filter:searchText">
		
			<a href="//post.url//" style="pointer:cursor;">//post.title//</a>
		
	</li>
</ul>

</div>


</section>

        </div>


        <footer id="footer" class="row">

            <p id="copyright">
                &copy; 2011-2024 Madhur Ahuja
            </p>
            <p id="poweredby" class="visible-lg visible-md">
                Powered by
                <a href="http://jekyllrb.com" title="A static, minimalist CMS">Jekyll</a>,
                <a href="http://github.com/">Github</a> and
                <a href="http://disqus.com">Disqus</a>.
            </p>

            <div class="c">&nbsp;</div>


        </footer>


    </div>

    <script data-main="/files/js/app" src="/files/js/require.js"></script> 
    

    <!-- serviceWorker.html -->
    <script>
        if ('serviceWorker' in navigator) {

            navigator.serviceWorker.getRegistrations().then(function (registrations) {
                for (let registration of registrations) {
                    registration.unregister()
                }
            })
        }

// if ('serviceWorker' in navigator) {
//     navigator.serviceWorker.register('/serviceWorker.js').then(function(reg) {
//         if (!reg.installing) return;
//         console.log("[*] ServiceWorker is installing...");

//         var worker = reg.installing;
//         worker.addEventListener('statechange', function() {
//             if (worker.state == 'redundant') {
//                 console.log('[*] Install failed');
//             }
//             if (worker.state == 'installed') {
//                 console.log('[*] Install successful!');
//             }
//         });
//     });
// }

    </script>

</body>

</html>