<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Oops! The page you were looking for was not found &#8211; Madhur Ahuja</title>
    <meta name="author" content="Madhur Ahuja" />
    <meta name="description" content=" Oops! The page you were looking for was not found" />

    <link rel="start" href="/" />

    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/madhur" title="RSS feed" />
    <link rel="shortcut icon" href="http://www.gravatar.com/avatar/5352cde0b084abcd6d4d783c08a51c76?s=16" />

    <link rel="stylesheet" href="/files/css/bootstrap.min.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/files/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/files/css/jquery.fancybox.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/files/css/styles.css" />
    

    <link rel="stylesheet" type="text/css" media="print" href="/files/css/print.css">

     
        <script src="/files/js/vendor/angular.js" type="text/javascript"></script>
    
   
</head>

<body>


    <div class="container">
       
            <header id="header" class="row">

                <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">

    <div class="navbar-header">

     <div class="hidden-md hidden-sm hidden-lg searchli">

                <form method="get" role="search" id="searchform" action="/results" onsubmit="return checkfrm_search();">

                    <div class="form-group">
                        <input type="search" required id="q2" name="q" value="" class="form-control mobile" placeholder="Search" />
                    </div>
                </form>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--  <a class="navbar-brand " href="/">Home</a> -->
    </div>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul id="nav" class="nav navbar-nav">
            
            <li><a class="home" href="/">Home</a>
            </li>
            <li><a class="blog" href="/blog">Blog</a>
            </li>
            <!--<li><a class="work" href="/work">Resume</a></li>-->
            <li><a class="code" href="/projects">Projects</a>
            </li>
            <!--<li><a class="papers" href="/papers">Papers</a></li>-->
            <li><a class="info" href="/info">About</a>
            </li>
            <li><a class="contact" href="/contact">Contact</a>
            </li>

        </ul>

        <ul class="nav navbar-nav visible-md visible-lg visible-sm searchbox">
            <li>
                <form method="get" role="search" id="searchform" action="/results" onsubmit="return checkfrm_search();">

                    <div class="form-group">
                        <input type="search" required id="q1" name="q" value="" class="form-control desktop" placeholder="Search" />
                    </div>
                </form>
            </li>
        </ul>


        <ul class="nav-icons navbar-right nav navbar-nav visible-md visible-lg">
            <li><a href="http://www.linkedin.com/in/madhurahuja"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </li>
            <li><a href="https://github.com/madhur"><i class="fa fa-github fa-3x"></i></a>
            </li>
            <li><a href="http://feeds.feedburner.com/madhur"><i class="fa fa-rss-square fa-3x"></i></a>
            </li>
        </ul>


    </div>

</div>
</nav>


            </header>
       
        <div id="content" class="row">

            <section class="col-md-12">
	 <h1>:(){ :|: &amp; };:#</h1>

<h2>Oops! The page you were looking for was not found</h2>

<p>Please try to search the articles below by entering the few keywords in text below. If you are looking for still cannot be found, please send me a an <a href='mailto:ahuja.madhur@gmail.com'>email</a> with the link or the content you were originally looking for.</p>

<p><script type="text/javascript">
    var posts=[];</p>
<div class="highlight"><pre><code class="language-text" data-lang="text">    post={title: &quot;Encoding and Decoding Emoji for Cross platform&quot;, url: &quot;/blog/2014/12/26/emoji-encoding-decoding.html&quot; }
    posts.push(post);

    post={title: &quot;Useful Javascript Design patterns&quot;, url: &quot;/blog/2014/12/15/javascript-design-patterns.html&quot; }
    posts.push(post);

    post={title: &quot;Multiboot: Booting linux from ISO placed in HDD via GRUB&quot;, url: &quot;/blog/2014/10/18/linux-multiboot.html&quot; }
    posts.push(post);

    post={title: &quot;An awesome conky configuration&quot;, url: &quot;/blog/2014/10/10/awesome-conky.html&quot; }
    posts.push(post);

    post={title: &quot;Union and Intersection of ArrayList in Java&quot;, url: &quot;/blog/2014/07/29/unionintersection.html&quot; }
    posts.push(post);

    post={title: &quot;Find Nth largest element in an array&quot;, url: &quot;/blog/2014/07/28/findnthlargest.html&quot; }
    posts.push(post);

    post={title: &quot;Algorithm: Convert number to word&quot;, url: &quot;/blog/2014/07/28/convertnumbertoword.html&quot; }
    posts.push(post);

    post={title: &quot;Building Git 2.0.0 from sources on Windows&quot;, url: &quot;/blog/2014/06/08/guidebuildgit2.html&quot; }
    posts.push(post);

    post={title: &quot;Change ImageView src based on Android Application theme&quot;, url: &quot;/blog/2014/06/04/changeimageviewsrctheme.html&quot; }
    posts.push(post);

    post={title: &quot;Hermes removed from Play Store by Google&quot;, url: &quot;/blog/2014/05/26/hermesremoved.html&quot; }
    posts.push(post);

    post={title: &quot;Javascript Basics Part IV&quot;, url: &quot;/blog/2014/05/25/javascriptbasic4.html&quot; }
    posts.push(post);

    post={title: &quot;Javascript Basics Part III&quot;, url: &quot;/blog/2014/05/24/javascriptbasics3.html&quot; }
    posts.push(post);

    post={title: &quot;Javascript Basics Part II&quot;, url: &quot;/blog/2014/05/23/javascriptbasics2.html&quot; }
    posts.push(post);

    post={title: &quot;Javascript Basics Part I&quot;, url: &quot;/blog/2014/05/22/javascriptbasics.html&quot; }
    posts.push(post);

    post={title: &quot;Portable Jekyll Upgraded to 2.0.1&quot;, url: &quot;/blog/2014/05/07/portablejekyllupdated.html&quot; }
    posts.push(post);

    post={title: &quot;Decoding the hidden Wunderlist API (Part II)&quot;, url: &quot;/blog/2014/05/02/decodewunderlistapi2.html&quot; }
    posts.push(post);

    post={title: &quot;Decoding the hidden Wunderlist API (Part I)&quot;, url: &quot;/blog/2014/05/02/decodewunderlistapi.html&quot; }
    posts.push(post);

    post={title: &quot;Feedly OAuth 2.0 implementation using Scribe in Java&quot;, url: &quot;/blog/2014/04/17/feedlyoauth2flow.html&quot; }
    posts.push(post);

    post={title: &quot;Updating Created By field in SharePoint through Client Object Model&quot;, url: &quot;/blog/2014/04/09/updatingcreatedby.html&quot; }
    posts.push(post);

    post={title: &quot;Hosting Git repository on a Windows LAN&quot;, url: &quot;/blog/2014/04/09/hostgitwindowslan.html&quot; }
    posts.push(post);

    post={title: &quot;Writing Silverlight people picker control using SharePoint 2010 Client object model&quot;, url: &quot;/blog/2014/01/29/silverlight-people-picker.html&quot; }
    posts.push(post);

    post={title: &quot;Reading and writing People Values in SharePoint List through Silverlight Client object model&quot;, url: &quot;/blog/2014/01/29/read-write-people-values-sharepoint-silverlight.html&quot; }
    posts.push(post);

    post={title: &quot;Convert claims based login name in SharePoint Client object model&quot;, url: &quot;/blog/2014/01/29/convert-claim-based-login-name.html&quot; }
    posts.push(post);

    post={title: &quot;New look for my site&quot;, url: &quot;/blog/2014/01/10/newlookofmysite.html&quot; }
    posts.push(post);

    post={title: &quot;Portable Jekyll Updated to Jekyll v1.3.0&quot;, url: &quot;/blog/2013/11/05/updateportablejekyll.html&quot; }
    posts.push(post);

    post={title: &quot;Making most out of _data directory in Jekyll&quot;, url: &quot;/blog/2013/11/05/makingmostdatadirectory.html&quot; }
    posts.push(post);

    post={title: &quot;Introducing Hermes Android App&quot;, url: &quot;/blog/2013/11/05/introducinghermesandroidapp.html&quot; }
    posts.push(post);

    post={title: &quot;Building portable Jekyll for Windows&quot;, url: &quot;/blog/2013/07/20/buildportablejekyll.html&quot; }
    posts.push(post);

    post={title: &quot;Adventures with Corel Draw&quot;, url: &quot;/blog/2013/07/20/adventurecoreldraw.html&quot; }
    posts.push(post);

    post={title: &quot;Jekyll upgraded to 1.0.2&quot;, url: &quot;/blog/2013/06/02/jekyllupgraded.html&quot; }
    posts.push(post);

    post={title: &quot;Browser Market Share of Internet Explorer&quot;, url: &quot;/blog/2012/05/05/browsermarketshare.html&quot; }
    posts.push(post);

    post={title: &quot;WebServices or Client Object Model&quot;, url: &quot;/blog/2012/04/15/webservicescom.html&quot; }
    posts.push(post);

    post={title: &quot;Move your projects from TFS to Git in Codeplex&quot;, url: &quot;/blog/2012/03/27/codeplexmovegit.html&quot; }
    posts.push(post);

    post={title: &quot;Enable code highlighting with Pygments/Jekyll&quot;, url: &quot;/blog/2012/03/05/codehighlightjekyll.html&quot; }
    posts.push(post);

    post={title: &quot;What&#39;s wrong with Microsoft&quot;, url: &quot;/blog/2012/03/01/whatswrongwithmsft.html&quot; }
    posts.push(post);

    post={title: &quot;How to upgrade your Jekyll Blog/Site to HTML5&quot;, url: &quot;/blog/2012/02/26/upgradehtml5.html&quot; }
    posts.push(post);

    post={title: &quot;Learning HTML5&quot;, url: &quot;/blog/2012/02/20/learnhtml5.html&quot; }
    posts.push(post);

    post={title: &quot;Conditional comments in Internet Explorer&quot;, url: &quot;/blog/2012/02/20/conditionalcommentsie.html&quot; }
    posts.push(post);

    post={title: &quot;Future of Web and Mobile: HTML5, CSS3 and Javascript&quot;, url: &quot;/blog/2012/02/15/futurewebmobile.html&quot; }
    posts.push(post);

    post={title: &quot;Using MakeFile with Assembly Programming&quot;, url: &quot;/blog/2012/02/08/makefileassembly.html&quot; }
    posts.push(post);

    post={title: &quot;Updated with Blueprint CSS Framework&quot;, url: &quot;/blog/2012/02/02/updateblueprintcss.html&quot; }
    posts.push(post);

    post={title: &quot;GitHub Pages are served from the Default Branch&quot;, url: &quot;/blog/2012/02/02/githubpages.html&quot; }
    posts.push(post);

    post={title: &quot;Invoke SharePoint 2010 Approval Workflow with Dynamic Approvers using Web Services and Jquery&quot;, url: &quot;/blog/2012/01/09/spworkflowapprovers.html&quot; }
    posts.push(post);

    post={title: &quot;Silverlight Chart Control for SharePoint 2010&quot;, url: &quot;/blog/2011/12/29/slchart.html&quot; }
    posts.push(post);

    post={title: &quot;Windows command shell(cmd.exe) runs only first command&quot;, url: &quot;/blog/2011/12/29/cmdshellfirst.html&quot; }
    posts.push(post);

    post={title: &quot;Privilege escalation on Windows using Binary Planting&quot;, url: &quot;/blog/2011/09/23/privilegeescalation.html&quot; }
    posts.push(post);

    post={title: &quot;Difference between Filtered vs Closed Ports&quot;, url: &quot;/blog/2011/09/18/filteredclosed.html&quot; }
    posts.push(post);

    post={title: &quot;Crack or Reset Windows Passwords&quot;, url: &quot;/blog/2011/09/18/crackresetwindows.html&quot; }
    posts.push(post);

    post={title: &quot;HackingLab Challenge: Disassemble .NET Clients&quot;, url: &quot;/blog/2011/09/10/hackchallenge.html&quot; }
    posts.push(post);

    post={title: &quot;Best fonts for programming&quot;, url: &quot;/blog/2011/09/09/bestfontscode.html&quot; }
    posts.push(post);

    post={title: &quot;Removing the Default Editor Parts from SharePoint Web Parts&quot;, url: &quot;/blog/2011/09/06/hidingproppane.html&quot; }
    posts.push(post);

    post={title: &quot;AOE slang&quot;, url: &quot;/blog/2011/09/06/aoeslang.html&quot; }
    posts.push(post);

    post={title: &quot;Running Jekyll on Windows&quot;, url: &quot;/blog/2011/09/01/runningjekyllwindows.html&quot; }
    posts.push(post);

    post={title: &quot;Migrating 3rd party blogs to Jekyll&quot;, url: &quot;/blog/2011/09/01/migratingblogtojekyll.html&quot; }
    posts.push(post);

    post={title: &quot;Pass the Hash Exploitation on Windows&quot;, url: &quot;/blog/2011/08/16/passthehash.html&quot; }
    posts.push(post);

    post={title: &quot;Burnout&quot;, url: &quot;/blog/2011/08/13/burnout.html&quot; }
    posts.push(post);

    post={title: &quot;Integrating Wordpress Tag cloud Plugin in Jekyll&quot;, url: &quot;/blog/2011/08/12/wptagcloudjekyll.html&quot; }
    posts.push(post);

    post={title: &quot;Protections against buffer overflow exploits in Linux&quot;, url: &quot;/blog/2011/08/06/protbufferoverflow.html&quot; }
    posts.push(post);

    post={title: &quot;Classic Buffer overflow exploits on Linux x64&quot;, url: &quot;/blog/2011/08/04/exploitdevlinux.html&quot; }
    posts.push(post);

    post={title: &quot;Exploring Web Application vulnerabilities&quot;, url: &quot;/blog/2011/07/26/explorwebappsecurity.html&quot; }
    posts.push(post);

    post={title: &quot;Hacking Router password using Hydra&quot;, url: &quot;/blog/2011/07/25/hackrouterpassword.html&quot; }
    posts.push(post);

    post={title: &quot;My Top Network Security Tools&quot;, url: &quot;/blog/2011/06/22/topsecuritytools.html&quot; }
    posts.push(post);

    post={title: &quot;Facebook Vulnerability - Session sidejacking&quot;, url: &quot;/blog/2011/06/12/facebooksessionhijacking.html&quot; }
    posts.push(post);

    post={title: &quot;Creating Tag cloud of Categories in Jekyll&quot;, url: &quot;/blog/2011/06/11/tagcloudjekyll.html&quot; }
    posts.push(post);

    post={title: &quot;Github as a development platform&quot;, url: &quot;/blog/2011/06/11/githubplatform.html&quot; }
    posts.push(post);

    post={title: &quot;Reverse engineering Google chrome extensions&quot;, url: &quot;/blog/2011/06/03/reverseengineerchrome.html&quot; }
    posts.push(post);


var mySite = angular.module(&#39;mySite&#39;, []);

mySite.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol(&#39;//&#39;);
  $interpolateProvider.endSymbol(&#39;//&#39;);
});

var myController=function($scope)
{
    $scope.posts=posts;
}

mySite.controller(&#39;myControlller&#39;, myController);
</code></pre></div>
<p></script></p>

<div class="clearfix" style="float:clear;" ng-app="mySite" ng-controller="myController">

<div class="form-group">
    <input style="background:#1c1c1c;border-width:0px;" placeholder="Enter the search term" class="form-control" type="search" ng-model="searchText" />
</div>

<p><p/>
<br/></p>

<ul>
    <li ng-repeat="post in posts | filter:searchText">
        
            <a href="//post.url//" style="pointer:cursor;">//post.title//</a>
        
    </li>
</ul>

<p></div></p>

</section>

        </div>


        <footer id="footer" class="row">

            <p id="copyright">
                &copy; 2011-2014 Madhur Ahuja
            </p>
            <p id="poweredby" class="visible-lg visible-md">
                Powered by
                <a href="http://jekyllrb.com" title="A static, minimalist CMS">Jekyll</a>, <a href="http://github.com/">Github</a> and <a href="http://disqus.com">Disqus</a>.
            </p>

            <div class="c">&nbsp;</div>


        </footer>


    </div>

    <script data-main="/files/js/app" src="/files/js/require.js"></script>

    
        <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23769089-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    

</body>

</html>
