P {
	COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10pt
}
LI {
	COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10pt
}
H1 {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: bold
}
H2 {
	COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
H3 {
	COLOR: rgb(49,57,132); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
H4 {
	COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.TableContents {
	COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10pt
}
TD.MailingList {
	FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; PADDING-LEFT: 2px
}
A:link {
	COLOR: #333985
}
.NoUnderline {
	TEXT-DECORATION: none
}
.Breadcrumbs {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt
}
.BreadcrumbDiv {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt
}
.BreadcrumbLeaf {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.UtilBar {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid
}
.UtilItem {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(57,90,57) 1px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt
}
.TopBar {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid
}
.TopBarItem {
	BORDER-BOTTOM: rgb(212,212,226) 1px solid; BORDER-LEFT: rgb(212,212,226) 1px solid; BORDER-RIGHT: rgb(212,212,226) 1px solid; BORDER-TOP: rgb(212,212,226) 1px solid; CURSOR: hand; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; TEXT-ALIGN: center
}
.TopBar TD.TopBarItem {
	BORDER-BOTTOM: rgb(212,212,226) 1px solid; BORDER-LEFT: rgb(212,212,226) 1px solid; BORDER-RIGHT: rgb(212,212,226) 1px solid; BORDER-TOP: rgb(212,212,226) 1px solid; CURSOR: hand; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.TopBarItem A {
	COLOR: black; TEXT-DECORATION: none
}
.TopBarItem A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.TopBarItem A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.TopBarItem A:active {
	COLOR: black; TEXT-DECORATION: none
}
.TabFiller {
	BORDER-BOTTOM: rgb(57,90,57) 1px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid
}
.TabGap {
	BACKGROUND-COLOR: rgb(212,212,226)
}
.SideBar {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 0px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(57,90,57) 1px solid; BORDER-TOP: rgb(153,153,153) 0px solid
}
.SideBarHeading {
	BACKGROUND-COLOR: rgb(212,212,226); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-LEFT: 2px; PADDING-TOP: 2px
}
.SideBar TD.SideBarItem {
	BORDER-BOTTOM: rgb(212,212,226) 1px solid; BORDER-LEFT: rgb(212,212,226) 1px solid; BORDER-RIGHT: rgb(57,90,57) 0px solid; BORDER-TOP: rgb(212,212,226) 1px solid; CURSOR: hand; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 15px; PADDING-TOP: 1px
}
.SideBarItem A {
	COLOR: black
}
.SideBarItem A:hover {
	COLOR: black
}
.SideBarItem A:visited {
	COLOR: black
}
.SideBarItem A:active {
	COLOR: black
}
.SideBarExtra {
	BACKGROUND-COLOR: rgb(212,212,226); BORDER-BOTTOM: rgb(153,153,153) 1px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(57,90,57) 1px solid; BORDER-TOP: rgb(153,153,153) 0px solid; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 1px
}
.ContentArea {
	BORDER-BOTTOM: rgb(57,90,57) 1px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(57,90,57) 0px solid; BORDER-TOP: rgb(57,90,57) 1px solid
}
.Footer {
	BACKGROUND-COLOR: #d6d6e7; BORDER-BOTTOM: rgb(57,90,57) 1px solid; BORDER-LEFT: rgb(153,153,153) 0px solid; BORDER-RIGHT: rgb(153,153,153) 0px solid; BORDER-TOP: rgb(153,153,153) 0px solid; COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 7.5pt; HEIGHT: 20px
}
.FooterItem {
	COLOR: rgb(0,0,0); FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.FooterItem A {
	COLOR: rgb(0,0,0); TEXT-DECORATION: none
}
.FooterItem A:visited {
	COLOR: rgb(0,0,0); TEXT-DECORATION: none
}
.Copyright {
	COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 7.5pt
}
.Copyright A {
	COLOR: black; TEXT-DECORATION: none
}
.Copyright A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.BottomAd {
	BORDER-BOTTOM: rgb(57,90,57) 1px solid; BORDER-LEFT: rgb(57,90,57) 1px solid; BORDER-RIGHT: rgb(57,90,57) 1px solid; BORDER-TOP: rgb(57,90,57) 1px solid; COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10pt
}
