<div class="category">

<div class="category">
	<h3>Latest Posts</h3>
 <ul class="sidebar">
{% for post in site.posts limit:5%}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>



{% endfor %}

</ul>
</div>



<div class="category tagcloud">
<h3>Tags</h3>
{% tag_cloud %}
</div>




<div class="category">
<h3>Top Commenters</h3>
<script type="text/javascript" src="http://madhur.disqus.com/top_commenters_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32"></script>
</div>


<div class="category">
<h3>Archives</h3>
{% monthly_archives %}

</div>


