<div class="timestamp">
	<time datetime="{{page.date}}" pubdate="pubdate">{{ page.date | date_to_long_string }}</time>

	<br>
	
</div> 

<div class="actions">
<ul> 
								<li><a href="{{page.url}}#disqus_thread" data-disqus-identifier="{{page.disqus_id}}" class="comment">View Comments</a></li> 

<script type="text/javascript">

	var disqus_developer = 0;
		var disqus_shortname = 'madhur';
		var disqus_iframe_css = "http://madhur.github.com/css/screen.css";
			var links = document.getElementsByTagName('a');
			var query = '?';
			
					query += 'url=' + encodeURIComponent(window.location.href) + '&';
					//alert(query);
				
			
	document.write('<script type="text/javascript" src="http://disqus.com/forums/madhur/get_num_replies.js?url2=' + encodeURIComponent(window.location.url) + '#disqus_thread"></' + 'script>');
	

</script>


						
								<li><a href="http://feeds.feedburner.com/madhur" class="subscribe">subscribe to this blog</a></li> 
								
								<li><a href="javascript:Clickheretoprint()" class="subscribe">print this page</a></li> 								
								<li><a href="{{page.url}}" class="permalink">permalink</a></li> 
															</ul> 

</div>


<div class="category">

	
	<div style="text-align:center">
	<!-- Enable social features -->
				{% include social.html %}
	</div>

</div>




<!-- <div class="category">

	{% if site.mode != 'dev' %}
{% include google_adsense.html %}
	{% endif %}

</div>
 -->