<div class="category search">
{% include searchbox.html %}
</div>

<div class="category">
	<h3>Latest Posts</h3>
 <ul class="sidebar">
{% for post in site.posts limit:5%}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>



{% endfor %}

</ul>
</div>



<div class="category tagcloud">
<h3>Tags</h3>
{% tag_cloud %}
</div>




<div class="category">
<h3>Top Commenters</h3>
<script type="text/javascript" src="http://madhur.disqus.com/top_commenters_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32"></script>
</div>


<!--<div class="category">
<h3>Recent Comments</h3>
<script type="text/javascript" src="http://madhur.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=100"></script>
</div>-->

<div class="category">
<h3>Archives</h3>
{% monthly_archives %}

</div>

<!--<div class="category">
	<h3>Tag Cloud</h3>

<div id="wpcumuluscontent"><embed type="application/x-shockwave-flash" src="/files/tagcloud.swf" id="tagcloudflash" name="tagcloudflash" bgcolor="#474c52" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="tcolor=0xffffff&amp;tcolor2=0xb6bcc1&amp;hicolor=0xa1ff66&amp;tspeed=100&amp;distr=true&amp;mode=tags&amp;tagcloud=%3Ctags%3E{% for tag in site.tags %}{% assign t = tag.first %}{% assign posts = tag.last %}%3Ca+style%3d%27font-size:12pt%27+class%3D%27tag tag{{ posts | size }}%27+title%3D%27{{ posts | size }}+posts%27+href%3D%27%2Fcategories%2F{{ t | to_id }}.html%27%3E{{ t }}%3C%2Fa%3E{% endfor %}%3C%2Ftags%3E" height="300" width="250"></embed></div>
</div>-->

