<div class="category">
	
	<div id="searchbox">
	<form method="get" id="searchform" action="/results" onsubmit="return checkfrm_search();">
	<fieldset>
								<input type="text" id="q" name="q" value="" /><button type="submit">Search</button>
							</fieldset>
	</form>				
	</div>
</div>


<div class="category">
	<h3>Latest Posts</h3>
 <ul class="sidebar">
{% for post in site.posts limit:5%}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>



{% endfor %}

</ul>
</div>


<div class="category">
<h3>Advert</h3>
	{% include google_adsense.html %}

</div>



<div class="category">
	<h3>Tag Cloud</h3>

<div id="wpcumuluscontent"><embed type="application/x-shockwave-flash" src="/files/tagcloud.swf" id="tagcloudflash" name="tagcloudflash" bgcolor="#474c52" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="tcolor=0xffffff&amp;tcolor2=0xb6bcc1&amp;hicolor=0xa1ff66&amp;tspeed=100&amp;distr=true&amp;mode=tags&amp;tagcloud=%3Ctags%3E{% for tag in site.tags %}{% assign t = tag.first %}{% assign posts = tag.last %}%3Ca+style%3d%27font-size:12pt%27+class%3D%27tag tag{{ posts | size }}%27+title%3D%27{{ posts | size }}+posts%27+href%3D%27%2Fcategories%2F{{ t | to_id }}.html%27%3E{{ t }}%3C%2Fa%3E{% endfor %}%3C%2Ftags%3E" height="300" width="250"></embed></div>
</div>

<div class="category">
<h3>Archives</h3>
{% monthly_archives %}

</div>