 <p class="timestamp">{{ page.date | date_to_long_string }}

<br>
<span class="time">{{page.time}}</span>
</p> 

<div class="actions">
<ul> 
								<li><a href="{{page.url}}#disqus_thread" data-disqus-identifier="{{page.disqus_id}}" class="comment">View Comments</a></li> 

<script type="text/javascript">

var disqus_developer = 1;
	var disqus_shortname = 'madhur';
	var disqus_iframe_css = "http://madhur.github.com/css/screen.css";
		var links = document.getElementsByTagName('a');
		var query = '?';
		
				query += 'url=' + encodeURIComponent(window.location.href) + '&';
				//alert(query);
			
		
document.write('<script type="text/javascript" src="http://disqus.com/forums/madhur/get_num_replies.js?url2=' + encodeURIComponent(window.location.url) + '#disqus_thread"></' + 'script>');
	

</script>


								<li><span class="share" title="Click to expand">share this post</span> 
									<ul class="sharing" style="display:none"> 
										<li class="first"><a href="http://blinklist.com/index.php?Action=Blink/addblink.php&amp;Url={{ page.url }}&amp;Title={{ page.title }}" id="share_blinklist" title="Share on BlinkList" rel="nofollow">BlinkList</a></li> 
										<li><a href="http://del.icio.us/post?url={{page.url}}&amp;title={{ page.title }}" id="share_delicious" title="Add to del.icio.us" rel="nofollow">del.icio.us</a></li> 
										<li><a href="http://digg.com/submit?url={{ page.url }}" id="share_digg" title="Digg This!" rel="nofollow">Digg</a></li> 
										<li><a href="http://www.facebook.com/share.php?u={{ page.url }}" id="share_facebook" title="Share on Facebook" rel="nofollow">Facebook</a></li> 
										<li><a href="http://reddit.com/submit?url={{ page.url }}&amp;title={{ page.title }}" id="share_reddit" title="Share on Reddit" rel="nofollow">Reddit</a></li> 
										<li><a href="http://www.stumbleupon.com/submit?url={{ page.url }}&amp;title={{ page.title }}" id="share_stumbleupon" title="Share on StumbleUpon" rel="nofollow">StumbleUpon</a></li> 
										<li><a href="http://twitter.com/home?status={{ page.title }}%3A%20{{ page.url }}" id="share_twitter" title="Tweet this!" rel="nofollow">Twitter</a></li> 
										<li class="last"><a href="http://www.technorati.com/faves?add={{ page.url }}" id="share_technorati" title="Favourite on Technorati" rel="nofollow">Technorati</a></li> 
									</ul> 
								</li> 
								<li><a href="/blog/atom.xml" class="subscribe">subscribe to this blog</a></li> 
								<li><a href="/blog//trackback" class="trackback" rel="trackback">post a trackback</a></li>								<li><a href="{{page.url}}" class="permalink">permalink</a></li> 
															</ul> 

</div>
