<div id="logo">
<ul class="nav-icons">
<li><a href="http://www.linkedin.com/in/madhurahuja"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
<li><a href="https://github.com/madhur"><i class="fa fa-github fa-3x"></i></a></li>
<li><a href="http://feeds.feedburner.com/madhur"><i class="fa fa-rss-square fa-3x"></i></a></li>
</ul>
</div>


<nav id="navigation">
				<ul id="nav">
					<li><a class="madhur" href="/">Madhur Ahuja</a></li>
					<li><a class="home" href="/">Home</a></li>
					<li><a class="blog" href="/blog">Blog</a></li>
					<!--<li><a class="work" href="/work">Resume</a></li>-->
					<li><a class="code" href="/projects">Projects</a></li>
					<!--<li><a class="papers" href="/papers">Papers</a></li>--> 
					<li><a class="info" href="/info">About</a></li>
					<li><a class="contact" href="/contact">Contact</a></li>

				</ul>
				
				
</nav>
<div class="c">
&nbsp;
</div>

