<div id="logo">
<h2>
	{% include blogname.txt %}
</h2>

</div>


<div id="navigation">
				<ul id="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/work">Work</a></li>
					<li><a href="/code">Code</a></li>
					<li><a href="/info">Info</a></li>

				</ul>
				
				
</div>
<div class="c">
&nbsp;
</div>


{% if page.css %}
<div id="dash">
<div id="intro">

						<p>You're currently viewing the personal blog of <a href="/blog">Madhur</a>, an <a href="/portfolio">internet<br />
						professional</a> and <a href="/photography">photography enthusiast</a> based in Cape Town, South Africa.</p>
					</div>

					<p id="feed">Subscribe to <a href="/blog/feed">posts</a> or <a href="/blog/comments/feed">comments</a></p>
					<p id="twitter"><a href="http://twitter.com/madhur25" title="tweet tweet!">Follow me on Twitter</a></p>
					<div class="c">&nbsp;</div>

</div>
{% endif %}
