<div id="categories"> 
	<p class="single"><a href="/">Home</a></p> 
	<p class="category">Blog</p> 
		<ul class="subcategory"> 
			<li><a href="/blog" class="accordion">Blog</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/web/sites/dhkthinkspace">dhk { } thinkspace</a></li> 
					<li><a href="/portfolio/web/sites/spreadthelove">Spread The Love</a></li> 
					<li><a href="/portfolio/web/sites/viatravel">Via Travel</a></li> 
					<li><a href="/portfolio/web/sites/news">News.co.za</a></li> 
					<li><a href="/portfolio/web/sites/codav5">coda.coza v5</a></li> 
					<li><a href="/portfolio/web/sites/sercotransarctic">Serco TransArctic Expedition</a></li> 
					<li><a href="/portfolio/web/sites/vaw">Victoria & Alfred Waterfront</a></li> 
					<li><a href="/portfolio/web/sites/teamscience">Teamscience</a></li> 
					<li><a href="/portfolio/web/sites/thelema">Thelema Mountain Vineyards</a></li> 
				</ul> 
</li>		</ul> 
	<p class="category">Work</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/multimedia/screensavers" class="accordion">SharePoint 2007</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/multimedia/screensavers/vaw">SPFeatureCollection</a></li> 
				</ul> 
</li>			<li><a href="/portfolio/multimedia/executables" class="accordion">ASP.NET</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/multimedia/executables/vaw">Victoria &amp; Alfred Waterfront</a></li> 
				</ul> 
</li>		</ul> 
	<p class="category">Code</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/graphic/magazine" class="">C/C++</a> 
</li>			<li><a href="/portfolio/graphic/t-shirts" class="">Assembly</a> 
</li>		</ul> 
	<p class="category">Info</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/gui/skins" class="accordion">Application Skins/Themes</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/gui/skins/goblam">GoBLAM</a></li> 
					<li><a href="/portfolio/gui/skins/winamp2">WinAMP 2.x</a></li> 
					<li><a href="/portfolio/gui/skins/mprojector">mProjector</a></li> 
				</ul> 
</li>			<li><a href="/portfolio/gui/wallpapers" class="">Desktop Wallpapers</a> 
</li>		</ul> 
	<p class="single"><a href="/photography">Fun</a></p> 
				</div> <!-- end categories --> 
 
