<div id="categories"> 
	<p class="single"><a href="/portfolio">Introduction</a></p> 
	<p class="category">Web Development/Design</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/web/sites" class="accordion">Websites</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/web/sites/dhkthinkspace">dhk { } thinkspace</a></li> 
					<li><a href="/portfolio/web/sites/spreadthelove">Spread The Love</a></li> 
					<li><a href="/portfolio/web/sites/viatravel">Via Travel</a></li> 
					<li><a href="/portfolio/web/sites/news">News.co.za</a></li> 
					<li><a href="/portfolio/web/sites/codav5">coda.coza v5</a></li> 
					<li><a href="/portfolio/web/sites/sercotransarctic">Serco TransArctic Expedition</a></li> 
					<li><a href="/portfolio/web/sites/vaw">Victoria & Alfred Waterfront</a></li> 
					<li><a href="/portfolio/web/sites/teamscience">Teamscience</a></li> 
					<li><a href="/portfolio/web/sites/thelema">Thelema Mountain Vineyards</a></li> 
				</ul> 
</li>		</ul> 
	<p class="category">Multimedia Design</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/multimedia/screensavers" class="accordion">Screen Savers</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/multimedia/screensavers/vaw">Victoria &amp; Alfred Waterfront</a></li> 
				</ul> 
</li>			<li><a href="/portfolio/multimedia/executables" class="accordion">Desktop executables</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/multimedia/executables/vaw">Victoria &amp; Alfred Waterfront</a></li> 
				</ul> 
</li>		</ul> 
	<p class="category">Graphic Design</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/graphic/magazine" class="">Magazine</a> 
</li>			<li><a href="/portfolio/graphic/t-shirts" class="">T-Shirts</a> 
</li>		</ul> 
	<p class="category"><acronym title="Graphical User Interface">GUI</acronym> Design</p> 
		<ul class="subcategory"> 
			<li><a href="/portfolio/gui/skins" class="accordion">Application Skins/Themes</a> 
				<ul class="projects"> 
					<li><a href="/portfolio/gui/skins/goblam">GoBLAM</a></li> 
					<li><a href="/portfolio/gui/skins/winamp2">WinAMP 2.x</a></li> 
					<li><a href="/portfolio/gui/skins/mprojector">mProjector</a></li> 
				</ul> 
</li>			<li><a href="/portfolio/gui/wallpapers" class="">Desktop Wallpapers</a> 
</li>		</ul> 
	<p class="single"><a href="/photography">Photography</a></p> 
				</div> <!-- end categories --> 
 