



<h3>Around the web</h3>

					<ul class="lined">

					<!--<li><a href="http://www.cpluv.com/coda/" title="my Computerlove profile"><img src="/images/cpluv.png" alt="Computerlove" />Computerlove</a></li>-->
						<li><a href="http://www.facebook.com/ahuja.madhur" title="my Facebook profile"><img src="/images/facebook.png" alt="Facebook" />Facebook</a></li>
						<li><a href="http://www.linkedin.com/in/madhurahuja" title="my LinkedIn profile"><img src="/images/linkedin.png" alt="LinkedIn" />LinkedIn</a></li>

<!--<li>
<a href="http://stackoverflow.com/users/507256/madhur-ahuja">
<img src="http://stackoverflow.com/users/flair/507256.png" width="208" height="58" alt="Stack Overflow profile for Madhur Ahuja at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Stack Overflow profile for Madhur Ahuja at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>
<li>-->

<li>
<a href="http://in.linkedin.com/in/madhurahuja?goback=%2Enpe_*1_*1_*1_*1" >
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Madhur Ahuja's profile on LinkedIn">
    </a>

</li>
