<div>
<a href="http://stackoverflow.com/users/507256/madhur-ahuja">
<img src="http://stackoverflow.com/users/flair/507256.png" width="208" height="58" alt="Stack Overflow profile for Madhur Ahuja at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Stack Overflow profile for Madhur Ahuja at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>
<br/>
<a href="http://in.linkedin.com/in/madhurahuja?goback=%2Enpe_*1_*1_*1_*1" >
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Madhur Ahuja's profile on LinkedIn">
    </a>
</div>

