{% for post in posts limit: listing_limit %}
  <h2><a href="{{ post.url }}" class="dark-link">{{ post.title }}</a></h2>
  <h4 class="low-top">
    Posted on {{ post.date | format_date }}
    {% unless no_category %}
      {% if post.category %}
        in <a href="/categories/{{ post.category | slugize }}">{{ post.category }}</a>
      {% endif %}
    {% endunless %}
  </h4>
  
  <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
  <p><a href="{{ post.url }}">Read more...</a></p>
{% endfor %}