<div id="projects">
	<p class="single"><a href="/projects">Projects</a></p>
	{% for project in site.data.projects %}

	{% assign item = project[1] %}

	{% if item.publish == true %}
	<p class="project-category"><i class="{{ item.icon}}"></i> {{ item.name }}</p>
	<ul class="subcategory">

		{% for member in item.projects %}
		{% if member.publish == true %}
		<li><a href="/projects/{{ member.file }}.html">{{ member.project }}</a></li>
		{% endif %}

		{% endfor %}
	</ul>
	{% endif %}


	{% endfor %}

</div>