
<div id="projects">
	<p class="single"><a href="/projects">Projects</a></p>
	{% for category in site.data.categories %}

					
			<p class="project-category">{{ category.category }}</p>
				<ul class="subcategory">

					{% for project in site.data.projects %}
					
						{% if project.category == category.category and project.publish == true %}
							<li><a href="/projects/{{ project.project }}.html">{{ project.project }}</a></li>
						{% endif %}
		
					{% endfor %}
			</ul>

		

	{% endfor %}
	
</div> 


<!--
<div id="projects">

		<p class="single"><a href="/web/20120105145222/http://coda.co.za/portfolio">Introduction</a></p>
	<p class="project-category">Windows 7</p>
		<ul class="subcategory">
			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites" class="accordion">Gadgets</a>
				<ul class="projects">
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/dhkthinkspace">dhk { } thinkspace</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/spreadthelove">Spread The Love</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/viatravel">Via Travel</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/news">News.co.za</a></li>
					<li><a class="active" href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/codav5">coda.coza v5</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/sercotransarctic">Serco TransArctic Expedition</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/vaw">Victoria & Alfred Waterfront</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/teamscience">Teamscience</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/web/sites/thelema">Thelema Mountain Vineyards</a></li>
				</ul>
</li>		</ul>
	<p class="project-category">Android</p>
		<ul class="subcategory">
			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/multimedia/screensavers" class="accordion">Screen Savers</a>
				<ul class="projects">
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/multimedia/screensavers/vaw">Victoria &amp; Alfred Waterfront</a></li>
				</ul>
</li>			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/multimedia/executables" class="accordion">Desktop executables</a>
				<ul class="projects">
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/multimedia/executables/vaw">Victoria &amp; Alfred Waterfront</a></li>
				</ul>
</li>		</ul>
	<p class="project-category">iOS</p>
		<ul class="subcategory">
			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/graphic/magazine" class="">Magazine</a>
</li>			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/graphic/t-shirts" class="">T-Shirts</a>
</li>		</ul>
	<p class="project-category">Win32 Assembly</p>
		<ul class="subcategory">
			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/gui/skins" class="accordion">Application Skins/Themes</a>
				<ul class="projects">
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/gui/skins/goblam">GoBLAM</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/gui/skins/winamp2">WinAMP 2.x</a></li>
					<li><a href="/web/20120105145222/http://coda.co.za/portfolio/gui/skins/mprojector">mProjector</a></li>
				</ul>
</li>			<li><a href="/web/20120105145222/http://coda.co.za/portfolio/gui/wallpapers" class="">Desktop Wallpapers</a>
</li>		</ul>
	<p class="single"><a href="/web/20120105145222/http://coda.co.za/photography">Photography</a></p>
				</div> 
-->