<!-- Place this tag where you want the +1 button to render -->
<div class="row social hidden-xs">
    <div class="col-md-2 col-sm-2">
        <time datetime="{{page.date}}" pubdate="pubdate"
            >{{ page.date | date_to_long_string }}</time
        >
    </div>
    <div class="social-icon col-md-2 col-sm-2">
       <a href="https://twitter.com/madhur25?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @madhur25</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="social-icon col-md-1 col-sm-2">
        <a
            href="https://twitter.com/share?ref_src=twsrc%5Etfw"
            class="twitter-share-button"
            data-via="madhur25"
            data-show-count="false"
            >Tweet</a
        >
        <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
        ></script>
    </div>
    <div class="social-icon col-md-1 col-sm-2">
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
        <script type="IN/Share" data-counter="right"></script>
    </div>

    <!-- <div class="social-icon col-md-1 col-sm-2">
        <a
            href="http://bufferapp.com/add"
            class="buffer-add-button"
            data-count="horizontal"
            >Buffer</a
        >
        <script
            type="text/javascript"
            src="https://d389zggrogs7qo.cloudfront.net/js/button.js"
        ></script>
    </div> -->
    <div class="social-icon col-md-1 col-sm-2">
        <a
            data-pocket-label="pocket"
            data-pocket-count="horizontal"
            class="pocket-btn"
            data-lang="en"
        ></a>
        <script type="text/javascript">
            !(function (d, i) {
                if (!d.getElementById(i)) {
                    var j = d.createElement("script");
                    j.id = i;
                    j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1";
                    var w = d.getElementById(i);
                    d.body.appendChild(j);
                }
            })(document, "pocket-btn-js");
        </script>
    </div>
    <!-- <div class="social-icon col-md-2 col-sm-2">
        <script
            type="text/javascript"
            src="//www.redditstatic.com/button/button1.js"
        ></script>
    </div> -->
</div>
