.bodygrey
{ 
	font-size: 12px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 16px; color: #1A1A1A
}

.bodyblue
{ 
	font-size: 12px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 14px; color: #010F4C;
}

.bodynews
{ 
	font-size: 12px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 16px; color: #010F4C;
}

.bodywhite
{ 
	font-size: 12px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 14px; color: #FFFFFF;	
}

.topbodywhite
{ 
	font-size: 14px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 15px; color: #FFFFFF;	
}

.headlinewhite
{ 
	font-size: 21px; font-family: arial, helvetica, san-serif; 
	line-height: 24px; color: #FFFFFF;
}

.headlinegrey
{ 
	font-size: 21px; font-family: arial, helvetica, san-serif; 
	line-height: 24px; color: #1A1A1A;
}

.headlineblue
{ 
	font-size: 21px; font-family: arial, helvetica, san-serif; 
	line-height: 24px; color: #01197D;
}

.headlinepurple
{ 
	font-size: 21px; font-family: arial, helvetica, san-serif; 
	line-height: 24px; color: #7B0099;
}

.subheadgrey 
{ 
	font-size: 17px; font-family: arial, helvetica, san-serif; 
	line-height: 23px; color: #1A1A1A;
}

.subheadpurple
{ 
	font-size: 17px; font-family: arial, helvetica, san-serif; 
	line-height: 23px; color: #7B0099;
	
}

.subheadblue
{ 
	font-size: 17px; font-family: arial, helvetica, san-serif; 
	line-height: 23px; color: #125CCB;
}

.subheadgreen
{ 
	font-size: 17px; font-family: arial, helvetica, san-serif; 
	line-height: 23px; color: #39801E;
}


.labelgrey 
{ 
	font-size: 14px; font-family: arial, helvetica, san-serif; 
	line-height: 14px; color: #1A1A1A;
}

.buttonwhite
{ 
	font-size: 13px; font-weight: bold; font-family: arial, Trebuchet MS, verdana, helvetica, san-serif; 
	line-height: 15px; color: #000000; text-align: center; background: #FFFFFF; padding: 4px;
}

.buttonltblue
{ 
	font-size: 13px; font-family: arial, Trebuchet MS, verdana, helvetica, san-serif; 
	line-height: 15px; color: #000000; text-align: center; background: B6C7E5; padding: 4px;
}

.buttonpurple
{ 
	font-size: 13px; font-family:  arial, Trebuchet MS, verdana, helvetica, san-serif; padding: 4px;
	line-height: 15px; color: #FFFFFF; text-align: center; background: #7444B5; font-weight: bold;
}

.buttonblue
{ 
	font-size: 13px; font-family: arial, Trebuchet MS, verdana, helvetica, san-serif; padding: 4px;
	line-height: 15px; color: #FFFFFF; text-align: center; background: #3A40B4; font-weight: bold;
}

.buttongreen
{ 
	font-size: 13px; font-family: arial, Trebuchet MS, verdana, helvetica, san-serif; padding: 4px;
	line-height: 15px; color: #FFFFFF; text-align: center; background: #66972F; font-weight: bold;
}

.buttoninsetpurple
{ 
	font-size: 13px; font-family: arial, Trebuchet MS, verdana, helvetica, san-serif; padding-top: 2px; padding: 4px;
	line-height: 15px; color: #000000; text-align: center; background: #FFFFFF; font-weight: bold; border-color: #B076FC; border-style: inset; border-width=7px;
} 

.sidebar
{ 
	font-size: 11px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 14px; color: #000000
}

.footnote
{ 
	font-size: 10px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 14px; color: #1A1A1A 
}


.footer
{ 
	font-size: 10px; font-family: arial, helvetica, verdana, san-serif; 
	line-height: 12px; color: #6C6C6C 
}
