/*--- page layout framework ------------*/

div#primary {
	float: left;
	width: 85em;
	margin: 0;
	padding: 0;
	background: none;
}


div#extra {
	float: right;
	
	margin: 0 0 0 1em;
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

div.postmeta, div#commentsmeta {
	float: left;
	width: 15em;
}

div.post, div#comments {
	float: left;
	width: 60em;
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

/*--- header ------------*/

p#feed {
	width: 20em;
	margin: 0;
	padding: 0.1em 0 1.1em 2.3em;
	float: left;
	background: transparent url("/images/subscribe_big.png") 0 0 no-repeat;
}

p#admin, p#technorati, p#twitter {
	clear: left;
	width: 20em;
	margin: 0;
	padding: 0 0 0 2.3em;
	float: left;
}

p#admin {
	background: transparent url("/images/edit_off.png") 0 0 no-repeat;
}

p#technorati {
	background: transparent url("/images/technorati.png") 0 0 no-repeat;
}

p#twitter {
	padding: 0 0 0.2em 2.3em;
	background: transparent url("/images/twitter.png") 0 0 no-repeat;
}

/*div.post:hover a:link, div.post:hover a:visited {
	text-decoration: underline;
}*/

/*--- section headings ------------*/

p.archive, p.tagged, p.results {
	margin: 0;
	padding: 0.4em 0.8em 0.4em 2.5em;
	text-align: left;
	color: #fff;
	background-color: transparent;
	background-position: 0.35em 0.35em;
	background-repeat: no-repeat;
}

p.archive {
	background-image: url("/images/archive_off.png");
}

p.tagged {
	background-image: url("/images/tags_off.png");
	background-position: 0.4em 0.5em;
}

p.results {
	background-image: url("/images/search_off.png");
}

p.archive span.hilite, p.tagged span.hilite, p.results span.hilite {
	color: #79ff25;
}

/*--- postmeta ------------*/

div.postmeta {
	padding-bottom: 2em;
}

p.timestamp {
	margin: -0.2em 0.8em 1em 0;
	padding: 0 2.2em 0 0;
	background: transparent url("/images/archive_off.png") right center no-repeat;
	text-align: right;
}

p.timestamp:hover {
	background: transparent url("/images/archive_on.png") right center no-repeat;
}

span.time {
	font-size: inherit;
	color: #8a959e;
}

div.actions {
	padding: 1em;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}

div.actions ul, ul.sharing, div#commentsmeta ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1em;
}

div.actions ul, div#commentsmeta ul {
	border-bottom: 1px solid #5f676d;
}

div.actions ul li, ul.sharing li, div#commentsmeta ul li {
	margin: 0;
	padding: 0;
	background: none;
	font-size: 0.9em !important;
	display: block;
}

div.actions ul li a, div.actions ul li span.comment, div.actions ul li span.share, div#commentsmeta ul li a, div#commentsmeta ul li span.closed {
	display: block;
	padding: 0.4em 0 0.4em 2em;
	text-decoration: none;
	color: #b6bcc1;
	border-top: 1px solid #5f676d;
}

div.actions ul li a:hover, div.postmeta ul li span.comment:hover, div.actions ul li span.share:hover, div#commentsmeta ul li a:hover {
	color: #fff;
}

div.actions ul li span.share {
	cursor: pointer;
}

div.actions ul li a.comment, div#commentsmeta ul li a.comment {
	background: transparent url("/images/comment_off.png") 0 6px no-repeat;
}

div.actions ul li a.subscribe {
	background: transparent url("/images/subscribe_off.png") 0 5px no-repeat;
}

div.actions ul li a.trackback {
	background: transparent url("/images/trackback_off.png") 0 5px no-repeat;
}

div.actions ul li a.permalink {
	background: transparent url("/images/permalink_off.png") 0 4px no-repeat;
}

div.actions ul li span.share {
	background: transparent url("/images/share_off.png") 0 5px no-repeat;
}

div.actions ul li a.edit {
	background: transparent url("/images/edit_off.png") 0 3px no-repeat;
}

div.actions ul li a.comment:hover, div#commentsmeta ul li a.comment:hover {
	background: transparent url("/images/comment_on.png") 0 6px no-repeat;
}

div.actions ul li a.subscribe:hover {
	background: transparent url("/images/subscribe_on.png") 0 5px no-repeat;
}

div.actions ul li a.trackback:hover {
	background: transparent url("/images/trackback_on.png") 0 5px no-repeat;
}

div.actions ul li a.permalink:hover {
	background: transparent url("/images/permalink_on.png") 0 4px no-repeat;
}

div.actions ul li span.share:hover, div.actions ul li span.active {
	color: #fff !important;
	background: transparent url("/images/share_on.png") 0 5px no-repeat !important;
}

div.actions ul li a.edit:hover {
	background: transparent url("/images/edit_on.png") 0 3px no-repeat;
}

div#commentsmeta ul li span.closed {
	background: transparent url("/images/comment_closed.png") 0 6px no-repeat;
}

ul.sharing {
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none !important;
}

ul.sharing li a {
	font-size: 1.1em !important;
	padding: 4px 0 4px 50px !important;
	border-top: none !important;
	background-position: 26px 3px;
	background-color: transparent;
	background-repeat: no-repeat;
}

ul.sharing li.first {
	border-top: 1px solid #5f676d;
	padding-top: 1em;
}

ul.sharing li.last {
	padding-bottom: 1em;
}

ul.sharing li a:hover {
	text-decoration: underline;
}

a#share_blinklist {
	background-image: url("/images/blinklist.png");
}

a#share_muti {
	background-image: url("/images/muti.png");
}

a#share_facebook {
	background-image: url("/images/facebook.png");
}

a#share_digg {
	background-image: url("/images/digg.png");
}

a#share_stumbleupon {
	background-image: url("/images/stumbleupon.png");
}

a#share_delicious {
	background-image: url("/images/delicious.png");
}

a#share_reddit {
	background-image: url("/images/reddit.png");
}

a#share_technorati {
	background-image: url("/images/technorati.png");
}

a#share_magnolia {
	background-image: url("/images/magnolia.png");
}

a#share_twitter {
	background-image: url("/images/twitter.png");
}

/*div.postpic {
	width: 100%;
	height: 12em;
	margin-bottom: 1em;
	background-color: #000;
	overflow: hidden;
}

div.postpic img {
}*/

/*--- post ------------*/

div.post {
	overflow: hidden; /* for big images, urls, etc. */
}

div.full p {
	font-size: 1.1em;
}

div.post.full li {
	font-size: 1.1em;
	line-height: 1.4em;
}

div.post.full blockquote {
	font-size: 0.9em;
}

div.full {
	min-height: 18em;
}

div.post a {
	text-decoration: underline;
}

div.post h2 a:link, div.post h2 a:visited {
	color: #fff;
	text-decoration: none;
}

div.post h3 a:link, div.post h3 a:visited {
	color: #fff;
	text-decoration: none;
}

div.tags {
	margin-bottom: 2em;
}

div.tags p {
	margin: 0;
	padding: 0.5em 0.8em 0.5em 2.5em;
	font-size: 0.8em;
	color: #8a959e;
	background: transparent url("/images/tags_off.png") 0.5em 0.5em no-repeat;
}

div.full div.tags p {
	padding: 0.4em 0.8em 0.4em 2.5em;
	font-size: 0.9em;
}

div.tags:hover p {
	background: transparent url("/images/tags_on.png") 0.5em 0.5em no-repeat;	
}

div.tags a:link, div.tags a:visited {
	text-decoration: none;
	color: #8a959e;
}

div.tags a:hover {
	text-decoration: underline;
	color: #cdd3d9;
}

/*--- extract ------------*/

div.extract h3 {
	margin-top: 0.4em;
}

div.last div.blocked {
	margin-bottom: 0;
}

/*--- comments ------------*/

div#comments h3 {
	margin: 0.7em 0 1.7em 0;
	font-size: 1.6em;
	color: #a1ff66;
}

div#comments h3.closed {
	margin: 0;
}

div#comments h3#addcomment {
	margin: 0 0 0.8em 0;
}

div#comments div.alt {
}

div#comments p.timestamp {
	float: left;
	width: 12em;
	margin: 0.3em 0 0 -17em;
	padding-right: 2.3em;
}

div.comment {
	margin-bottom: 1em;
}

div.comment a {
	text-decoration: underline;
}

div.comment cite {
	display: block;
	margin: 0 0 0.5em 0;
	color: #c5e2b5;
	font-size: 1.1em;
	font-style: normal;
}

div.comment cite a {
	/*color: #c5e2b5;
	text-decoration: underline;*/
}

/*div.self p.cite cite {
}

div.self p.cite cite a {
	background: transparent url("/images/favicon.png") 0 0 no-repeat;
	padding-left: 1.6em;
}*/

div.comment p.moderation {
	margin: 0 0 1.8em 1em;
	padding: 0 2em 0 1em;
	color: #fff;
	border-left: 3px solid #a1ff66;
}

div.comment p.timestamp a {
	color: #d8dfe5;
	text-decoration: none;
}

div#comments label {
	margin: 0 0 0 -12.8em;
	display: inline;
	position: relative;
}

div#comments textarea {
	width: 44em;
	height: 12em;
	margin-bottom: 0;
}

div#comments form fieldset button {
	float: left;
	text-indent: -300em;
	width: 6em;
	background-color: #000;
	background-image: url("/images/submit_button_off.png");
	background-position: center center;
	background-repeat: no-repeat;
}

div#allowedtags {
	clear: left;
	width: 40.35em;
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div#allowedtags p {
	margin-bottom: 0;
	padding: 0.3em 0.5em;
	font-size: 0.8em;
}

div#allowedtags p code {
	font-size: 1em;
	color: #b6bcc1;
}

/*--- search ------------*/

form#searchform fieldset {
	margin-bottom: 1em;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
}

form#searchform fieldset input {
	margin: 0;
	padding: 0.4em 0 0.3em 2.5em;
	background: transparent url("/images/search_off.png") 0.4em 0.4em no-repeat;
	outline: none; /* remove Safari glow */
}

form#searchform fieldset input:focus {
	background: transparent url("/images/search_on.png") 0.4em 0.4em no-repeat;
}

form#searchform fieldset button {
	float: right;
	text-indent: -300em;
	width: 6em;
	background-image: url("/images/search_button_off.png");
	background-position: center center;
	background-repeat: no-repeat;
}

div#searchbox form#searchform input {
	width: 12em;
}

div#primary form#searchform fieldset {
	width: 27em;
}

div#primary form#searchform input {
	width: 16em;
}

/*--- extra ------------*/

div#tagcloud {
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
	padding: 1em 0;
}

div#cloud {
	position: relative;
	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	text-align: left;
	line-height: 1.3em;
	vertical-align: middle;
}

div#cloud a:hover {
	text-decoration: none;
	color: #a1ff66 !important;
}

div#wpcumuluscontent {
	width: 254px;
	height: 230px;
	overflow: hidden;
	margin: 0 0 0 -1.2em;
}

#tagcloudflash {
	margin-top: -3em;
}

ul.sidebar {
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style-type: none;	
	border-bottom: 1px solid #5f676d;
}

ul.sidebar li {
	margin: 0;
	padding: 0;
	background: none;
}

ul.sidebar li a, ul.sidebar li a:visited {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	color: #C5CBD0;
	border-top: 1px solid #5f676d;
}

ul.sidebar li a:hover {
	color: #fff;
}

div#recentcomments, div#similar {
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
	padding-top: 1em;
}

div#recentcomments ul {
	border: none;
}

div#recentcomments span.date {
	font-size: inherit;
	color: #8a959e;
}

div#recentcomments li.post a {
	color: #fff;
	border-top: none;
	border-bottom: 1px solid #5f676d;
}

div#recentcomments ul.comments {
	margin-bottom: 1em;
	border-bottom: 1px solid #5f676d;
}

div#recentcomments ul.comments a {
	font-size: 1.1em;
	font-weight: normal;
	border-top: 1px solid #5f676d;
	border-bottom: none;
}

div#recentcomments ul.comments a:link, div#recentcomments ul.comments a:visited {
	color: #b6bcc1;
}

div#recentcomments ul.comments a:hover {
	color: #fff;
}

/*
div#blogroll ul.sidebar li a {
	padding: 0.2em 1.7em;
	background: transparent url("/images/li_off.png") 0.2em 0.3em no-repeat;
}

div#blogroll ul.sidebar li a:hover {
	background: transparent url("/images/li_on.png") 0.2em 0.3em no-repeat;
}
*/

div#popularity li a:visited, div#blogroll li a:visited {
	color: #8a959e;
}


/* @group Sections */
.section { 
	font-size: 87.5%; 
	line-height: 1.43em; 
	margin-bottom: 1.43em;
	margin-top: 1.43em;
	margin-left: 7.5em;
	padding-right: 3em;
}
.section h1 {
	/*font-family: Palatino, georgia, serif;*/
	font-size: 100%;
	line-height: 1.43em;
	position: absolute;
	width: 6em;
	max-width: 6em;
	margin-left: -7.5em;
	font-weight: bold;
	font-variant: small-caps;
}
.section p { margin-bottom: 1.43em; }

p.line {
    margin: 0;
    position: relative;
}

.section p {
    margin-bottom: 1.43em;
}


.list .title { font-weight: bold; }
p.line { position: relative; margin: 0; }
p.excerpt { margin: 0; }


/* @end */


/*Splash start */
/*--- page layout framework ------------*/








/*--- headings ------------*/

h3 {
	font-size: 1.4em;
}

/*--- intro ------------*/

div#sintro {
	margin-bottom: 3em;
}

div#sintro p {
	font-size: 1.15em;
	color: #949ca5;
}

div#sintro a:link, div#sintro a:visited {
	text-decoration: none;
	color: #b0e194;
}

div#sintro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

div#sintro:hover a:link, div#sintro:hover a:visited {
	text-decoration: underline;
}

/*--- table ------------*/

div#content table {
	border-top: 1px solid #26282c;
	width: 48em;
	padding-bottom: 5px;
}

div#content td {
	margin: 0;
	padding: 0;
	color: #747a83;
	border-bottom: 1px solid #26282c;
}

div#content td.title {

}

div#content td.date {
}

div#content td.time {
}

div#content td.date, div#content td.time {

}

div#content td.date, div#content td.time {
	font: 1em "Consolas", "Courier New", "Courier", "FreeMono", monospace;
}

div#content td.date {
	text-transform: uppercase;
}

div#content td a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	color: #949ca5;
}

div#content tr:hover td a {
	color: #fff;
}
div#content tr:hover td  {
	color: #fff;
}

div#content tr.hoverHighlighted td.title {
	background: transparent url("/img/splash/row_gradient.png") -5em 0 repeat-y;
}

div#content tr.hoverHighlighted td.date {
	background: transparent url("/img/splash/row_gradient.png") -37em 0 repeat-y;
}

div#content tr.hoverHighlighted td.time {
	background: transparent url("/img/splash/row_gradient.png") -44em 0 repeat-y;
}

/*--- social ------------*/

ul#social {
	margin: -3.6em 0 0 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

ul#social li {
	float: left;
	margin: 0 0.7em 0 0;
	padding: 0;
	background-image: none;
}

ul#social li img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

/*--- images ------------*/


/*Splash end */

.tag { font-size: 280%; }
.tag1 { font-size: 80%; }
.tag2 { font-size: 90%; }
.tag3 { font-size: 100%; }
.tag4 { font-size: 110%; }
.tag5 { font-size: 120%; }
.tag6 { font-size: 130%; }
.tag7 { font-size: 140%; }
.tag8 { font-size: 150%; }
.tag9 { font-size: 160%; }
.tag10 { font-size: 170%; }
.tag11 { font-size: 180%; }
.tag12 { font-size: 190%; }
.tag13 { font-size: 200%; }
.tag14 { font-size: 210%; }
.tag15 { font-size: 220%; }
.tag16 { font-size: 230%; }
.tag17 { font-size: 240%; }
.tag18 { font-size: 250%; }
.tag19 { font-size: 260%; }
.tag20 { font-size: 270%; }

