/*--- reset ------------*/
/* Resetting of element defaults to avoid cross-browser incompatibilities */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp,
sub, sup, tt, var, dd, dl, dt, li, ol, ul, form, fieldset, input, textarea, label, 
table, legend, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
/*	font-family: inherit;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-align: left;
}

img, a img, :link img, :visited img {
	border: 0;
}

object {
	outline: none; /* fix for FF3 */
}

/*--- page layout framework ------------*/

body {
	font-size: 76%;
	text-align: center;
	color: #D2D8DE;
}

/*--- footer ------------*/

div#footer {
	font-size: 0.9em;
}

div#footer p {
	margin: 0;
	padding: 0;
	color: #b6bcc1;
}

/*--- element defaults ------------*/

p, li, dd, legend, input, label, select, optgroup, textarea, table {

	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	font-size: 1em;
}

p {
	margin: 0 0 1.3em 0;
	line-height: 1.4em;
}


blockquote {
	margin: 0 0 1.3em 1em;
	padding: 0 2em 0 1em;
/*	font-size: 0.9em;*/
	color: #C5CBD0; /*b6bcc1;*/
	border-left: 3px solid #a1ff66;
}

code, pre {
	font: 1em "Consolas", "Courier New", "Courier", "FreeMono", monospace;
	
	margin: 1em 0 1.5em 0;
}



/*--- links ------------*/

a {
	font-size: inherit;
}

a:link, a span.hilite {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: #c5e2b5;
}

a:visited {
	text-decoration: none;
	color: #95be7d;
}

a:hover, a span.hilite:hover {
	text-decoration: none;
	color: #a1ff66;
}

a:active, a span.hilite:active {
	text-decoration: none !important;
	color: #fff;
}

/*--- headings ------------*/

h1, h2, h3, h4, h5 {

	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	line-height: 1em;
	font-weight: normal;
}

h1 {
	margin: 0.1em 0 0.6em 0;
	font-size: 2.1em;
	color: #fff;
}
h2 {
	margin: 0.1em 0 0.6em 0;
	font-size: 1.6em;
	color: #fff;
}

#logo h2
{
	font-size: 2.1em;
	margin-top:0.2em;
}

h3 {
	margin-top:1.2em;
	margin-bottom:0.2em;

	font-size: 1em;
	color: #fff;
}

h4 {
	margin: 0 0 0.2em 0;
	font-size: 1.4em;
	color: #a1ff66; /*b0e194*/
}

h5 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

h2 a:hover, h3 a:hover, h4 a:hover {
	color: #b0e194 !important;
}

h2 a:active, h3 a:active, h4 a:active {
	color: #79ff25 !important;
}

/*--- paragraphs ------------*/

.hilite {
	color: #fff;
}

.result {
	color: #a1ff66;
}

/*--- images ------------*/

img.getflash {
	width: 112px;
	height: 33px;
	margin-bottom: 0.5em;
}

img.za {
	width: 16px;
	height: 11px;
	vertical-align: -2px;
	margin-left: 4px;
}

/*--- forms ------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

/*label, input, select, textarea {
	font-size: 1.1em;
}*/

label {
	display: block;
	float: left;
	width: 10em;
	clear: left;
	margin-right: 1em;
	padding: 0.3em 0;
	text-align: right;
}

input, select, textarea {
	width: 20em;
	float: left;
	margin-bottom: 0.5em;
	padding: 0.4em;
	color: #C5CBD0;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none;
}

input:focus, select:focus, textarea:focus {
	color: #fff;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

textarea {
	width: 20em;
	height: 7em;
	line-height: 1.3em;
	overflow: auto;
}

button {
	padding: 0.3em 0 0.3em 0;
	/*font: 0.9em "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-size: 0.9em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: auto; /* Ref: http://jehiah.cz/archive/button-width-in-ie */
	overflow: visible;
	background-color: transparent;
	border: none;
}

button:hover {
	background-color: #509f24 !important;
}

button:active {
	background-color: #800 !important;
}

/*--- bullet lists ------------*/

table li {
	font-size: 1em; /* reset */
}

ul {
	margin-bottom: 0.7em;
}

div.post ul li {
	padding: 0 0 0.8em 2em;
	list-style-type: none;
	background: transparent url("/images/li_off.png") 0.2em 0.2em no-repeat;
}

div.post ul li:hover {
	background: transparent url("/images/li_on.png") 0.2em 0.2em no-repeat;
}

ol li {
	margin-left: 2em;
	padding: 0 0 0.8em 0;
}

ul.lined {
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #5f676d;
}

ul.lined li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	background: none;
}

ul.lined li a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	font-weight: normal;
	color: #cdd3d9;
	border-top: 1px solid #5f676d;
}

ul.lined li a:hover {
	color: #fff;
}

ul.lined li a img {
	margin-right: 10px;
	vertical-align: -3px;
}

/*--- paging ------------*/

div.paging {
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

div.paging p {
	margin: 0;
	padding: 0.3em 0.6em;
}

p.previous {
	float: left;
	width: 45%;
	text-align: left;
}

p.previous a {
	padding-left: 1.4em;
	background: transparent url("/images/previous_off.png") 0 center no-repeat;
}

p.previous a:hover {
	background: transparent url("/images/previous_on.png") 0 center no-repeat;
}

p.next {
	float: right;
	width: 45%;
	text-align: right;
}

p.next a {
	padding-right: 1.4em;
	background: transparent url("/images/next_off.png") right center no-repeat;
}

p.next a:hover {
	background: transparent url("/images/next_on.png") right center no-repeat;
}

/*--- miscellaneous ------------*/

p#skip {
	display: none;
}

.blocked {
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}

.darkest {
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div.c { /* to clear a float */
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

div.hr {
	clear: both;
	margin: 1em 0;
	height: 2px;
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
}

#logo h2
{
color: #00FF00;
}

/*Styles for left navigation */
div#categories p.category, div#categories p.single a {
color: #C5E2B5;
font-size: 1.1em;
margin: 0px;
}

div#categories ul.subcategory {
background: none;
border-bottom: 2px solid #5F676D;
margin: 0px 0px 1em;
padding: 0px;
}

div#categories ul.subcategory li a.accordion {
background: transparent url(/images/down_off.png) no-repeat 100% 0.7em;
color: #B6BCC1;
}

div#categories ul.projects {
background: transparent url(/images/opaque_10.png) repeat 0px 0px;
margin: 0px;
padding: 0px;
}

.category
{
	margin-top:10px;

}
.category h4
{
	
background-image:url(/images/opaque_10.png);
padding: 5px 5px 5px 5px;
	border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
}
.date
{
	margin-top:0.8em;
}

#dsq-content #dsq-comments .dsq-commment-message
{
	font-size:0.9em !important;
}
