/*--- reset ------------*/
/* Resetting of element defaults to avoid cross-browser incompatibilities */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp,
sub, sup, tt, var, dd, dl, dt, li, ol, ul, form, fieldset, input, textarea, label, 
table, legend, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-align: left;
}

img, a img, :link img, :visited img {
	border: 0;
}

object {
	outline: none; /* fix for FF3 */
}

/*--- page layout framework ------------*/

body {
	font-size: 76%;
	text-align: center;
	color: #D2D8DE;
}

/*--- footer ------------*/

div#footer {
	font-size: 0.9em;
}

div#footer p {
	margin: 0;
	padding: 0;
	color: #b6bcc1;
}

/*--- element defaults ------------*/

p, li, dd, legend, input, label, select, optgroup, textarea, table {
	/*font-family: "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	font-size: 1em;
}

p {
	margin: 0 0 1.3em 0;
	line-height: 1.4em;
}

span, cite {
	/*font-family: "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
}

blockquote {
	margin: 0 0 1.3em 1em;
	padding: 0 2em 0 1em;
/*	font-size: 0.9em;*/
	color: #C5CBD0; /*b6bcc1;*/
	border-left: 3px solid #a1ff66;
}

code, pre {
	font: 0.9em "Consolas", "Courier New", "Courier", "FreeMono", monospace;
	color: #C5CBD0; /*b6bcc1;*/
}

pre {
	margin: 0 0 1.3em 1em;
	padding: 0 2em 0 1em;
	border-left: 3px solid #a1ff66;
}

/*--- links ------------*/

a {
	font-size: inherit;
}

a:link, a span.hilite {
	text-decoration: none;
	color: #c5e2b5;
}

a:visited {
	text-decoration: none;
	color: #95be7d;
}

a:hover, a span.hilite:hover {
	text-decoration: underline;
	color: #a1ff66;
}

a:active, a span.hilite:active {
	text-decoration: none !important;
	color: #fff;
}

/*--- headings ------------*/

h1, h2, h3, h4, h5 {
	/*font-family: "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	line-height: 1em;
	font-weight: normal;
}

h1 {
	margin: 0.1em 0 0.6em 0;
	font-size: 2.1em;
	color: #fff;
}
h2 {
	margin: 0.1em 0 0.6em 0;
	font-size: 2.1em;
	color: #fff;
}

h3 {
	margin: 0.2em 0 0.5em 0;
	font-size: 1.4em;
	color: #fff;
}

h4 {
	margin: 0 0 0.2em 0;
	font-size: 1.4em;
	color: #a1ff66; /*b0e194*/
}

h5 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

h2 a:hover, h3 a:hover, h4 a:hover {
	color: #b0e194 !important;
}

h2 a:active, h3 a:active, h4 a:active {
	color: #79ff25 !important;
}

/*--- paragraphs ------------*/

.hilite {
	color: #fff;
}

.result {
	color: #a1ff66;
}

/*--- images ------------*/

img.getflash {
	width: 112px;
	height: 33px;
	margin-bottom: 0.5em;
}

img.za {
	width: 16px;
	height: 11px;
	vertical-align: -2px;
	margin-left: 4px;
}

/*--- forms ------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

/*label, input, select, textarea {
	font-size: 1.1em;
}*/

label {
	display: block;
	float: left;
	width: 10em;
	clear: left;
	margin-right: 1em;
	padding: 0.3em 0;
	text-align: right;
}

input, select, textarea {
	width: 20em;
	float: left;
	margin-bottom: 0.5em;
	padding: 0.4em;
	color: #C5CBD0;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none;
}

input:focus, select:focus, textarea:focus {
	color: #fff;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

textarea {
	width: 20em;
	height: 7em;
	line-height: 1.3em;
	overflow: auto;
}

button {
	padding: 0.3em 0 0.3em 0;
	/*font: 0.9em "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-size: 0.9em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: auto; /* Ref: http://jehiah.cz/archive/button-width-in-ie */
	overflow: visible;
	background-color: transparent;
	border: none;
}

button:hover {
	background-color: #509f24 !important;
}

button:active {
	background-color: #800 !important;
}

/*--- bullet lists ------------*/

table li {
	font-size: 1em; /* reset */
}

ul {
	margin-bottom: 0.7em;
}

ul li {
	padding: 0 0 0.8em 2em;
	list-style-type: none;
	background: transparent url("/images/li_off.png") 0.2em 0.2em no-repeat;
}

ul li:hover {
	background: transparent url("/images/li_on.png") 0.2em 0.2em no-repeat;
}

ol li {
	margin-left: 2em;
	padding: 0 0 0.8em 0;
}

ul.lined {
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #5f676d;
}

ul.lined li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	background: none;
}

ul.lined li a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	font-weight: normal;
	color: #cdd3d9;
	border-top: 1px solid #5f676d;
}

ul.lined li a:hover {
	color: #fff;
}

ul.lined li a img {
	margin-right: 10px;
	vertical-align: -3px;
}

/*--- paging ------------*/

div.paging {
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

div.paging p {
	margin: 0;
	padding: 0.3em 0.6em;
}

p.previous {
	float: left;
	width: 45%;
	text-align: left;
}

p.previous a {
	padding-left: 1.4em;
	background: transparent url("/images/previous_off.png") 0 center no-repeat;
}

p.previous a:hover {
	background: transparent url("/images/previous_on.png") 0 center no-repeat;
}

p.next {
	float: right;
	width: 45%;
	text-align: right;
}

p.next a {
	padding-right: 1.4em;
	background: transparent url("/images/next_off.png") right center no-repeat;
}

p.next a:hover {
	background: transparent url("/images/next_on.png") right center no-repeat;
}

/*--- miscellaneous ------------*/

p#skip {
	display: none;
}

.blocked {
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}

.darkest {
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div.c { /* to clear a float */
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

div.hr {
	clear: both;
	margin: 1em 0;
	height: 2px;
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
}



