/*--- page layout framework ------------*/

html {
	min-height: 102%;  /* force vertical scrollbar - browser support flaky, doesn't work in Opera */
	/*overflow-y: scroll;*/
}

body {

font-size: 76%;
	color: #D2D8DE;
	background: #474c52 url("/images/background.jpg") center center fixed;
	-webkit-font-smoothing: antialiased;
}

div#gradient {
	/*background: transparent url("/img/global/glowy.png") 0 0 no-repeat;*/
}

div#container {
	width: 81em;
	margin: 0 auto;
}

div#header {
position:relative;
	padding-top: 1em;
box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1), 1px 6px 3px 0 rgba(0, 0, 0, 0.25);
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
top:-20px;

}

div#navigation {
	margin: 0.5em 0 0 2em;
}

div#navigation, div#navigation object {
	width: 600px;
	height: 50px;
}

div#logo {
	float: right;
	margin: 1.8em 2.2em 0 0;
}

div#logo, div#logo object {
	width: 330px;
	height: 50px;
}

div#dash {
	padding: 30px;
	background: transparent url("/images/headerbg.png") center 0 no-repeat;
}

div#content {
	margin-bottom: 1em;
	padding: 1em 1em 1em 1em;
}

/*--- intro ------------*/

div#intro {
	width: 45em;
	float: right;
	margin: 0;
}

div#intro p {
	font-size: 1.1em;
	line-height: 1.6em;
	text-align: right;
	color: #d8dfe5;
}

div#intro a:link, div#intro a:visited {
	text-decoration: none;
	color: #a3c095;
}

div#intro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

/*--- footer ------------*/

div#footer {
	clear: both;
	margin: 0 1em 2em 1em;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);

}

div#footer p {
	width: 40em;
	padding: 0.6em 1em;
	font-size: 1em;
}

div#footer p#poweredby {
	float: left;
	text-align: left;
}

div#footer p#copyright {
	float: right;
	text-align: right;
}

div#footer p#poweredby span.stats {
	color: #8a959e;
}

/*--- images ------------*/

div#logo img {
	width: 316px;
	height: 52px;
}

img[alt=Pic]
{
float:left;
padding:5px;

}

/* Navigation */

ul#nav {
margin: 0px;
position: relative;
padding-top:1.7em;
width: 650px;
list-style: none inherit none;
/*display: inline-block;*/ /*causes problem in IE */

}

#nav li {
	/* use this for centered navigation */

	display: inline;
	
}


#nav li a
{
	
	display: inline-block;
	font-size:16px;
	font-family: Verdana, Arial, sans-serif;
	
	color: #D2D8DE;
	padding: 5px 10px 3px;
	background: transparent;
	margin: 0 5px;
	
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #1c1c1c;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}

#nav li a:hover {

	background:#1c1c1c;
	color:#a1ff66;
	text-decoration:none;
	
}


div#searchbox form#searchform input {
width: 11em;
}

form#searchform fieldset {
margin-bottom: 1em;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
}

form#searchform fieldset input {
margin: 0;
padding: 0.4em 0 0.3em 2.5em;
background: transparent url("/images/search_off.png") 0.4em 0.4em no-repeat;
outline: none;
}
/* Navigation */
form#searchform fieldset button {
float: right;


background-position: center center;
background-repeat: no-repeat;
}

form#searchform fieldset input:focus {
	background: transparent url("/images/search_on.png") 0.4em 0.4em no-repeat;
}

h1.year {
border: none;
font-size: 1.8em;
font-weight: bold;
margin-top: 30px;
border-image: initial;
}

h1.archives {
text-align: center;
font-size: 1.5em;
color: white;
background: transparent url("/images/opaque_20.png");
padding: 5px 0 5px 10px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-o-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
box-shadow: 0px 0px 2px rgba(0,0,0,0.5);

margin-top:0.75em;
}

.tag-list
{
	float:right;
}

.tag-list a {
/*background: none repeat scroll 0 0 #1E503C;*/
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #C5CBD0;
background-image:url(/images/opaque_20.png);
/*background: -webkit-gradient(linear, left top, left bottom, from(#1B8DC8), to(#1E503C));
background: -webkit-linear-gradient(#1B8DC8, #1E503C);
background: -moz-linear-gradient(center top, #1B8DC8 0%, #1E503C 100%);
background: -moz-gradient(center top, #1B8DC8 0%, #1E503C 100%);*/
/*font-size: 130%;
font-size: 83%;*/
/*border-bottom: 1px solid #5D78E5;
border-left: 1px solid #5D78E5;
border-right: 1px solid #5D78E5;*/
font-family: 'Droid Sans', Verdana, Arial, sans-serif;
font-size: 11px;
height: 0px;
image-rendering: auto;
left: auto;
list-style-type: disc;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
}

.tag-list a:hover
{
color: white;

}

h2.month {
padding-left: 0px;
margin-top:15px;
}

span.archive-date {
padding-left: 40px;
width: 20px;
float: left;
padding-right: 10px;
font-size: 1.1em;

}

.archive-link
{
margin-top: 0.4em;

}

.archive-link .inner
{
background: transparent url("/images/opaque_5.png");
border-radius: px;
-webkit-border-radius: 10px;
padding: 0.5em 1em;
}


div.archive-link a {
font-size: 1.1em !important; 

}



div.project {
text-align: justify;
text-justify: newspaper;
vertical-align:baseline;
}


.last {
margin-right: 0;
}


img.framed, iframe.framed {
border: 1px solid #222;
background: white;
padding: 0.3em;
margin: 0 0.5em 0 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
word-spacing: 1.5em;
border-image: initial;
}

.low-top {
margin-top: 0.4em;
}

.low-bottom {
margin-bottom: 0.2em;
}

.small {
font-size: .8em;
margin-bottom: 1.875em;
line-height: 1.875em;
}

img.left {
float: left;
}

.project h3
{
	margin-top: 1em;
	margin-bottom: 0em;
}
.project p
{

margin-top:1em;
}
.project .quiet
{
	color:white;
}

.project-download {
color: #000300;
padding: 10px;
position: relative;
text-align: center;
font-size: 14px;
font-weight: bold;
box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-webkit-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-moz-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
background: #DBDDDD;
background: -webkit-gradient(linear, left top, left bottom, from(#DBDDDD), to(#CED1D1));
background: -webkit-linear-gradient(#DBDDDD, #CED1D1);
background: -moz-linear-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
background: -moz-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
-webkit-transition: color 0.2s linear;
transition: color 0.2s linear;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}



