/*--- page layout framework ------------*/

html {
	min-height: 102%;  /* force vertical scrollbar - browser support flaky, doesn't work in Opera */
	/*overflow-y: scroll;*/
}

body {
	background: #474c52 url("/images/background.jpg") center center fixed;
	-webkit-font-smoothing: antialiased;
}

div#gradient {
	/*background: transparent url("/img/global/glowy.png") 0 0 no-repeat;*/
}

div#container {
	width: 81em;
	margin: 0 auto;
}

div#header {
position:relative;
	padding-top: 1em;
box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1), 1px 6px 3px 0 rgba(0, 0, 0, 0.25);
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
top:-20px;

}

div#navigation {
	margin: 0.5em 0 0 2em;
}

div#navigation, div#navigation object {
	width: 600px;
	height: 50px;
}

div#logo {
	float: right;
	margin: 1.8em 2.2em 0 0;
}

div#logo, div#logo object {
	width: 330px;
	height: 50px;
}

div#dash {
	padding: 30px;
	background: transparent url("/images/headerbg.png") center 0 no-repeat;
}

div#content {
	margin-bottom: 1em;
	padding: 1em 1em 1em 1em;
}

/*--- intro ------------*/

div#intro {
	width: 45em;
	float: right;
	margin: 0;
}

div#intro p {
	font-size: 1.1em;
	line-height: 1.6em;
	text-align: right;
	color: #d8dfe5;
}

div#intro a:link, div#intro a:visited {
	text-decoration: none;
	color: #a3c095;
}

div#intro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

/*--- footer ------------*/

div#footer {
	clear: both;
	margin: 0 1em 2em 1em;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);

}

div#footer p {
	width: 40em;
	padding: 0.6em 1em;
	font-size: 1em;
}

div#footer p#poweredby {
	float: left;
	text-align: left;
}

div#footer p#copyright {
	float: right;
	text-align: right;
}

div#footer p#poweredby span.stats {
	color: #8a959e;
}

/*--- images ------------*/

div#logo img {
	width: 316px;
	height: 52px;
}

img[alt=Pic]
{
float:left;
padding:5px;

}

/* Navigation */

ul#nav {
margin: 0px;
position: relative;
padding-top:1.7em;
width: 650px;
list-style: none inherit none;
display: inline-block;
}

#nav li {
	/* use this for centered navigation */

	display: inline-block;
	
}


#nav li a
{
	display: block;
	display: inline-block;
	font-size:16px;
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #1c1c1c;
	color: #D2D8DE;
	padding: 5px 10px 3px;
	background: transparent;
	margin: 0 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}

#nav li a:hover {

	background:#1c1c1c;
	color:#a1ff66;
	text-decoration:none;
	
}



/* Navigation */


