a:visited,
a:active,
a:link {	
 font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
 font-weight: normal;
	color: #cc3300;
}

body {
  background-color: #cdc9b4;
  font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;

}

.content-fragment-page { 
    background-color: #cdc9b4;
    position:relative;
    top: -34px;
 }

.posthead {
  color: #cc3300;
  font-weight: bold;
  font-size: x-large;
}

.posthead a:link, .posthead a:visited, .posthead a:active
{
	color: #cc3300;
}

.customnewsitemheader
{
	color: #000000;
	margin-left: 0px;
	font-size: 15px;
}


.layout { min-width: 940px;
               max-width: 1104px;
               width: 1104px;
 }

.layout-region.left-sidebar a:visited,
.layout-region.left-sidebar a:active,
.layout-region.left-sidebar a:link,
.layout-region.right-sidebar a:visited,
.layout-region.right-sidebar a:active,
.layout-region.right-sidebar a:link {	
	color: #7c95b3;
}

.content-fragment.blog-post .full-post .post-name {
  color: #cc3300;
 }

.with-header.content-fragment .content-fragment-header DIV {
  font-family: 'Segoe UI Light', 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
color: #000000;
  
}

.content-fragment.link-list .content-list-name, .customnewsitemheader{
  font-family: 'Segoe UI Light', 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
color: #000000;
}

.internal-link view-post{
 font-family: 'Segoe UI Light', 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
 color: #4cff00;

}

 .content-list.standard .content-item .abbreviated-post .post-name a{
 font-size: 26px;
 font-weight: normal;
 
}

.content-fragment.blog-post .full-post .post-name {
 font-size: 26x;
 font-weight: normal;
}

 .full-post .post-content  {
 font-size: 14px;
}

.abbreviated-post .avatar {
 display: none;
}

.abbreviated-post .post-application {
 display:none;
}

.abbreviated-post {
  padding-left: 0px;
}

.full-post .post-content h1 a {
  font-family:  'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.full-post .post-content h2 {
  font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.full-post .post-content h3 {
  font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.full-post .post-content h4 {
  font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.breadcrumb-list .breadcrumb-item a{

  font-size: 12px;
  color: #7c95b3;
}

.twtr-tweet-text {
font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
  }

.header-fragments {
  position:relative;
  top:20px;
}


.footer-fragments {
 top: -34px;
}
