14 x 14
.page-management-header {
}
.page-management {
    background-color: #CCCCCC;
    border-top: 2px solid #AAAAAA;
    font-family: Arial,Helvetica !important;
    font-size: 12px !important;
    height: 135px;
    min-width: 720px;
    padding: 8px;
    position: relative;
    text-align: left;
}
.page-management-footer {
}
.page-management .loading-message {
    color: #666666;
    font-size: 17px !important;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 100%;
}
.page-management .internal-link {
    z-index: 2;
}
.page-management .internal-link.add-content-fragment {
    background-image: url("../images/layout/add-widget.gif");
    background-position: 4px center;
    background-repeat: no-repeat;
    border-right: 1px solid #667379;
    font-weight: bold;
    padding: 0 8px 0 24px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}
.page-management .internal-link.change-layout {
    background-image: url("../images/layout/change-layout.gif");
    background-position: 8px center;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 0 4px 0 28px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}
.page-management .internal-link.selected:link, .page-management .internal-link.selected:active, .page-management .internal-link.selected:visited {
    background-color: Transparent;
    color: #333333;
    text-decoration: none;
}
.page-management .internal-link.import-export-page {
    background-image: url("../images/layout/revert.gif");
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 4px;
    padding: 0 0 0 20px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 5px;
    z-index: 2;
}
.page-management .internal-link.revert-page {
    background-image: url("../images/layout/revert.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border-right: 1px solid #667379;
    font-weight: bold;
    margin: 4px;
    padding: 0 8px 0 20px;
    position: absolute;
    right: 116px;
    text-decoration: none;
    top: 5px;
    z-index: 2;
}
.page-management .content-fragment-search {
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;
    z-index: 1;
}
.page-management .content-fragment-search input {
    background-color: Transparent;
    background-image: url("../images/layout/search.gif");
    background-position: left top;
    border-width: 0;
    font-size: 11px !important;
    height: 16px;
    padding: 4px 40px 4px 10px;
    width: 210px;
}
.page-management .clear-content-fragment-search {
    background-image: url("../images/layout/clear-search.gif");
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: -3px 0 0 10px;
    padding: 0 0 0 20px;
    position: relative;
    text-decoration: none;
}
.page-management .content-fragment-list-header {
}
.page-management .content-fragment-list {
    height: 95px;
    left: 5%;
    position: absolute;
    top: 40px;
    width: 90%;
}
.page-management .content-fragment-list-footer {
    clear: both;
}
.page-management .content-fragment-type {
    background-color: #FDFEFE;
    background-image: url("../images/layout/content-fragment-type-background.gif");
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #92AEBD;
    color: #666666;
    cursor: move;
    float: left;
    font-size: 11px !important;
    font-weight: normal;
    margin: 3px 0.54%;
    overflow: hidden;
    padding: 5px 0.54%;
    white-space: nowrap;
    width: 22%;
}
.page-management .internal-link.view-previous-content-fragments {
    background-image: url("../images/layout/left.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    left: 15px;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    top: 75px;
    width: 11px;
}
.page-management .internal-link.view-previous-content-fragments.disabled {
    background-image: url("../images/layout/left-disabled.gif");
}
.page-management .internal-link.view-next-content-fragments {
    background-image: url("../images/layout/right.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    right: 15px;
    top: 75px;
    width: 11px;
}
.page-management .internal-link.view-next-content-fragments.disabled {
    background-image: url("../images/layout/right-disabled.gif");
}
.page-management .layout-list-header {
}
.page-management .layout-list {
    height: 95px;
    left: 5%;
    position: absolute;
    top: 40px;
    width: 90%;
}
.page-management .layout-list-footer {
    clear: both;
}
.page-management .internal-link.view-previous-layouts {
    background-image: url("../images/layout/left.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    left: 15px;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    top: 75px;
    width: 11px;
}
.page-management .internal-link.view-previous-layouts.disabled {
    background-image: url("../images/layout/left-disabled.gif");
}
.page-management .internal-link.view-next-layouts {
    background-image: url("../images/layout/right.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    right: 15px;
    top: 75px;
    width: 11px;
}
.page-management .internal-link.view-next-layouts.disabled {
    background-image: url("../images/layout/right-disabled.gif");
}
.page-management .layout {
    background-color: #CCCCCC;
    float: left;
    height: 95px;
    margin: 0 0.25%;
    overflow: hidden;
    padding: 0 4px;
    text-align: center;
    width: 11%;
}
.page-management .layout img {
    border: 1px solid #999999;
    height: 90px;
    margin: 1px;
    max-width: 100%;
}
.page-management .layout-list .layout.selected img {
    border: 2px solid #0F64E3;
    margin: 0;
}
.content-fragment-management {
    display: block;
    margin: 10px 5px 5px;
}
.content-fragment-management.locked {
}
.content-fragment-management .content-fragment-management-content {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.content-fragment-management .content-fragment-management-content .content-fragment {
    margin: 0 !important;
}
.content-fragment-management-shade {
    background-image: url("../images/spacer.gif");
    height: 20000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2000px;
    z-index: 1000;
}
.content-fragment-management-header {
    background: url("../images/layout/content-fragment-header.gif") no-repeat scroll left top Transparent;
    color: #333333;
    cursor: move;
    font-family: Arial,Helvetica;
    font-size: 12px !important;
    font-weight: bold;
    margin: 0 18px 0 12px;
    padding: 0 0 0 6px;
}
.content-fragment-management-header-inner {
    background: url("../images/layout/content-fragment-header.gif") no-repeat scroll right top Transparent;
    height: 14px;
    margin-right: -6px;
    overflow: hidden;
    padding: 8px 10px 8px 4px;
}
.content-fragment-management-fragment-name {
    overflow: hidden;
    padding-right: 80px;
    white-space: nowrap;
}
.content-fragment-management.locked .content-fragment-management-header {
    color: #999999;
    cursor: auto;
}
.content-fragment-management-header a {
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.content-fragment-management .internal-link.configure-content-fragment {
    background-image: url("../images/layout/configure-content-fragment.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    margin: 0 4px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 12px;
}
.content-fragment-management .menu-button.content-fragment-wrapper-format-button {
    background-image: url("../images/layout/toggle-content-fragment-header.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    margin: 0 4px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 12px;
}
.content-fragment-management .internal-link.delete-content-fragment {
    background-image: url("../images/layout/delete-content-fragment.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    margin: 0 4px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 12px;
}
.content-fragment-management .internal-link.lock-content-fragment {
    background-image: url("../images/layout/unlock-content-fragment.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 0;
    margin: 0 4px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 12px;
}
.content-fragment-management .internal-link.unlock-content-fragment {
    background-image: url("../images/layout/lock-content-fragment.gif");
    background-position: 2px top;
    background-repeat: no-repeat;
    height: 0;
    margin: 0 4px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 12px;
}
.content-fragment-management.placeholder {
    background-color: #CCCCCC;
    border: 1px dashed #333333;
    display: block;
    height: 1em;
    margin: 5px;
    padding: 7px 4px;
    width: auto;
}
.menu.content-fragment-wrapper-format-content {
    background-color: #DDDDDD;
    border: 1px solid #666666;
    color: #333333;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.menu.content-fragment-wrapper-format-content .menu-item {
    cursor: pointer;
    padding: 5px;
}
.menu.content-fragment-wrapper-format-content .menu-item.selected {
    background-color: #333333;
    color: #EEEEEE;
}
.layout-content {
    width: 100%;
}
.layout-content .layout-region-inner {
    min-height: 40px;
}
.layout-content.content .layout-region.content {
    float: left;
    width: 100%;
}
.layout-content.content-left-sidebar-right .layout-region.content {
    overflow: hidden;
}
.layout-content.content-left-sidebar-right .layout-region.right-sidebar {
    float: right;
    width: 270px;
}
.layout-content.sidebar-left-content-right .layout-region.left-sidebar {
    float: left;
    width: 270px;
}
.layout-content.sidebar-left-content-right .layout-region.content {
    overflow: hidden;
}
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar {
    float: left;
    width: 270px;
}
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.content {
    overflow: hidden;
}
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.right-sidebar {
    float: right;
    width: 270px;
}
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content {
    overflow: hidden;
}
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left {
    float: right;
    width: 270px;
}
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right {
    float: right;
    width: 270px;
}
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar {
    clear: right;
    float: right;
    width: 540px;
}
.layout-content.header-top-content-left-sidebar-right .layout-region.header {
    width: 100%;
}
.layout-content.header-top-content-left-sidebar-right .layout-region.content {
    overflow: hidden;
    width: auto;
}
.layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar {
    clear: both;
    float: right;
    width: 270px;
}
.layout-content.header-top-sidebar-left-content-right .layout-region.header {
    width: 100%;
}
.layout-content.header-top-sidebar-left-content-right .layout-region.left-sidebar {
    clear: both;
    float: left;
    width: 270px;
}
.layout-content.header-top-sidebar-left-content-right .layout-region.content {
    overflow: hidden;
}
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.header {
    width: 100%;
}
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.left-sidebar {
    clear: both;
    float: left;
    width: 270px;
}
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content {
    overflow: hidden;
}
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.right-sidebar {
    float: right;
    width: 270px;
}
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.header {
    width: 100%;
}
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content {
    overflow: hidden;
}
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left {
    float: right;
    width: 270px;
}
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right {
    clear: both;
    float: right;
    width: 270px;
}
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar {
    clear: right;
    float: right;
    width: 540px;
}
.layout-content.split-content .layout-region.content {
    float: left;
    width: 49.99%;
}
.layout-content.split-content .layout-region.right-sidebar {
    float: right;
    width: 49.99%;
}
.layout-content.header-top-split-content .layout-region.header {
    width: 100%;
}
.layout-content.header-top-split-content .layout-region.content {
    float: left;
    width: 49.99%;
}
.layout-content.header-top-split-content .layout-region.right-sidebar {
    clear: both;
    float: right;
    width: 49.9%;
}
.layout.active .layout-region.header {
    padding-top: 10px;
}
.layout-content .layout-region .layout-region-inner {
    overflow: hidden;
    width: 100%;
}
.page-tabs.active {
    background: url("../images/layout/page-tabs-background.gif") repeat-x scroll left bottom #CCCCCC;
}
.tab.placeholder {
    background-color: #999999;
    border-color: #333333;
    border-style: dashed;
    height: 1.25em;
    padding: 5px;
    width: 40px;
}
.tab .internal-link.edit-tab {
    background-image: url("../images/layout/tab-icons.gif");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 0;
    margin: 2px 2px 2px 6px;
    overflow: hidden;
    padding: 9px 0 0;
    position: relative;
    top: 3px;
    width: 9px;
}
.tab .internal-link.edit-tab:hover {
    background-position: left -9px;
}
.tab .internal-link.delete-tab {
    background-image: url("../images/layout/tab-icons.gif");
    background-position: left -18px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 0;
    margin: 2px 2px 2px 4px;
    overflow: hidden;
    padding: 9px 0 0;
    position: relative;
    top: 3px;
    width: 9px;
}
.tab .internal-link.delete-tab:hover {
    background-position: left -27px;
}
.modal-mask {
    background-color: #333333;
    opacity: 0.4;
}
.modal {
    background-color: #FFFFFF;
    border: 6px solid #333333;
}
.modal-title {
    border-bottom: 1px solid #333333;
    color: #333333;
    cursor: move;
    font-size: 150%;
    font-weight: bold;
    margin: 0 8px;
    min-height: 24px;
    padding: 8px 0 2px;
}
.modal-content {
    background-color: #FFFFFF;
}
.modal-footer {
    height: 12px;
    width: 100%;
}
.modal-close {
    background-image: url("../images/common/close.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
}
.modal-resize {
    background-image: url("../images/common/resize.gif");
    background-repeat: no-repeat;
    bottom: 6px;
    cursor: se-resize;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 6px;
    width: 12px;
}

