10 x 10
html, body {
    color: #333333;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
a:link, a:visited, a:active {
    color: #0066DD;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    outline: medium none;
    text-decoration: underline;
}
html {
    background: none repeat scroll 0 0 #D1D1D1;
}
.content-fragment-page {
    background: url("../images/content-fragment-page-background.png") repeat-x scroll left top #D1D1D1;
    min-height: 218px;
}
.layout, .page-editing, .page-tabs {
    margin: 0 auto;
    width: 960px;
}
.layout {
    background: url("../images/content-fragment-page-background-bottom-right.png") no-repeat scroll right bottom #F1F1F1;
    clear: both;
    position: relative;
}
.layout-header {
    background: url("../images/content-fragment-page-background-bottom-left.png") no-repeat scroll left bottom transparent;
    bottom: 0;
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
}
.layout-footer {
    clear: both;
}
.layout-region {
}
.layout-region.header {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
}
.layout-region.header .wireframe-header-round-left {
    background: url("../images/content-fragment-page-background-top-left.png") no-repeat scroll left top #F1F1F1;
    bottom: -10px;
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
}
.layout-region.header .wireframe-header-round-right {
    background: url("../images/content-fragment-page-background-top-right.png") no-repeat scroll right top #F1F1F1;
    bottom: -10px;
    height: 10px;
    position: absolute;
    right: 0;
    width: 10px;
}
.page-management .layout {
    background-color: #E9E9E9;
    clear: none;
    max-width: 2000px !important;
    min-width: 0 !important;
    width: 11% !important;
}
.page-management-header {
    background-color: #E9E9E9;
    height: 10px;
}
.page-management {
    background-color: #E9E9E9;
    border-width: 0;
}
.page-editing {
    position: relative;
    width: 960px;
}
.page-editing .internal-link.edit-page, .page-editing .internal-link.save-page {
    display: none;
}
.site-banner .internal-link.edit-page, .site-banner .internal-link.save-page {
    background: url("../Images/customize-button.gif") no-repeat scroll right -20px transparent;
    color: #000000;
    font-size: 10px;
    height: 14px;
    padding: 3px 8px 3px 3px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 3;
}
.site-banner .internal-link.edit-page span, .site-banner .internal-link.save-page span {
    background: url("../Images/customize-button.gif") no-repeat scroll left top transparent;
    display: block;
    height: 20px;
    left: -18px;
    position: absolute;
    top: 0;
    width: 18px;
}
.page-management .content-fragment-search input {
    background-image: url("../images/content-fragment-search.gif");
    padding-top: 5px;
}
.merge-added {
    background: none repeat scroll 0 0 SpringGreen;
}
.merge-deleted {
    color: red;
    text-decoration: line-through;
}
.merge-added img, .content-fragment.compare .merge-added img {
    padding: 5px;
}
.merge-deleted img {
    background: none repeat scroll 0 0 red;
}
.pager {
    margin-top: 5px;
    text-align: center;
}
.pager a {
    background: url("../Images/pager-item.png") repeat-x scroll left bottom transparent;
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 1px 0 0;
    padding: 2px 6px 3px;
}
.pager .separator {
    display: none;
}
.pager a.selected {
    border-color: #999999;
    color: #333333;
}
.pager .summary {
    display: none;
}
.page-tabs .wireframe-page-tabs-top {
    height: 5px;
    margin: 0;
}
.page-tabs .wireframe-r1, .page-tabs .wireframe-r2, .page-tabs .wireframe-r3, .page-tabs .wireframe-r4 {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 1px;
    overflow: hidden;
}
.page-tabs .wireframe-r1 {
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid;
    height: 0;
    margin: 0 5px;
}
.page-tabs .wireframe-r2 {
    border-left-width: 2px;
    border-right-width: 2px;
    margin: 0 3px;
}
.page-tabs .wireframe-r3 {
    margin: 0 2px;
}
.page-tabs .wireframe-r4 {
    height: 2px;
    margin: 0 1px;
}
.page-tabs .wireframe-r1, .page-tabs .wireframe-r2, .page-tabs .wireframe-r3, .page-tabs .wireframe-r4 {
    background-color: #474747;
    border-color: #CCCCCC;
}
.tab.placeholder {
}
.tab .internal-link.edit-tab, .tab .internal-link.delete-tab {
    margin-top: 7px;
}
.tab-set {
    background: url("../Images/tab-bar.gif") repeat-x scroll 0 0 transparent;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0 2px;
}
.tab-set .tab {
    border: medium none;
    float: left;
    margin-right: 2px;
    padding: 0 0 0 10px;
}
.tab-set .tab div {
    overflow: hidden;
    padding: 0 10px 0 0;
}
.tab-set .tab a {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 30px;
}
.tab-set .tab.selected {
    background: url("../Images/tab-set.png") no-repeat scroll left -30px transparent;
}
.tab-set .tab.selected div {
    background: url("../Images/tab-set.png") no-repeat scroll right -90px Transparent;
}
.tab-set .tab.selected a {
    color: #000000;
}
.tab-set #new-tab {
    background-position: left -120px;
}
.tab-set #new-tab div {
    background-position: right -150px;
}
.tab-set #new-tab a {
    color: #FFFFFF;
}
.tab-set.with-panes {
    background: url("../Images/modal-tab-set.gif") repeat-x scroll left bottom transparent;
    margin: 0;
    padding-left: 0;
}
.tab-set.with-panes .tab {
    background: url("../Images/application-tabset.gif") repeat-x scroll left bottom #F3F3F3;
    border-bottom-width: 0;
    border-right: 1px solid #CCCCCC;
    float: none;
    margin: 2px 0 1px;
    padding: 6px 10px;
}
.tab-set.with-panes table tr td:last-child .tab {
    border: medium none;
}
.tab-set.with-panes .tab div {
    background-image: none;
    padding: 0;
}
.tab-set.with-panes .tab a {
    color: #0066DD;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 20px;
}
.tab-set.with-panes .tab.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 0;
    padding-top: 7px;
}
.tab-set.with-panes .tab.selected div {
    background-image: none;
}
.tab-set.with-panes .tab.selected a {
    color: #333333;
}
.tab-pane {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top-width: 0;
    padding: 10px;
}
.content-fragment {
    margin: 10px;
}
.content-fragment-content {
    background-color: #FFFFFF;
    padding: 12px;
}
.content-fragment.with-header .content-fragment-header {
    background-color: #FFFFFF;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    padding: 6px 12px;
}
.content-fragment.with-header .content-fragment-header div {
    border-bottom: 1px solid #DDF1FA;
    color: #666666;
    font-size: 11px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.content-fragment.with-header.editable .content-fragment-header {
    background-image: url("../images/editable-content-fragment-background.gif");
    border-bottom-color: #BFAE9E;
}
.content-fragment.with-header.no-wrapper .content-fragment-header, .content-fragment.with-header.no-wrapper-with-spacing .content-fragment-header {
    background-color: Transparent;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
}
.content-fragment.with-header .content-fragment-content {
    padding-top: 1px;
}
.content-fragment.no-wrapper .content-fragment-content, .content-fragment.no-wrapper-with-spacing .content-fragment-content {
    padding: 0;
}
.layout-content.content-left-sidebar-right .layout-region.content .content-fragment, .layout-content.sidebar-left-content-right .layout-region.left-sidebar .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment, .layout-content.header-top-content-left-sidebar-right .layout-region.content .content-fragment, .layout-content.header-top-sidebar-left-content-right .layout-region.left-sidebar .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.left-sidebar .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment {
    margin-right: 0;
}
.layout-region.header .content-fragment {
    margin-left: 0;
    margin-right: 0;
}
.layout-content.split-content .layout-region.content .content-fragment, .layout-content.header-top-split-content .layout-region.content .content-fragment {
    margin-right: 5px;
}
.layout-content.split-content .layout-region.right-sidebar .content-fragment, .layout-content.header-top-split-content .layout-region.right-sidebar .content-fragment {
    margin-left: 5px;
}
.wireframe-content-fragment-top, .wireframe-content-fragment-bottom {
    height: 5px;
}
.wireframe-content-fragment-top .wireframe-r1, .wireframe-content-fragment-top .wireframe-r2, .wireframe-content-fragment-top .wireframe-r3, .wireframe-content-fragment-top .wireframe-r4, .wireframe-content-fragment-bottom .wireframe-r1, .wireframe-content-fragment-bottom .wireframe-r2, .wireframe-content-fragment-bottom .wireframe-r3, .wireframe-content-fragment-bottom .wireframe-r4 {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 1px;
    overflow: hidden;
}
.wireframe-content-fragment-top .wireframe-r1, .wireframe-content-fragment-bottom .wireframe-r4 {
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid;
    height: 0;
    margin: 0 5px;
}
.wireframe-content-fragment-top .wireframe-r2, .wireframe-content-fragment-bottom .wireframe-r3 {
    border-left-width: 2px;
    border-right-width: 2px;
    margin: 0 3px;
}
.wireframe-content-fragment-top .wireframe-r3, .wireframe-content-fragment-bottom .wireframe-r2 {
    margin: 0 2px;
}
.wireframe-content-fragment-top .wireframe-r4, .wireframe-content-fragment-bottom .wireframe-r1 {
    height: 2px;
    margin: 0 1px;
}
.wireframe-content-fragment-top .wireframe-r1, .wireframe-content-fragment-top .wireframe-r2, .wireframe-content-fragment-top .wireframe-r3, .wireframe-content-fragment-top .wireframe-r4, .wireframe-content-fragment-bottom .wireframe-r1, .wireframe-content-fragment-bottom .wireframe-r2, .wireframe-content-fragment-bottom .wireframe-r3, .wireframe-content-fragment-bottom .wireframe-r4 {
    background-color: #FFFFFF;
    border-color: #D6D6D6;
}
.content-fragment-content {
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
}
.content-fragment.side-border-only .wireframe-content-fragment-top, .content-fragment.side-bottom-border-only .wireframe-content-fragment-top, .content-fragment.no-wrapper .wireframe-content-fragment-top, .content-fragment.no-wrapper-with-spacing .wireframe-content-fragment-top, .content-fragment.top-side-border-only .wireframe-content-fragment-bottom, .content-fragment.side-border-only .wireframe-content-fragment-bottom, .content-fragment.no-wrapper .wireframe-content-fragment-bottom, .content-fragment.no-wrapper-with-spacing .wireframe-content-fragment-bottom {
    display: none;
}
.content-fragment.no-wrapper .content-fragment-content, .content-fragment.no-wrapper-with-spacing .content-fragment-content {
    background-color: Transparent;
    border-left-width: 0;
    border-right-width: 0;
    padding: 0;
}
.content-fragment.no-wrapper {
    margin: 0;
}
.content-fragment.side-border-only {
    margin-bottom: 0;
    margin-top: 0;
}
.content-fragment.top-side-border-only {
    margin-bottom: 0;
}
.content-fragment.side-bottom-border-only {
    margin-top: 0;
}
.content-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.content-list .content-item {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0;
    padding: 0.25em 0;
}
.navigation-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.navigation-list .navigation-item {
    margin: 0;
    padding: 0.25em 0;
}
.table-list {
    border-collapse: collapse;
    margin: 1em 0;
}
.table-header-column {
    border-bottom: 1px solid #999999;
    border-top: 1px dotted #CCCCCC;
    font-size: 9px;
    margin: 0;
    padding: 8px;
    text-transform: uppercase;
    white-space: nowrap;
}
.table-header-column.sorting_asc, .table-header-column.sorting_desc, .table-header-column.sorting {
    text-align: left;
}
.table-header-column .internal-link.sort-descending, .table-header-column .internal-link.sort-ascending {
    background-image: url("../Images/descending.gif");
    background-repeat: no-repeat;
    display: inline-block;
    height: 0;
    line-height: 9px;
    margin: 0;
    overflow: hidden;
    padding: 6px 0 0;
    position: relative;
    top: -1px;
    width: 10px;
}
.table-header-column .internal-link.sort-ascending {
    background-image: url("../Images/ascending.gif");
}
.table-column {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0;
    padding: 8px;
}
.table-item.last .table-column {
    border-bottom-width: 0;
}
.attribute-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.attribute-item {
    display: inline;
    margin: 0 3px 0 0;
    padding: 0;
}
.attribute-name {
    margin: 0 3px 0 0;
}
.hierarchy-list {
    list-style-type: none;
    margin: 1px 0;
    padding: 0;
}
.hierarchy-list .hierarchy-list {
    margin-left: 11px;
}
.hierarchy-item {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0;
    padding: 4px 0 4px 11px;
    position: relative;
}
.hierarchy-item a {
}
.hierarchy-item img {
    left: 0;
    position: absolute;
    top: 7px;
}
.hierarchy-item.selected {
    background-color: #0066CC;
    border-bottom-width: 0;
    color: #FFFFFF;
    font-weight: bold;
}
.hierarchy-item.selected a {
    color: #FFFFFF;
}
.hierarchy-item.selected img {
    display: none;
}
.hierarchy-item.with-children {
    font-weight: bold;
}
.hierarchy-item.without-children {
    padding-left: 0;
}
.filter {
    border-top: 1px solid #CCCCCC;
    margin: 1em 0 10px;
    padding: 10px 0 0;
}
.filter .separator {
    margin: 0 3px;
}
.filter-label {
}
.filter-option {
}
.filter-option.selected {
    font-weight: bold;
}
fieldset.field-list {
    border: medium none;
    margin: 1em 0;
    padding: 0;
}
.field-list-description {
    color: #000000;
    display: inline;
    white-space: normal;
}
.field-list-description span {
    float: left;
    position: relative;
}
ul.field-list {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.field-item {
    margin: 0;
    padding: 0.5em 0;
}
.field-item-description {
    clear: both;
    color: #999999;
    display: block;
}
.field-item-header {
    display: block;
    font-weight: bold;
}
.field-item-validation {
    color: #FF0000;
}
.breadcrumb-list {
    color: #888888;
    font-size: 10px;
    padding: 20px 0 0;
}
.breadcrumb-list .breadcrumb-item {
    color: #000000;
    font-weight: bold;
    margin: 0 3px;
}
.breadcrumb-list .breadcrumb-item a {
    font-weight: bold;
}
.title {
}
.description {
}
.admin-bar {
    background: none repeat scroll 0 0 #999999;
    color: #333333;
    height: 25px;
    padding: 4px;
    position: relative;
    text-align: right;
}
.admin-bar a {
    color: #333333;
}
.admin-bar .navigation-list {
    list-style-type: none;
    margin: 0 auto;
    padding-top: 3px;
    width: 960px;
}
.admin-bar .navigation-item {
    display: inline;
    margin: 0;
    padding: 0;
}
.admin-bar .navigation-item .internal-link {
    border-left: 1px solid #666666;
    margin-left: 5px;
    padding-left: 5px;
}
.admin-bar .internal-link.save-default-page, .admin-bar .internal-link.edit-page {
    border-left-width: 0;
}
.admin-bar fieldset.field-list {
    border: medium none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}
.admin-bar ul.field-list {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.admin-bar .field-item {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}
.admin-bar .field-item-description {
    display: none;
}
.admin-bar .field-item-input select {
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.content-fragment.group-banner {
    min-height: 115px;
    padding: 0;
    position: relative;
}
.group-banner .content-fragment-content {
    background-color: transparent;
}
.group-banner .group-name {
    font-size: 36px;
    letter-spacing: -1.25px;
    margin: 0;
    padding: 26px 0 0 18px;
}
.group-banner .group-description {
    color: #666666;
    font-size: 11px;
    margin: 0;
    padding: 0 0 1em 18px;
}
.group-banner .group-description p {
    margin: 0;
}
.group-banner .group-banner-actions {
    position: absolute;
    right: 20px;
    top: 4px;
}
.content-fragment.user-banner {
    min-height: 115px;
    padding: 0;
    position: relative;
}
.user-banner .user-name {
    font-size: 24px;
    letter-spacing: -1.25px;
    margin: 0;
    padding: 15px 0 0 90px;
}
.user-banner .user-status {
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 90px;
    width: 465px;
}
.user-banner .wireframe-user-status-header {
    background: url("../images/core/user-banner-status-message-background.gif") no-repeat scroll left top transparent;
    height: 12px;
    overflow: hidden;
    width: 465px;
}
.user-banner .wireframe-user-status-content {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 0 1px;
    padding: 2px 8px;
    width: 447px;
}
.user-banner .wireframe-user-status-footer {
    background: url("../images/core/user-banner-status-message-background.gif") no-repeat scroll left bottom transparent;
    height: 3px;
    margin-bottom: 12px;
    width: 465px;
}
.user-banner .status-message {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
}
.user-banner .status-date {
    color: #999999;
    display: block;
    font-size: 9px;
}
.user-banner .user-banner-actions {
    position: absolute;
    right: 20px;
    top: 15px;
}
.user-banner .user-banner-actions .navigation-list {
    margin-right: 0;
}
.user-banner .user-banner-actions .navigation-item {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 5px 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
}
.user-banner .internal-link {
    padding-left: 28px;
    position: relative;
}
.user-banner .internal-link span {
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
.user-banner .internal-link.request-friendship {
    font-size: 18px;
}
.user-banner .internal-link.request-friendship span {
    top: 3px;
}
.user-banner .internal-link.request-friendship span, .user-banner .internal-link.cancel-friend-request span, .user-banner .internal-link.delete-friendship span {
    background: url("../images/core/add-friend.gif") no-repeat scroll left center transparent;
}
.user-banner .internal-link.favorite-on span, .user-banner .internal-link.favorite-off span, .user-banner .internal-link.processing span {
    background: url("../images/core/follow.gif") no-repeat scroll left center transparent;
}
.user-banner .internal-link.send-email span, .user-banner .internal-link.start-conversation span {
    background: url("../images/core/send-message.gif") no-repeat scroll left center transparent;
}
.user-banner .internal-link.save-user-profile {
    color: #FF0000;
    font-size: 18px;
}
.user-banner .internal-link.save-user-profile span {
    background: url("../images/save-user-profile.gif") no-repeat scroll left center transparent;
    top: 3px;
}
.user-banner .internal-link.edit-user-profile span {
    background: url("../images/save-user-profile.gif") no-repeat scroll left center transparent;
}
.user-banner .user-avatar {
    border: 1px solid #CCCCCC;
    left: 10px;
    max-width: 70px !important;
    padding: 2px;
    position: absolute;
    top: 20px;
}
.user-banner .user-avatar img {
    border-width: 0;
    max-height: 70px !important;
    max-width: 70px !important;
}
.user-banner .user-avatar .edit-avatar {
    background: url("../Images/blue_pencil_small.png") no-repeat scroll center center Transparent;
    display: block;
    float: right;
    height: 9px;
    padding: 6px 6px 9px 9px;
    position: absolute;
    right: 0;
    top: 0;
    width: 9px;
}
.user-banner .user-avatar .edit-avatar:hover {
    text-decoration: none;
}
.menu {
    background: none repeat scroll 0 0 #001A26;
    border: 1px solid #004365;
    color: #FFFFFF;
    padding: 10px;
}
.menu a {
    color: #FFFFFF;
    font-weight: bold;
}
.menu .content-list-name {
    color: #666666;
    font-size: 11px;
    text-transform: uppercase;
}
.menu .content-list-name a {
    color: #FF9900;
    font-size: 13px;
    text-transform: none;
}
.menu .content-item {
    border-top: 1px dotted #40535C;
    padding: 3px 0;
}
.tag-cloud .tag-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tag-cloud .tag-list li {
    display: inline;
    line-height: 28px;
    margin-right: 8px;
}
.tag-cloud .tag-list a {
    font-weight: bold;
}
.tag-cloud li.level-6 {
    font-size: 10px;
}
.tag-cloud li.level-5 {
    font-size: 12px;
}
.tag-cloud li.level-4 {
    font-size: 14px;
}
.tag-cloud li.level-3 {
    font-size: 16px;
}
.tag-cloud li.level-2 {
    font-size: 18px;
}
.tag-cloud li.level-1 {
    font-size: 22px;
}
.abbreviated-post {
    min-height: 46px;
    padding: 10px 0 10px 46px;
    position: relative;
}
.abbreviated-post .avatar {
    border: 1px solid #CCCCCC;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 10px;
}
.abbreviated-post .avatar img {
    max-height: 32px;
    max-width: 32px;
}
.abbreviated-post .avatar.blogapp {
    background: url("../Images/Weblogs/icon-blog-32.gif") no-repeat scroll left top transparent;
    height: 32px;
    width: 32px;
}
.abbreviated-post .avatar.forumapp {
    background: url("../Images/Forums/icon-forum-32.gif") no-repeat scroll left top transparent;
    height: 32px;
    width: 32px;
}
.abbreviated-post .avatar.fileapp {
    background: url("../Images/MediaGalleries/icon-files-32.gif") no-repeat scroll left top transparent;
    height: 32px;
    width: 32px;
}
.abbreviated-post .avatar.wikiapp {
    background: url("../Images/Wikis/icon-wiki-32.gif") no-repeat scroll left top transparent;
    height: 32px;
    width: 32px;
}
.abbreviated-post .avatar.page {
    background: url("../Images/Core/icon-page-32.gif") no-repeat scroll left top transparent;
    height: 32px;
    width: 32px;
}
.abbreviated-post .post-name {
    color: #999999;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
}
.abbreviated-post .post-name a {
}
.abbreviated-post .post-author {
    display: inline;
}
.abbreviated-post .post-author a {
}
.abbreviated-post .post-date {
    display: inline;
}
.abbreviated-post .post-date .value {
    margin-left: 3px;
}
.abbreviated-post .post-author, .abbreviated-post .post-date, .abbreviated-post .post-application, .abbreviated-post .post-actions {
    color: #666666;
    font-size: 11px;
}
.abbreviated-post .post-summary {
    line-height: 18px;
    margin: 8px 0;
}
.abbreviated-post .post-content {
    line-height: 18px;
    margin: 8px 0;
}
.full-post {
    position: relative;
}
.full-post .post-content {
    line-height: 18px;
}
.message {
    font-size: 11px;
    font-weight: normal;
    margin: 1em 0;
}
.message.norecords {
    background-color: #CADBEE;
    border: 1px solid #330000;
    color: #000000;
    padding: 12px;
}
.message.success {
    background-color: #88DD88;
    border: 1px solid #003300;
    color: #003300;
    padding: 12px;
}
.message.error {
    background-color: #DD6666;
    border: 1px solid #330000;
    color: #000000;
    padding: 12px;
}
.message.warning {
    background-color: #FFFFAA;
    border: 1px solid #EEC600;
    color: #333300;
    padding: 12px;
}
.message.disclaimer {
    background-color: #FFFFAA;
    border: 1px solid #EEC600;
    color: #333300;
    padding: 12px;
}
.message.capture {
    background-color: #FFFFAA;
    border: 1px solid #EEC600;
    color: #333300;
    padding: 12px;
}
.message.directions {
}
.message.loading {
}
.content-fragment.message {
    font-size: 12px;
}
.page {
    padding: 20px;
}
.page-name {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 10px;
}
.page-description {
    color: #999999;
    margin: 1em 0;
}
.page-content {
    margin: 1em 0;
}
.user-defined-markup {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.user-defined-markup img {
    max-width: 100%;
    overflow: hidden;
}
.user-defined-markup table {
    margin-left: 1px;
}
.user-defined-markup .MsoListParagraph {
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0.25in !important;
}
.user-defined-markup .MsoNormal {
    margin: 0 0 0.0001pt !important;
}
.user-defined-markup ol {
    list-style-type: decimal;
}
.user-defined-markup ol ol {
    list-style-type: lower-alpha;
}
.user-defined-markup ol ol ol {
    list-style-type: upper-alpha;
}
.user-defined-markup ol ol ol ol {
    list-style-type: lower-roman;
}
.user-defined-markup ol ol ol ol ol {
    list-style-type: upper-roman;
}
div.modal-close {
    background: url("../Images/icon-close.gif") no-repeat scroll 0 0 transparent;
    margin-top: 2px;
}
.modal {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
}
.modal-content {
    border-right: 1px solid #CCCCCC;
    margin: 0;
    padding: 0 6px 0 0;
}
.modal-content-2 {
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    padding: 0 6px;
}
.modal-title {
    background: url("../Images/modal-header-left.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: move;
    margin: 0;
    padding: 0 0 0 6px;
}
.modal-title-2 {
    background: url("../Images/modal-header-right.png") no-repeat scroll right top transparent;
    cursor: move;
    padding-right: 6px;
}
.modal-title-3 {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    padding: 7px;
}
.modal-title-4 {
    border-bottom: 1px solid #DDF1FA;
    color: #333333;
    font-size: 28px;
    overflow: hidden;
    padding: 6px 0;
}
.modal-footer {
    background: url("../Images/modal-footer-left.png") no-repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
.modal-footer-2 {
    background: url("../Images/modal-footer-right.png") no-repeat scroll right top transparent;
    padding: 0 6px 0 0;
}
.modal-footer-3 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    height: 0.99%;
    margin-left: 6px;
    overflow: hidden;
    padding: 6px 0 0;
}
.modal-resize {
    bottom: 10px;
    right: 6px;
}
.CommonPollArea {
    background-color: #F4F4F4;
    border: 1px solid #999999;
    margin: 0 auto;
    min-width: 300px;
    width: 50%;
}
.CommonPollQuestion {
    background-color: #CCCCCC;
    border-color: #999999;
    border-style: solid;
    border-width: 0 0 1px;
    font-size: 105%;
    margin: 0;
    padding: 4px;
}
.CommonPollContent {
    padding: 4px;
}
.CommonPollDescription {
}
.CommonPollSwitchedContent {
    margin: 0 auto;
    width: 80%;
}
ul.CommonPollAnswerList {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.CommonPollAnswerList li {
    margin: 6px 0 0;
    padding: 0;
}
.CommonPollAnswer {
    padding: 2px;
}
.CommonPollUserVote {
    color: #777777;
    margin: 1em 0;
}
.CommonPollFooter {
    background-color: #CCCCCC;
    border-color: #999999;
    border-right: 0 solid #999999;
    border-style: solid;
    border-width: 1px 0 0;
    font-size: 80%;
    padding: 2px;
}
.CommonPollResultGraph {
    white-space: nowrap;
}
.CommonPollResultGraph img {
    height: 19px !important;
}
ul.CommonPollFooterList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.CommonPollFooterList li {
    display: inline;
    margin: 0 6px;
    padding: 0;
}
.content-fragment.edit-user .tab-set {
    margin-left: -12px;
    margin-right: -12px;
}
fieldset.setting-list {
    border: medium none;
    margin: 1em 0;
    padding: 0;
}
fieldset.setting-list legend {
    color: #444444;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
}
ul.setting-list {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.setting-list-footer {
    clear: both;
}
.setting-item {
    clear: both;
    margin: 0;
    padding: 0.5em 0;
}
.setting-item-label {
    display: block;
    float: left;
    margin-right: 0.4em;
    text-align: right;
    vertical-align: top;
    width: 16em;
}
.setting-item-header {
    color: #888888;
    font-weight: bold;
    text-transform: uppercase;
}
.setting-item-description {
    color: #888888;
    display: block;
    font-size: 0.8em;
}
.setting-item-input {
    display: block;
    float: left;
}
.setting-item-validation {
    color: #FF0000;
}
.setting-item.setting-avatar .setting-item-label, .setting-item.setting-shared-feeds .setting-item-label, .setting-item.setting-signature .setting-item-label {
    margin-top: 1em;
    text-align: left;
}
.setting-item.setting-avatar .setting-item-input, .setting-item.setting-shared-feeds .setting-item-input, .setting-item.setting-signature .setting-item-input {
    clear: both;
    float: none;
}
.setting-item.setting-save .setting-item-label {
    display: none;
}
.user-file-url {
    background-color: #CCCCCC;
    border: 1px solid #999999;
    margin-bottom: 8px;
    margin-top: 4px;
}
.user-file-url input {
    margin: 2px;
}
.user-file-url-preview {
    background-color: #FFFFFF;
    border-color: #999999;
    border-style: solid;
    border-width: 0 0 1px;
    color: #999999;
    font-size: 80%;
    overflow: hidden;
    padding: 4px;
    text-align: center;
}
.user-file-url-preview img {
    max-height: 100px;
    max-width: 250px;
}
.tags-editor {
    background: url("../Images/tags-editor-bkg.gif") no-repeat scroll right bottom #FFFFFF;
    border-left: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-top: 2px;
    padding: 8px;
}
.tags-editor textarea {
    font-family: Arial;
    font-size: 12px;
}
.post-tags .internal-link.edit-tags {
    font-size: 9px;
    font-weight: normal;
    margin-left: 3px;
}
.content-fragment-page.msgs-message .page-content .message {
    color: #FF0000;
}

