/*--- page layout framework ------------*/

div#primary {
	float: left;
	width: 60em;
	margin-left: 1.5em;
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

div#secondary {
	float: left;
	width: 23em;
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

div#extra {
	float: left;
	width: 13.5em;
}

div#primary p, div#secondary p, div#secondary li {
	font-size: 1.1em;
}

/*--- header ------------*/

p#vcard {
	width: 20em;
	margin: 0;
	padding: 0 0 0 2.3em;
	float: left;
	background: transparent url("/img/social/vcard.png") 0 0.2em no-repeat;
}

/*--- contact form ------------*/

form#contactform label {
	width: 9em;
}

form#contactform button {
	margin: 0 0 0 10em;
	text-indent: -300em;
	width: 6em;
	background-color: #000;
	background-image: url("/images/submit_button_off.png");
	background-position: center center;
	background-repeat: no-repeat;
}

form#contactform fieldset#msg {
	margin-top: 1em;
}

form#contactform input, form#contactform textarea {
	width: 28em;
}

form#contactform textarea {
	height: 14em;
}

/*--- miscellaneous ------------*/

span.im {
	color: #c5e2b5;
}
