/*--- page layout framework ------------*/

div#primary {
	float: left;
	width: 58em;
}

div#secondary {
	float: right;
	width: 19em;
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

div#extra {
	float: left;
	width: 19em;
}

/*--- miscellaneous ------------*/

span.im {
	color: #c5e2b5;
}


/*--- page layout framework ------------*/

div#intro {
	width: 50em;
}

div#categories {
	float: left;
	width: 16em;
}

/*
div#featured {
	float: left;
	width: 27.5em;
	padding-left: 1.5em;
	margin-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

div#introduction {
	float: left;
	width: 29em;
	
}

div#project {
	width: 58.5em;
}

div.firstsplit {
	float: left;
	width: 28em;
	padding-right: 2em;
}

div.secondsplit {
	float: left;
	width: 27em;
}
*/
/*--- miscellaneous ------------*/

h2 {
	margin-bottom: 0.5em;

}

h3 {
	margin-bottom: 0.5em;
	
}

/*
div#introduction p {
	font-size: 1.05em;
}

div#introduction div.blocked {
	padding: 1em 1em 0.1em 1em;
}

div#mission {
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
	padding-top: 1em;
}

div#introduction p.smaller {
	font-size: 0.9em;
}

p.download {
	padding: 0.3em 0.5em 0.3em 2.5em;
	background: transparent url("/images/down_off.png") 0.5em center no-repeat;
}

div#featured p.hilite {
	margin-bottom: 1em;
}

div#featured p.hilite em {
	color: #8a959e;
	font-style: normal;
}

div#featured div.blocked p {
	padding: 0.4em 0.6em;
	margin-bottom: 0;
}
*/
/*--- header ------------*/
/*
p#linkedin {
	width: 20em;
	margin: 0;
	padding: 0 0 1.2em 2.3em;
	float: left;
	background: transparent url("/images/linkedin.png") 0 0 no-repeat;
}

p#behance {
	width: 20em;
	margin: 0;
	padding: 0 0 1.2em 2.3em;
	float: left;
	background: transparent url("/images/behance.png") 0 0 no-repeat;
}

p#contact {
	clear: left;
	width: 20em;
	margin: 0;
	padding: 0 0 0 2.3em;
	float: left;
	background: transparent url("/images/email_off.png") 0 0.25em no-repeat;
}
*/
/*--- navigation ------------*/

/*

div#categories p.category, div#categories p.single a {
	margin: 0;
	font-size: 1.1em;
	color: #c5e2b5;
}

div#categories p.single a {
	display: block;
	padding: 0 0 0.1em 0;
	font-size: 1.2em;
	border-bottom: 2px solid #5f676d;
}

div#categories p.single a:hover {
	color: #fff;
	text-decoration: none;
}

div#categories ul li a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	color: #b6bcc1;
	border-top: 1px solid #5f676d;
	outline: none;
}

div#categories ul.subcategory {
	margin: 0 0 1em 0;
	padding: 0;
	background: none;
	border-bottom: 2px solid #5f676d;
}

div#categories ul.subcategory li {
	margin: 0;
	padding: 0;
	background: none;
}

div#categories ul.subcategory li a:hover {
	color: #fff;
}

div#categories ul.subcategory li a.accordion {
	color: #b6bcc1;
	background: transparent url("/images/down_off.png") right 0.7em no-repeat;
	
}

div#categories ul.subcategory li a.accordion:hover, div#categories ul.subcategory li a.active {
	color: #fff;
}

div#categories ul.subcategory li a.accordion:hover, div#categories ul.subcategory li a.accordion.active {
	background: transparent url("/images/down_on.png") right 0.7em no-repeat;
}

div#categories ul.projects {
	margin: 0;
	padding: 0;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
}

div#categories ul.projects li a {
	padding: 0.4em 1em;
	font-size: 1.1em;
	color: #b6bcc1;
	cursor: pointer;
}

div#categories ul.projects li a:hover {
	color: #fff;
}

div#categories ul.projects li a.active {
	color: #79ff25;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}



div#thumbs {
	margin-bottom: 1.5em;
	padding: 1em;
	white-space: nowrap;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

div#thumbs img, div#featured img {
	vertical-align: middle;
	border-bottom: 3px solid #262a2d;
	margin-right: 1em;
}

div#featured img {
	margin: 1em 0 0.5em 0;
}

div#thumbs img.active, div#featured img.active {
	border-bottom: 3px solid #a1ff66;
}

div#thumbs a.last img {
	margin: 0;
}
*/
div.scroll {
	width: 100%;
	overflow: auto;
}





div#footer p#poweredby {
	width: 28em;
	padding-left: 2.8em;
	background: transparent url("/images/archive_off.png") 0.6em center no-repeat;
}

.paypal input
{

	width:10em;
	
}

.paypal select
{

	background:black url("/images/opaque_10.png") 0 0 repeat !important;
}

/*End */
