body, .highlight  , .highlight .hll 
{
	background-color:white !important;
	background-image:none !important;		
	padding-left: 20px;
}

#header
{
	display:none;
}

.postmeta.full
{
	display:none;
}

#footer, #disqus_thread, .social
{
	display:none;
}

html, a, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp,
sub, sup, tt, var, dd, dl, dt, li, ol, ul, form, fieldset, input, textarea, label, 
table, legend, caption, tbody, tfoot, thead, tr, th, td, .highlight {
	color:black;
	text-align:left;
}

blockquote
{
	font-style: italic;
	border-left-width: 0px;
}

div#content
{
margin-bottom: 1em;
padding: 1em 1em 1em 1em;

}

a {
	font-size: inherit;
}

a:link, a span.hilite {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover, a span.hilite:hover {
	text-decoration: none;
	color: black;
}

a:active, a span.hilite:active {
	text-decoration: none !important;
	color: black;
}

#logo
{
display:block !important;
}

.post ul li {
	
	list-style-type: disc;
	background-image: none;
}

div#disqus_thread ul li {
	background-image: none;
}

.post ul li:hover {
	background-image: none;
}

article{
	display:block;

}

