p,html, body
{
	text-align: left;
}

img, a img, :link img, :visited img {
	border: 0;
}

object {
	outline: none; /* fix for FF3 */
}

div.container
{

		margin: 0 auto;
}

.span 24
{
	width: 81em;
}

body
{
	font-size: 79%;
	text-align: center;
	color: #D2D8DE;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	
	background: #474c52 url("/images/background.jpg") center center fixed;
	-webkit-font-smoothing: antialiased;
}


div#header {
position:relative;
	padding-top: 1em;
box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1), 1px 6px 3px 0 rgba(0, 0, 0, 0.25);
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
top:-20px;

}

div#footer {
	font-size: 0.9em;
}


div#footer p {
	margin: 0;
	padding: 0;
	color: #b6bcc1;
}


/*--- element defaults ------------*/

p, li, dd, legend, input, label, select, optgroup, textarea, table {

	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	font-size: 1em;
}

p {
	margin: 0em 0em 1.3em 0em;
	line-height: 1.6em;
}


blockquote {
	margin: 0 0 1.3em 1em;
	padding: 0 2em 0 1em;
/*	font-size: 0.9em;*/
	color: #C5CBD0; /*b6bcc1;*/
	border-left: 3px solid #a1ff66;
}



/*--- links ------------*/

/*a {
	font-size: inherit;
}*/

a:link, a span.hilite {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: #c5e2b5;
}

a:visited {
	text-decoration: none;
	color: #95be7d;
}

a:hover, a span.hilite:hover {
	text-decoration: none;
	color: #a1ff66;
}

a:active, a span.hilite:active {
	text-decoration: none !important;
	color: #fff;
}



/*--- headings ------------*/

h1, h2, h3, h4, h5 {

	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	line-height: 1em;
	font-weight: normal;
	text-align: left;
}

h1 {
	margin: 0.1em 0 0.6em 0;
	font-size: 2.1em;
	color: #fff;
	/*border-bottom: 2px solid #D2D8DE;*/
	padding-bottom:3px;
}
h2 {
	margin: 0.1em 0 0.6em 0;
	font-size: 1.6em;
	color: #fff;
}

#logo h2
{
	font-size: 1.9em;
	margin-top:0.2em;
}

h4{
	margin-top:1.2em;
	margin-bottom:0.2em;

	font-size: 1.1em;
	color: #fff;
}

h3 {
	margin: 0 0 0.2em 0;
	font-size: 1.4em;
	
}


h5 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

h2 a:hover, h3 a:hover, h4 a:hover {
	color: #b0e194 !important;
}

h2 a:active, h3 a:active, h4 a:active {
	color: #79ff25 !important;
	
	
}

h2 a
{
	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
}

/*--- paragraphs ------------*/

.hilite {
	color: #fff;
}

.result {
	color: #a1ff66;
}



/*--- images ------------*/

img.getflash {
	width: 112px;
	height: 33px;
	margin-bottom: 0.5em;
}

img.za {
	width: 16px;
	height: 11px;
	vertical-align: -2px;
	margin-left: 4px;
}

/*--- forms ------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

/*label, input, select, textarea {
	font-size: 1.1em;
}*/

label {
	display: block;
	float: left;
	width: 10em;
	clear: left;
	margin-right: 1em;
	padding: 0.3em 0;
	text-align: right;
}

input, select, textarea {
	width: 20em;
	float: left;
	margin-bottom: 0.5em;
	padding: 0.4em;
	color: #C5CBD0;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none;
}

input:focus, select:focus, textarea:focus {
	color: #fff;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

textarea {
	width: 20em;
	height: 7em;
	line-height: 1.3em;
	overflow: auto;
}

button {
	padding: 0.3em 0 0.3em 0;
	/*font: 0.9em "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-size: 0.9em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: auto; /* Ref: http://jehiah.cz/archive/button-width-in-ie */
	overflow: visible;
	background-color: transparent;
	border: none;
}

button:hover {
	background-color: #509f24 !important;
}

button:active {
	background-color: #800 !important;
}

/*--- bullet lists ------------*/

table li {
	font-size: 1em; /* reset */
}

ul {
	margin-bottom: 0.7em;
}

div.post ul li {
	padding: 0 0 0.8em 2em;
	list-style-type: none;
	background: transparent url("/images/li_off.png") 0.2em 0.2em no-repeat;
}

div#disqus_thread ul li {
	background: none;
}

div.post ul li:hover {
	background: transparent url("/images/li_on.png") 0.2em 0.2em no-repeat;
}

ol li {
	margin-left: 2em;
	padding: 0 0 0.8em 0;
}

ul.lined {
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #5f676d;
}

ul.lined li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	background: none;
}

ul.lined li a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	font-weight: normal;
	color: #cdd3d9;
	border-top: 1px solid #5f676d;
}

ul.lined li a:hover {
	color: #fff;
}

ul.lined li a img {
	margin-right: 10px;
	vertical-align: -3px;
}


p#skip {
	display: none;
}

.blocked {
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}

.darkest {
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div.c { /* to clear a float */
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

div.hr {
	clear: both;
	margin: 1em 0;
	height: 2px;
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
}

#logo h2
{
color: #00FF00;
}


.category
{
	margin-top:10px;

}
.category h3
{
	color: #a1ff66; /*b0e194*/
background-image:url(/images/opaque_10.png);
padding: 5px 5px 5px 5px;
	border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
}



.date
{
	margin-top:0.8em;
}

h3.datetext
{
	color: #a1ff66; /*b0e194*/
}

#dsq-content #dsq-comments .dsq-commment-message
{
	font-size:0.9em !important;
}

.quiet {
color: #666;
}


span.im {
	color: #c5e2b5;
}


div.scroll {
	width: 100%;
	overflow: auto;
}





div#footer p#poweredby {
	width: 28em;
	padding-left: 2.8em;
	background: transparent url("/images/archive_off.png") 0.6em center no-repeat;
}

.paypal input
{

	width:10em;
	
}

.paypal select
{

	background:black url("/images/opaque_10.png") 0 0 repeat !important;
}



div#navigation {
	margin: 0.5em 0 0 2em;
}

div#navigation, div#navigation object {
	width: 600px;
	height: 50px;
}

div#logo {
	float: right;
	margin: 1.8em 2.2em 0 0;
}

div#logo, div#logo object {
	width: 330px;
	height: 50px;
}

div#dash {
	padding: 30px;
	background: transparent url("/images/headerbg.png") center 0 no-repeat;
}

div#content {
/*	margin-bottom: 1em;
	padding: 1em 1em 1em 1em;*/
}

/*--- intro ------------*/

div#intro {
	width: 45em;
	float: right;
	margin: 0;
}

div#intro p {
	font-size: 1.1em;
	line-height: 1.6em;
	text-align: right;
	color: #d8dfe5;
}

div#intro a:link, div#intro a:visited {
	text-decoration: none;
	color: #a3c095;
}

div#intro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

/*--- footer ------------*/

div#footer {
	clear: both;
	margin: 0 0em 2em 0em;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);

}

div#footer p {
	width: 40em;
	padding: 0.6em 1em;
	font-size: 1em;
}

div#footer p#poweredby {
	float: left;
	text-align: left;
}

div#footer p#copyright {
	float: right;
	text-align: right;
}

div#footer p#poweredby span.stats {
	color: #8a959e;
}

/*--- images ------------*/

div#logo img {
	width: 316px;
	height: 52px;
}

img[alt=Pic]
{
float:left;
padding:5px;

}

/* Navigation */

ul#nav {
margin: 0px;
position: relative;
padding-top:1.7em;
width: 650px;
list-style: none inherit none;
/*display: inline-block;*/ /*causes problem in IE */

}

#nav li {
	/* use this for centered navigation */

	display: inline;
	
}


#nav li a
{
	
	display: inline-block;
	font-size:16px;
	font-family: Verdana, Arial, sans-serif;
	
	color: #D2D8DE;
	padding: 5px 10px 3px;
	background: transparent;
	margin: 0 5px;
	line-height: 1em;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #1c1c1c;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}

#nav li a:hover {

	background:#1c1c1c;
	color:#a1ff66;
	text-decoration:none;
	
}


div#searchbox form#searchform input {
width: 11em;
}

form#searchform fieldset {
margin-bottom: 1em;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
}

form#searchform fieldset input {
margin: 0;
padding: 0.4em 0 0.3em 2.5em;
background: transparent url("/images/search_off.png") 0.4em 0.4em no-repeat;
outline: none;
}
/* Navigation */
form#searchform fieldset button {
float: right;


background-position: center center;
background-repeat: no-repeat;
}

form#searchform fieldset input:focus {
	background: transparent url("/images/search_on.png") 0.4em 0.4em no-repeat;
}

h1.year {
border: none;
font-size: 1.8em;
font-weight: bold;
margin-top: 30px;
border-image: initial;
}

h1.archives {
text-align: center;
font-size: 1.5em;
color: white;
background: transparent url("/images/opaque_20.png");
padding: 5px 0 5px 10px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-o-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
box-shadow: 0px 0px 2px rgba(0,0,0,0.5);

margin-top:0.75em;
}

.tag-list
{
	float:right;
}

.tag-list a {
/*background: none repeat scroll 0 0 #1E503C;*/
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #C5CBD0;
background-image:url(/images/opaque_20.png);
/*background: -webkit-gradient(linear, left top, left bottom, from(#1B8DC8), to(#1E503C));
background: -webkit-linear-gradient(#1B8DC8, #1E503C);
background: -moz-linear-gradient(center top, #1B8DC8 0%, #1E503C 100%);
background: -moz-gradient(center top, #1B8DC8 0%, #1E503C 100%);*/
/*font-size: 130%;
font-size: 83%;*/
/*border-bottom: 1px solid #5D78E5;
border-left: 1px solid #5D78E5;
border-right: 1px solid #5D78E5;*/
font-family: 'Droid Sans', Verdana, Arial, sans-serif;
font-size: 11px;
height: 0px;
image-rendering: auto;
left: auto;
list-style-type: disc;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
}

.tag-list a:hover
{
color: white;

}

h2.month {
padding-left: 0px;
margin-top:15px;
}

span.archive-date {
padding-left: 40px;
width: 20px;
float: left;
padding-right: 10px;
font-size: 1.1em;

}

.archive-link
{
margin-top: 0.4em;

}

.archive-link .inner
{
background: transparent url("/images/opaque_5.png");
border-radius: px;
-webkit-border-radius: 10px;
padding: 0.5em 1em;
}


div.archive-link a {
font-size: 1.1em !important; 

}



div.project {
text-align: justify;
text-justify: newspaper;
vertical-align:baseline;
}



img.framed, iframe.framed {
border: 1px solid #222;
background: white;
padding: 0.3em;
margin: 0 0.5em 0 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
word-spacing: 1.5em;
border-image: initial;
}

.low-top {
margin-top: 0.4em;
}

.low-bottom {
margin-bottom: 0.2em;
}

.small {
font-size: .8em;
margin-bottom: 1.875em;
line-height: 1.875em;
}

img.left {
float: left;
}

.project h3
{
	margin-top: 1em;
	margin-bottom: 0em;
}
.project p
{

margin-top:1em;
}
.project .quiet
{
	color:white;
}

.project-download {
color: #000300;
padding: 10px;
position: relative;
text-align: center;
font-size: 14px;
font-weight: bold;
box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-webkit-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-moz-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
background: #DBDDDD;
background: -webkit-gradient(linear, left top, left bottom, from(#DBDDDD), to(#CED1D1));
background: -webkit-linear-gradient(#DBDDDD, #CED1D1);
background: -moz-linear-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
background: -moz-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
-webkit-transition: color 0.2s linear;
transition: color 0.2s linear;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

