p,html, body
{
	text-align: left;
}

img, a img, :link img, :visited img {
	border: 0;
}


table {margin-bottom:0em;width:100%;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#D2D8DE;}
tbody tr:nth-child(even) td, tbody tr.even td {background:transparent;}

object {
	outline: none; /* fix for FF3 */
}

div.container
{

		margin: 0 auto;
}

.span 24
{
	width: 81em;
}

input[type="search"]
{

   /* Remove default */
    -webkit-appearance: none;
}


body
{
	font-size: 81.25%;
	text-align: left;
	color: #D2D8DE;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	
	background: #474c52 url("/images/background.jpg") center center fixed;
	-webkit-font-smoothing: antialiased;
}


#header {

	margin-top: -10px;
	margin-bottom: 20px;
box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1), 1px 6px 3px 0 rgba(0, 0, 0, 0.25);
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
background: transparent url("/images/opaque_10.png") 0 0 repeat;


}

#footer {
	font-size: 0.9em;
}


#footer p {
	margin: 0;
	padding: 0;
	color: #b6bcc1;
}

#secondary {

padding-left: 1.5em;
background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

/*--- element defaults ------------*/

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
{
font-size: 1em;
font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
}



p {
	margin: 0em 0em 1.3em 0em;
	line-height: 1.8em;
}


blockquote {
	margin: 0 0 1.3em 1em;
	padding: 0 2em 0 1em;
/*	font-size: 0.9em;*/
	color: #C5CBD0; /*b6bcc1;*/
	border-left: 3px solid #a1ff66;
}



/*--- links ------------*/

/*a {
	font-size: inherit;
}*/

a:link, a span.hilite {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: #c5e2b5;
}

a:visited {
-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: #95be7d;
}

a:hover, a span.hilite:hover {
	text-decoration: none;
	color: #a1ff66;
}

a:active, a span.hilite:active {
	text-decoration: none !important;
	color: #fff;
}



/*--- headings ------------*/

h1, h2, h3, h4, h5 {

	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	line-height: 1em;
	font-weight: normal;
	text-align: left;
}

h1 {
	margin: 0.1em 0 0.6em 0;
	font-size: 2.1em;
	color: #fff;
	/*border-bottom: 2px solid #D2D8DE;*/
	padding-bottom:3px;
}
h2 {
	margin: 0.1em 0 0.6em 0;
	font-size: 1.6em;
	color: #fff;
}

#logo h2
{
	font-size: 1.9em;
	margin-top:0.2em;
}

h4{
	margin-top:1.2em;
	margin-bottom:0.2em;

	
	color: #fff;
}

h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.4em;
	
}


h5 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

h2 a:active, h3 a:active, h4 a:active {
	color: #79ff25;
	
}


h2 a:hover, h3 a:hover, h4 a:hover {
	color: #b0e194 ;
}


h2 a
{
	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
}

/*--- paragraphs ------------*/

.hilite {
	color: #fff;
}

.result {
	color: #a1ff66;
}



/*--- images ------------*/

img.getflash {
	width: 112px;
	height: 33px;
	margin-bottom: 0.5em;
}

img.za {
	width: 16px;
	height: 11px;
	vertical-align: -2px;
	margin-left: 4px;
}

/*--- forms ------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

/*label, input, select, textarea {
	font-size: 1.1em;
}*/

label {
	display: block;
	float: left;
	width: 10em;
	clear: left;
	margin-right: 1em;
	padding: 0.3em 0;
	text-align: right;
}

input, select, textarea {
	/*width: 20em;*/
	float: left;
	margin-bottom: 0.5em;
	padding: 0.4em;
	color: #C5CBD0;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none;
}

input:focus, select:focus, textarea:focus {
	color: #fff;
	background: transparent url("/images/opaque_15.png") 0 0 repeat;
}

textarea {
	width: 20em;
	height: 7em;
	line-height: 1.3em;
	overflow: auto;
}

button {
	padding: 0.3em 0 0.3em 0;
	/*font: 0.9em "Calibri", "Arial", "Helvetica", "Nimbus Sans L", sans-serif;*/
	font-size: 0.9em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lucida", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: auto; /* Ref: http://jehiah.cz/archive/button-width-in-ie */
	overflow: visible;
	background-color: transparent;
	border: none;
}

button:hover {
	background-color: #509f24 !important;
}

button:active {
	background-color: #800 !important;
}

/*--- bullet lists ------------*/

table li {
	font-size: 1em; /* reset */
}

ul {
	margin-bottom: 0.7em;
}

.post ul li {
	padding: 0 0 0em 2em;
	list-style-type: none;
	background: transparent url("/images/li_off.png") 0.2em 0.2em no-repeat;
}

div#disqus_thread ul li {
	background: none;
}

.post ul li:hover {
	background: transparent url("/images/li_on.png") 0.2em 0.2em no-repeat;
}

ol li {
	margin-left: 2em;
	padding: 0 0 0.8em 0;
	
}

ul.lined {
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #5f676d;
}

ul.lined li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	background: none;
}

ul.lined li a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	font-weight: normal;
	color: #cdd3d9;
	border-top: 1px solid #5f676d;
}

ul.lined li a:hover {
	color: #fff;
}

ul.lined li a img {
	margin-right: 10px;
	vertical-align: -3px;
}


p#skip {
	display: none;
}

.blocked {
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}

.darkest {
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div.c { /* to clear a float */
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

div.hr {
	clear: both;
	margin: 1em 0;
	height: 2px;
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
}

#logo h2
{
color: #00FF00;
}


.category
{
	margin-top:10px;

}

.category ul, .category ol
{
	padding-left: 0;
}

.tagcloud span a
{
	font-family: Arial;

}
.category h3
{
	color: #a1ff66; /*b0e194*/

padding: 5px 5px 5px 5px;

background-image:url(/images/opaque_10.png);

	border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);


}

.search
{
	border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);

}


.date
{
	margin-top:0.8em;
}

h3.datetext
{
	color: #a1ff66; /*b0e194*/
}

#dsq-content #dsq-comments .dsq-commment-message
{
	font-size:0.9em !important;
}

.quiet {
color: #666;
}


span.im {
	color: #c5e2b5;
}


div.scroll {
	width: 100%;
	overflow: auto;
}





#footer p#poweredby {
	width: 28em;
	padding-left: 2.8em;
	background: transparent url("/images/archive_off.png") 0.6em center no-repeat;
}

.paypal input
{

	width:10em;
	
}

.paypal select
{

	background:black url("/images/opaque_10.png") 0 0 repeat !important;
}



#navigation {
	margin: 0.5em 0 0 2em;
}

#navigation, div#navigation object {
	/*width: 600px;*/
	height: 50px;
}

/*
#logo ul
{
	position: relative;
}*/

div#logo {
	
	float: right;
	margin: 1.8em 2.2em 0 0;
}

div#logo, div#logo object {
/*	width: 330px; */
	height: 50px;
}

div#dash {
	padding: 30px;
	background: transparent url("/images/headerbg.png") center 0 no-repeat;
}

#content {
	margin-bottom: 1em;
	
	padding: 1em 1em 1em 1em;
}

/*--- intro ------------*/

div#intro {
	width: 45em;
	float: right;
	margin: 0;
}

div#intro p {
/*	font-size: 1.1em;*/
	line-height: 1.6em;
	text-align: right;
	color: #d8dfe5;
}

div#intro a:link, div#intro a:visited {
	text-decoration: none;
	color: #a3c095;
}

div#intro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

/*--- footer ------------*/

#footer {
	clear: both;
	margin: 2em 0em 2em 0em;
	background: transparent url("/images/opaque_10.png") 0 0 repeat;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 1px 3px 1px 0 rgba(0, 0, 0, 0.25);

}

#footer p {
	width: 40em;
	padding: 0.6em 1em;
	font-size: 1em;
}

#footer p#poweredby {
	float: left;
	text-align: left;
}

#footer p#copyright {
	float: right;
	text-align: right;
}

#footer p#poweredby span.stats {
	color: #8a959e;
}

/*--- images ------------*/

/*div#logo img {
	width: 316px;
	height: 52px;
}*/

img[alt=Pic]
{
float:left;
padding:5px;

}

/* Navigation */



ul#nav {
margin: 0px;

padding-top:1.7em;
padding-left: 0em;
/*width: 650px;*/
list-style: none inherit none;
/*display: inline-block;*/ /*causes problem in IE */

}

#nav li, #logo li {
	/* use this for centered navigation */

	display: inline;
	
	
}

#nav ul {


	
	list-style-type:none;
	
}



#nav li a
{
	
	display: inline-block;
	font-size:16px;
	font-family: Verdana, Arial, sans-serif;
	
	color: #D2D8DE;
	padding: 5px 10px 3px;
	background: transparent;
	margin: 0 5px;
	line-height: 1em;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #1c1c1c;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;

}

#logo a img
{
	
	
	vertical-align:baseline;
	height:32px;
	width:32px;
}


#nav li a:hover, #nav li .madhur
{

	background:#1c1c1c;
	color:#a1ff66;
	text-decoration:none;
	
}

/*
div#searchbox form#searchform input 
{
width: 11em;
}*/

form#searchform fieldset {
margin-bottom: 1em;
background: transparent url("/images/opaque_10.png") 0 0 repeat;
}

form#searchform fieldset input {
border-width:0px;
margin: 0;
padding: 0.4em 0 0.3em 2.5em;
background: transparent url("/images/search_off.png") 0.4em 0.4em no-repeat;
outline: none;
}

form#searchform fieldset input:focus 
{
background: transparent url("/images/opaque_10.png") 0 0 repeat;
}


/* Navigation */
form#searchform fieldset button {
float: right;


background-position: center center;
background-repeat: no-repeat;
}

form#searchform fieldset input:focus {
	background: transparent url("/images/search_on.png") 0.4em 0.4em no-repeat;
}

h1.year {
border: none;
font-size: 1.8em;
font-weight: bold;
margin-top: 30px;
border-image: initial;
}

h1.archives {
text-align: center;
font-size: 1.5em;
color: white;
background: transparent url("/images/opaque_20.png");
padding: 5px 0 5px 10px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-khtml-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
-o-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
box-shadow: 0px 0px 2px rgba(0,0,0,0.5);

margin-top:0.75em;
}

.tag-list
{
	float:right;
	
}

.tag-list a {
/*background: none repeat scroll 0 0 #1E503C;*/
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #C5CBD0;
background-image:url(/images/opaque_20.png);
/*background: -webkit-gradient(linear, left top, left bottom, from(#1B8DC8), to(#1E503C));
background: -webkit-linear-gradient(#1B8DC8, #1E503C);
background: -moz-linear-gradient(center top, #1B8DC8 0%, #1E503C 100%);
background: -moz-gradient(center top, #1B8DC8 0%, #1E503C 100%);*/
/*font-size: 130%;
font-size: 83%;*/
/*border-bottom: 1px solid #5D78E5;
border-left: 1px solid #5D78E5;
border-right: 1px solid #5D78E5;*/
font-family: 'Droid Sans', Verdana, Arial, sans-serif;
height: 0px;
image-rendering: auto;
left: auto;
list-style-type: disc;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
}

.tag-list a:hover
{
color: white;

}

h2.month {
padding-left: 0px;
margin-top:15px;
}

span.archive-date {
padding-left: 40px;
width: 20px;
float: left;
padding-right: 10px;
/*font-size: 1.1em;*/

}

.archive-link
{
margin-top: 0.4em;

}

.archive-link .inner
{
background: transparent url("/images/opaque_5.png");
border-radius: px;
-webkit-border-radius: 10px;
padding: 0.5em 1em;
}

/*
div.archive-link a {
font-size: 1.1em !important; 

}
*/


div.project {
text-align: justify;
text-justify: newspaper;
vertical-align:baseline;
}


h3.project-headings{
	margin-top:0.7em;
	border-bottom : none;
}

h2.title-feature {
	margin-left   : 3px;
	font-variant  : small-caps;
	font-weight   : normal;
	border-bottom : 1px dotted #ccc;  
}


.project-icon {
	margin-top: 20px; 
}
img.pic{
	float:left;
	margin-top    : 5px;
	margin-right  : 15px;
	margin-bottom : 10px;
}


img.framed, iframe.framed {
border: 1px solid #222;
background: white;
padding: 0.3em;
margin: 0 0.5em 0 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
word-spacing: 1.5em;
border-image: initial;
}

.low-top {
margin-top: 0.4em;
}

.low-bottom {
margin-bottom: 0.2em;
}

.small {
font-size: .8em;
margin-bottom: 1.875em;
line-height: 1.875em;
}

img.left {
float: left;
}

.project h3
{
	margin-top: 1em;
	margin-bottom: 0em;
}
.project p
{

margin-top:1em;
}
.project .quiet
{
	color:white;
}

.project-download {
color: #000300;
padding: 10px;
position: relative;
text-align: center;
font-size: 14px;
font-weight: bold;
box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-webkit-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
-moz-box-shadow: 1px 1px 0 0 #014d06,2px 2px 0 0 #014d06,3px 3px 0 0 #014d06,4px 4px 0 0 #014d06,5px 5px 5px 0 #000;
background: #DBDDDD;
background: -webkit-gradient(linear, left top, left bottom, from(#DBDDDD), to(#CED1D1));
background: -webkit-linear-gradient(#DBDDDD, #CED1D1);
background: -moz-linear-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
background: -moz-gradient(center top, #DBDDDD 0%, #CED1D1 100%);
-webkit-transition: color 0.2s linear;
transition: color 0.2s linear;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}



/*
div.postmeta, div#commentsmeta {
	float: left;
	width: 15em;
}*/

.post, div#comments {
	float: left;
	
	padding-left: 1.5em;
	background: transparent url("/images/sep_vertical.png") 0 0 repeat-y;
}

/*--- header ------------*/

p#feed {
	width: 20em;
	margin: 0;
	padding: 0.1em 0 1.1em 2.3em;
	float: left;
	background: transparent url("/images/subscribe_big.png") 0 0 no-repeat;
}

p#admin, p#technorati, p#twitter {
	clear: left;
	width: 20em;
	margin: 0;
	padding: 0 0 0 2.3em;
	float: left;
}

p#admin {
	background: transparent url("/images/edit_off.png") 0 0 no-repeat;
}

p#technorati {
	background: transparent url("/images/technorati.png") 0 0 no-repeat;
}

p#twitter {
	padding: 0 0 0.2em 2.3em;
	background: transparent url("/images/twitter.png") 0 0 no-repeat;
}

/*div.post:hover a:link, div.post:hover a:visited {
	text-decoration: underline;
}*/

/*--- section headings ------------*/

p.archive, p.tagged, p.results {
	margin: 0;
	padding: 0.4em 0.8em 0.4em 2.5em;
	text-align: left;
	color: #fff;
	background-color: transparent;
	background-position: 0.35em 0.35em;
	background-repeat: no-repeat;
}

p.archive {
	background-image: url("/images/archive_off.png");
}

p.tagged {
	background-image: url("/images/tags_off.png");
	background-position: 0.4em 0.5em;
}

p.results {
	background-image: url("/images/search_off.png");
}

p.archive span.hilite, p.tagged span.hilite, p.results span.hilite {
	color: #79ff25;
}

/*--- postmeta ------------*/

.postmeta {
	padding-bottom: 2em;
}

.timestamp {
	margin: -0.2em 0.8em 1em 0;
	padding: 0 2.2em 0 0;
	background: transparent url("/images/archive_off.png") right center no-repeat;
	text-align: right;
}

.timestamp:hover {
	background: transparent url("/images/archive_on.png") right center no-repeat;
}

.time {
	font-size: inherit;
	color: #8a959e;
}

div.actions {
	padding: 1em;
	background: transparent url("/images/opaque_5.png") 0 0 repeat;
}


div.actions ul, ul.sharing, div#commentsmeta ul {
	margin: 0;
	padding: 0;

	font-size: 1em;
}



div.actions ul, div#commentsmeta ul {
	border-bottom: 1px solid #5f676d;
	list-style-type: none;
}

div.actions ul li, ul.sharing li, div#commentsmeta ul li {
	margin: 0;
	padding: 0;
	background: none;
	font-size: 0.9em !important;
	display: block;
}

div.actions ul li a, div.actions ul li span.comment, div.actions ul li span.share, div#commentsmeta ul li a, div#commentsmeta ul li span.closed {
	display: block;
	padding: 0.4em 0 0.4em 2em;
	text-decoration: none;
	color: #b6bcc1;
	border-top: 1px solid #5f676d;
}

div.actions ul li a:hover, .postmeta ul li span.comment:hover, div.actions ul li span.share:hover, div#commentsmeta ul li a:hover {
	color: #fff;
}

div.actions ul li span.share {
	cursor: pointer;
}

div.actions ul li a.comment, div#commentsmeta ul li a.comment {
	background: transparent url("/images/comment_off.png") 0 6px no-repeat;
}

div.actions ul li a.subscribe {
	background: transparent url("/images/subscribe_off.png") 0 5px no-repeat;
}

div.actions ul li a.trackback {
	background: transparent url("/images/trackback_off.png") 0 5px no-repeat;
}

div.actions ul li a.permalink {
	background: transparent url("/images/permalink_off.png") 0 4px no-repeat;
}

div.actions ul li span.share {
	background: transparent url("/images/share_off.png") 0 5px no-repeat;
}

div.actions ul li a.edit {
	background: transparent url("/images/edit_off.png") 0 3px no-repeat;
}

div.actions ul li a.comment:hover, div#commentsmeta ul li a.comment:hover {
	background: transparent url("/images/comment_on.png") 0 6px no-repeat;
}

div.actions ul li a.subscribe:hover {
	background: transparent url("/images/subscribe_on.png") 0 5px no-repeat;
}

div.actions ul li a.trackback:hover {
	background: transparent url("/images/trackback_on.png") 0 5px no-repeat;
}

div.actions ul li a.permalink:hover {
	background: transparent url("/images/permalink_on.png") 0 4px no-repeat;
}

div.actions ul li span.share:hover, div.actions ul li span.active {
	color: #fff !important;
	background: transparent url("/images/share_on.png") 0 5px no-repeat !important;
}

div.actions ul li a.edit:hover {
	background: transparent url("/images/edit_on.png") 0 3px no-repeat;
}

div#commentsmeta ul li span.closed {
	background: transparent url("/images/comment_closed.png") 0 6px no-repeat;
}

ul.sharing {
	background: transparent url("/images/opaque_10.png") 0 0 repeat;
	border: none !important;
}

ul.sharing li a {
	/*font-size: 1.1em !important;*/
	padding: 4px 0 4px 50px !important;
	border-top: none !important;
	background-position: 26px 3px;
	background-color: transparent;
	background-repeat: no-repeat;
}

ul.sharing li.first {
	border-top: 1px solid #5f676d;
	padding-top: 1em;
}

ul.sharing li.last {
	padding-bottom: 1em;
}

ul.sharing li a:hover {
	text-decoration: underline;
}

a#share_blinklist {
	background-image: url("/images/blinklist.png");
}

a#share_muti {
	background-image: url("/images/muti.png");
}

a#share_facebook {
	background-image: url("/images/facebook.png");
}

a#share_digg {
	background-image: url("/images/digg.png");
}

a#share_stumbleupon {
	background-image: url("/images/stumbleupon.png");
}

a#share_delicious {
	background-image: url("/images/delicious.png");
}

a#share_reddit {
	background-image: url("/images/reddit.png");
}

a#share_technorati {
	background-image: url("/images/technorati.png");
}

a#share_magnolia {
	background-image: url("/images/magnolia.png");
}

a#share_twitter {
	background-image: url("/images/twitter.png");
}


/*--- post ------------*/

.post {
	overflow: hidden; /* for big images, urls, etc. */
}

.post.full li {

	line-height: 1.4em;
}

.post.full blockquote {
	font-size: 0.9em;
}

.full {
	min-height: 18em;
	
}


.post h2 a:link {
	color: #fff;
	text-decoration: none;
}

.post h2 a:visited {
	color: #fff;
	text-decoration: none;
}

.post h2 a:hover {
	color: #a1ff66;
	
	text-decoration: none;
}


.post h3 a:link, .post h3 a:visited {
	color: #fff;
	text-decoration: none;
}




div.tags {
	margin-bottom: 2em;
}

div.tags p {
	margin: 0;
	padding: 0.5em 0.8em 0.5em 2.5em;
	font-size: 0.8em;
	color: #8a959e;
	background: transparent url("/images/tags_off.png") 0.5em 0.5em no-repeat;
}

div.full div.tags p {
	padding: 0.4em 0.8em 0.4em 2.5em;
	font-size: 0.9em;
}

div.tags:hover p {
	background: transparent url("/images/tags_on.png") 0.5em 0.5em no-repeat;	
}

div.tags a:link, div.tags a:visited {
	text-decoration: none;
	color: #8a959e;
}

div.tags a:hover {
	text-decoration: underline;
	color: #cdd3d9;
}

/*--- extract ------------*/

div.extract h3 {
	margin-top: 0.4em;
}

div.last div.blocked {
	margin-bottom: 0;
}

/*--- comments ------------*/

div#comments h3 {
	margin: 0.7em 0 1.7em 0;
	font-size: 1.6em;
	color: #a1ff66;
}

div#comments h3.closed {
	margin: 0;
}

div#comments h3#addcomment {
	margin: 0 0 0.8em 0;
}

div#comments div.alt {
}

div#comments p.timestamp {
	float: left;
	width: 12em;
	margin: 0.3em 0 0 -17em;
	padding-right: 2.3em;
}

div.comment {
	margin-bottom: 1em;
}

div.comment a {
	text-decoration: underline;
}

div.comment cite {
	display: block;
	margin: 0 0 0.5em 0;
	color: #c5e2b5;
	font-size: 1.1em;
	font-style: normal;
}


div.comment p.moderation {
	margin: 0 0 1.8em 1em;
	padding: 0 2em 0 1em;
	color: #fff;
	border-left: 3px solid #a1ff66;
}

div.comment p.timestamp a {
	color: #d8dfe5;
	text-decoration: none;
}

div#comments label {
	margin: 0 0 0 -12.8em;
	display: inline;
	position: relative;
}

div#comments textarea {
	width: 44em;
	height: 12em;
	margin-bottom: 0;
}

div#comments form fieldset button {
	float: left;
	text-indent: -300em;
	width: 6em;
	background-color: #000;
	background-image: url("/images/submit_button_off.png");
	background-position: center center;
	background-repeat: no-repeat;
}

div#allowedtags {
	clear: left;
	width: 40.35em;
	margin: 0 0 1em 0;
	background: transparent url("/images/opaque_20.png") 0 0 repeat;
}

div#allowedtags p {
	margin-bottom: 0;
	padding: 0.3em 0.5em;
	font-size: 0.8em;
}

div#allowedtags p code {
	font-size: 1em;
	color: #b6bcc1;
}


/*--- extra ------------*/

div#tagcloud {
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
	padding: 1em 0;
}

div#cloud {
	position: relative;
	font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
	text-align: left;
	line-height: 1.3em;
	vertical-align: middle;
}

div#cloud a:hover {
	text-decoration: none;
	color: #a1ff66 !important;
}

div#wpcumuluscontent {
	width: 254px;
	height: 230px;
	overflow: hidden;
	margin: 0 0 0 -1.2em;
}

#tagcloudflash {
	margin-top: -3em;
}

ul.sidebar {
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style-type: none;	
	border-bottom: 1px solid #5f676d;
}

ul.sidebar li {
	margin: 0;
	padding: 0;
	background: none;
}

ul.sidebar li a, ul.sidebar li a:visited {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	color: #C5CBD0;
	border-top: 1px solid #5f676d;
	font-size:0.9em;
}

ul.sidebar li a:hover {
	color: #fff;
}

div#recentcomments, div#similar {
	background: transparent url("/images/sep_horizontal.png") 0 0 repeat-x;
	padding-top: 1em;
}

div#recentcomments ul {
	border: none;
}

div#recentcomments span.date {
	font-size: inherit;
	color: #8a959e;
}

div#recentcomments li.post a {
	color: #fff;
	border-top: none;
	border-bottom: 1px solid #5f676d;
}

div#recentcomments ul.comments {
	margin-bottom: 1em;
	border-bottom: 1px solid #5f676d;
}

div#recentcomments ul.comments a {
	font-size: 1.1em;
	font-weight: normal;
	border-top: 1px solid #5f676d;
	border-bottom: none;
}

div#recentcomments ul.comments a:link, div#recentcomments ul.comments a:visited {
	color: #b6bcc1;
}

div#recentcomments ul.comments a:hover {
	color: #fff;
}



div#popularity li a:visited, div#blogroll li a:visited {
	color: #8a959e;
}


/* @group Sections */
.section { 
	font-size: 87.5%; 
	line-height: 1.43em; 
	margin-bottom: 1.43em;
	margin-top: 1.43em;
	margin-left: 7.5em;
	padding-right: 3em;
}
.section h1 {
	/*font-family: Palatino, georgia, serif;*/
	font-size: 100%;
	line-height: 1.43em;
	position: absolute;
	width: 6em;
	max-width: 6em;
	margin-left: -7.5em;
	font-weight: bold;
	font-variant: small-caps;
}
.section p { margin-bottom: 1.43em; }

p.line {
    margin: 0;
    position: relative;
}

.section p {
    margin-bottom: 1.43em;
}


.list .title { font-weight: bold; }
p.line { position: relative; margin: 0; }
p.excerpt { margin: 0; }


/* @end */


/*Splash start */
/*--- page layout framework ------------*/

/*--- intro ------------*/

div#sintro {
	margin-bottom: 3em;
}

div#sintro p {
	font-size: 1.15em;
	color: #949ca5;
}

div#sintro a:link, div#sintro a:visited {
	text-decoration: none;
	color: #b0e194;
}

div#sintro a:hover {
	text-decoration: underline;
	color: #79ff25;
}

div#sintro:hover a:link, div#sintro:hover a:visited {
	text-decoration: underline;
}

/*--- table ------------*/

/*
div#content table {
	border-top: 1px solid #26282c;
	width: 48em;
	padding-bottom: 5px;
}*/

/*
div#content td {
	margin: 0;
	padding: 0;
	color: #747a83;
	border-bottom: 1px solid #26282c;
}

div#content td.date, div#content td.time {

}*/

div#content td.date, div#content td.time {
	font: 1em "Consolas", "Courier New", "Courier", "FreeMono", monospace;
}

div#content td.date {
	text-transform: uppercase;
}
/*
div#content td a {
	display: block;
	padding: 0.3em 0;
	text-decoration: none;
	color: #949ca5;
}*/

div#content tr:hover td a {
	color: #fff;
}
div#content tr:hover td  {
	color: #fff;
}

div#content tr.hoverHighlighted td.title {
	background: transparent url("/img/splash/row_gradient.png") -5em 0 repeat-y;
}

div#content tr.hoverHighlighted td.date {
	background: transparent url("/img/splash/row_gradient.png") -37em 0 repeat-y;
}

div#content tr.hoverHighlighted td.time {
	background: transparent url("/img/splash/row_gradient.png") -44em 0 repeat-y;
}

/*--- social ------------*/

ul#social {
	margin: -3.6em 0 0 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

ul#social li {
	float: left;
	margin: 0 0.7em 0 0;
	padding: 0;
	background-image: none;
}

ul#social li img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

/*--- images ------------*/

/* --- Comments ---- */
div.dsq-comment-text
{
	font-size:0.9em !important;

}
#disqus_thread h3
{
	color: #D2D8DE;
}


.dsq-options {
display: block; /* Turns off various disqus options */
}

.dsq-dc-logo {
display: block; /* Turns off display of disqus logo */
}

#dsq-content #dsq-comments .dsq-comment-footer {
display: block; /* Turns off comment footer */
}

#dsq-content #dsq-comments .dsq-comment {
/*margin-bottom: 2px;*/ /* Space between two comments */
}

#dsq-content #dsq-comments .dsq-comment-body {


min-height:70px; /* Minimum comment body box height */
}

.dsq-textarea-background, div#comment
{

color:white !important;
}
#dsq-sort-by select 
{
margin: 0;
background: black;
}
div[contenteditable=true]
{
color:white !important;
}

.archivemonth
{
	margin-bottom:2px;
}
.category .archivemonth a
{
	
	font-size:1.3em;
	font-family: "Arial";
	

}

/* --- Comments ---- */




/*Splash end */

.tag { font-size: 6pt; }
.tag1 { font-size: 6pt; }
.tag2 { font-size: 6pt; }
.tag3 { font-size: 12pt; }
.tag4 { font-size: 12pt; }
.tag5 { font-size: 12pt; }
.tag6 { font-size: 13pt; }
.tag7 { font-size: 14pt; }
.tag8 { font-size: 15pt; }
.tag9 { font-size: 16em; }
.tag10 { font-size: 17pt; }
.tag11 { font-size: 18pt; }
.tag12 { font-size: 19pt; }
.tag13 { font-size: 20pt; }
.tag14 { font-size: 21pt; }
.tag15 { font-size: 22pt; }
.tag16 { font-size: 23pt; }
.tag17 { font-size: 24pt; }
.tag18 { font-size: 25pt; }
.tag19 { font-size: 26pt; }
.tag20 { font-size: 27pt; }


