---
layout: default
top: Inductio Ex Machina
---

  <div id="header">
	{% include nav-iem.html %}
  </div>
  
	
  <div id="page" class="layout">

<div class="layout-content header-top-sidebar-left-content-center-sidebar-right">

<div class="layout-region header">
	<p style="text-align:center;padding:0 0 0 0">
		<img src='/images/hanoi.jpg' alt='Hanoi, Vietnam' style='text-align:center' width="1000px"/>
	</p>
</div>

	<div class="layout-region left-sidebar">
		{% include left-sidebar.html %}
	</div>

	<div class="layout-region right-sidebar">
		{% include right-sidebar.html %}
	</div>

	<div class="layout-region content">
 		 {{ content }}
	</div>

 </div> 
  </div>
  
