---
layout: default
top: Madhur Ahuja
feed: atom.xml
css: blog.css
---

<div id="primary">

	<div id="blogcontent">

		<div class="postmeta full">

		{% include blogpost-left.html %}

		</div>

		<div class="post full">
 {{ content }}

<div class="blocked tags">
<p>
{% for  tag in page.categories %}
	<a href="/categories/{{tag}}.html">{{ tag }}</a>
,
	{% endfor %}
</p>
</div>
<div class="hr"></div>


<!-- Discus Comments -->
<div id="disqus_thread"></div>


<!-- Enable Disqus comments -->
{% include disqus.html %}

		</div>

		<div class="c">&nbsp;</div>

	</div>

	
</div>


<!--<div id="extra">

</div>-->


	
 
<div class="c">&nbsp;</div>
  
{% include commentcount.js %}
 

 

