---
layout: default
top: Inductio Ex Machina
feed: atom.xml
---

<div id="primary">

	<div id="blogcontent">

		<div class="postmeta full">

		</div>

		<div class="post full">
 {{ content }}
		</div>

	</div>

	
</div>

<div id="extra">

</div>
 

  <!--<address class="signature">
    <a class="author" href="/">Madhur Ahuja</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
</div>
-->

<!-- Discus Comments -->
<div id="disqus_thread"></div>

<!-- Enable Disqus comments -->
<script type="text/javascript">
	var disqus_developer = 1;
	var disqus_shortname = 'madhur';
	var disqus_iframe_css = "http://madhur.github.com/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.excerpt }}";
</script>
<script type="text/javascript" src="http://madhur.disqus.com/embed.js"></script>

<noscript>
		<a href="http://madhur.disqus.com/?url=ref">View the discussion thread.</a>
</noscript>
