---
layout: default
top: Madhur Ahuja
feed: atom.xml
css: blog.css
---

<div id="primary">

	<div id="blogcontent">

		<div class="postmeta full">

		{% include blogpost-left.html %}

		</div>

		<div class="post full">
		<h1>{{ page.title }}</h1>
 {{ content }}

<div class="blocked tags">
<p>
{% for  tag in page.categories %}
	<a href="/categories/{{tag}}.html">{{ tag }}</a> |
{% endfor %}
</p>
</div>
<div class="hr"></div>

<div>

<!-- Place this tag where you want the +1 button to render -->
<div class="social">
<g:plusone></g:plusone>
<fb:like href="{% include blogurl.txt %}{{ page.url }}" send="true" layout="button_count" width="450" show_faces="true" colorscheme="dark" font="lucida grande"></fb:like>
</div>


<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({appId: 'your app id', status: true, cookie: true,
xfbml: true});
};

(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
</script>

</div>


<!-- Discus Comments -->
<div id="disqus_thread"></div>


<!-- Enable Disqus comments -->
{% include disqus.html %}

		</div>

		<div class="c">&nbsp;</div>

	</div>

	
</div>
 
<div class="c">&nbsp;</div>


  
{% include commentcount.js %}
 

 

