---
layout: project_page
no_sidebar: true
---

	<link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css">
	<script type="text/javascript" src="/js/jquery.ad-gallery.pack.js"></script>

	<script type="text/javascript">
	$(function() {
		var galleries = $('.ad-gallery').adGallery();
		$('#switch-effect').change(
			function() {
				galleries[0].settings.effect = $(this).val();
				return false;
			}
		);
		$('#toggle-slideshow').click(
			function() {
				galleries[0].slideshow.toggle();
				return false;
			}
		);
		$('#toggle-description').click(
			function() {
				if(!galleries[0].settings.description_wrapper) {
					galleries[0].settings.description_wrapper = $('#descriptions');
				} else {
					galleries[0].settings.description_wrapper = false;
				}
				return false;
			}
		);
	});
	</script>

	<style type="text/css">

	#gallery {
		padding: 30px;
	}
	#descriptions {
		position: relative;
		height: 50px;
		background: #EEE;
		margin-top: 10px;
		width: 640px;
		padding: 10px;
		overflow: hidden;
	}
	#descriptions .ad-image-description {
		position: absolute;
	}
	#descriptions .ad-image-description .ad-description-title {
		display: block;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
    color: #333;
    line-height: 140%;

	}
	.ad-gallery {
	  width: 800px;
	}
	.ad-gallery .ad-image-wrapper {
	  height: 456px;
	}
	</style>

<div id="gallery" class="ad-gallery">
	<div class="ad-image-wrapper">
	</div>
	<div class="ad-controls">
	</div>

	<div class="ad-nav">
		<div class="ad-thumbs">
			<ul class="ad-thumb-list">
			
				{% for screenshot in page.gallery %}
				<li>
					<a href="/images/projects/{{page.name}}/{{screenshot.image}}">
						<img src="/images/projects/{{page.name}}/thumbs/{{screenshot.image}}" 
						title="{{screenshot.title}}" alt="{{screenshot.description}}">
					</a>
				</li>
				{% endfor %}
								
			</ul>
		</div>
	</div>

</div>
