---
layout: default
top: Madhur Ahuja
---

<section id="primary" class="">

	<div id="blogcontent">

		<aside class="postmeta full col-md-3 visible-md visible-lg">

			{% include project-left.html %}

		</aside>

		<article class="post full col-md-9">
					<header><h1>{{ page.title }}</h1></header>
			 {{ content }}
			<footer>


			</footer>
			

			<div>


				<!-- Enable Google Plus comments -->
				{% include gplus.html %}


			</div>

			<div class="hr"></div>
			
			<div class="span-9">
				<h2>
				<a href="https://github.com/madhur/{{ page.github }}"> <i class="fa fa-github"></i> Recent Commits</a>
				</h2>
				
				
			

				
			</div>
			
			<div class="span-9 last">
				<h2>
					<a href="https://github.com/madhur/{{ page.github }}/issues"> <i class="fa fa-list"></i> Active Issues / Next Steps</a>
				</h2>
				
				
				

			</div>

		</article>

		<div class="c">&nbsp;</div>

	</div>

	
</section>
 
<div class="c">&nbsp;</div>


  

 

 

