---
layout: default
title: Projects
no_sidebar: true
---

{% for project in page.projects %}
<div class="project prepend-1 append-1 span-10   {% cycle " ", 'last'  %}" >
	<h3><a href="{{ project.url }}">{{ project.title }}</a> 
		<span class="small quiet">{{ project.version }}</span>
	</h3>    
	{% if project.icon %}
	<img src="/images/projects/{{ project.icon }}" class="framed left" width="64" height="64" alt="features Icon"> 
	{% endif %}
	<div class="low-top">
		<span class="languages quiet small low-top low-bottom">{{ project.languages }}</span><br />
			{{ project.description | markdownify }} <a href="{{ project.url }}">read more...</a> 
	</div>
</div>
{% endfor %}

<div class="project prepend-1 append-1 span-10  last" >
	<h3><a href="/code">My Old Projects</a> </h3>    
	<div class="low-top">
		<span class="languages quiet small low-top low-bottom">C&nbsp;&nbsp;C++&nbsp;&nbsp;Java&nbsp;&nbsp;Assembly&nbsp;&nbsp;Win32 Assembly&nbsp;&nbsp;Visual C++&nbsp;&nbsp;Other</span><br />
			Other projects are hosted on Github <a href="/code">read more...</a> 
	</div>
</div>