---
layout: default
top: Madhur Ahuja

---

<section id="primary" class="">

    <div id="blogcontent">

        <aside class="postmeta full col-md-3 visible-md visible-lg">

            {% include project-left.html %}

        </aside>

        <article class="post full col-md-9">
            <header>


            </header>

            <div class="row">
                <div class="mobile col-md-4 visible-md visible-lg">
                    <div class="hero">
                        <div class="glare"></div>


                        <div class="carousel slide">
                            <div class="carousel-inner">

                                {% for img in page.img %}
                                {% if forloop.first == true %}
                                <div class="item active"><img width="218" height="341" src="{{img}}" /></div>
                                {% else %}
                                <div class="item"><img width="218" height="341" src="{{img}}" /></div>
                                {% endif %}


                                {% endfor %}
                            </div>


                        </div>


                    </div>
                </div>

                <div class="content col-md-8 clearfix">
                    {{ content }}
                </div>
            </div>



            <footer>


            </footer>


            <div class="pull-left btn">

                <iframe src="http://ghbtns.com/github-btn.html?user=madhur&repo={{ page.github }}&type=watch&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </div>

            <div class="pull-right btn">
                <iframe src="http://ghbtns.com/github-btn.html?user=madhur&repo={{ page.github }}&type=fork&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </div>

            <div class="hr"></div>

            <div class="row">
                <div class="col-md-6 visible-md visible-lg">
                    <h2>
                        <a href="https://github.com/madhur/{{ page.github }}"> <i class="fa fa-github"></i> Recent
                            Commits</a>
                    </h2>

                    {% assign reponame = page.github %} {% if site.generate_projects == true %} {% octokit_commits
                    reponame %} {% endif %}

                </div>

                <div class="col-md-6 visible-md visible-lg">
                    <h2>
                        <a href="https://github.com/madhur/{{ page.github }}/issues"> <i class="fa fa-list"></i> Active
                            Issues / Next Steps</a>
                    </h2>

                    {% if site.generate_projects == true %} {% octokit_issues reponame %} {% endif %}


                </div>
            </div>

        </article>

        <div class="c">&nbsp;</div>

    </div>


</section>