---
layout: default
top: Madhur Ahuja
---

<section id="primary" class="">

    <div id="blogcontent">

        <aside class="postmeta full col-md-3 visible-md visible-lg">

            {% include project-left.html %}

        </aside>

        <article class="post full col-md-9">
            <header>

                <h1>{{ page.title }}</h1>

            </header>


            <div class="row">
                <div class="product col-md-4 visible-md visible-lg">


                    <div class="carousel slide" data-attribute-interval="1000" data-ride="carousel">


                        {% if page.img.size > 1 %}
                        <!-- Indicators -->
                        <ol class="carousel-indicators">


                            {% for img in page.img %}
                            {% if forloop.first == true %}
                            <li data-target=".carousel" data-slide-to="0" class="active"></li>
                            {% else %}
                            <li data-target=".carousel" data-slide-to="{{forloop.index | minus:1}}"></li>
                            {% endif %}


                            {% endfor %}

                        </ol>
                        {% endif %}


                        <div class="carousel-inner">


                            {% for img in page.img %}
                            {% if forloop.first == true %}
                            <div class="item active"><a href="{{img}}"><img src="{{img}}" /></a></div>
                            {% else %}
                            <div class="item"><a href="{{img}}"><img src="{{img}}" /></a></div>
                            {% endif %}


                            {% endfor %}

                        </div>


                    </div>

                </div>

                <div class="content col-md-8 clearfix">
                    {{ content }}
                </div>
            </div>




            <footer>


            </footer>


            <div class="pull-left btn">

                <iframe src="http://ghbtns.com/github-btn.html?user=madhur&repo={{ page.github }}&type=watch&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </div>

            <div class="pull-right btn">
                <iframe src="http://ghbtns.com/github-btn.html?user=madhur&repo={{ page.github }}&type=fork&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </div>

            <div class="hr"></div>

            <div class="row">
                <div class="col-md-6 visible-md visible-lg">
                    <h2>
                        <a href="https://github.com/madhur/{{ page.github }}"> <i class="fa fa-github"></i> Recent
                            Commits</a>
                    </h2>

                    {% assign reponame = page.github %} {% if site.generate_projects == true %} {% octokit_commits
                    reponame %} {% endif %}

                </div>

                <div class="col-md-6 visible-md visible-lg">
                    <h2>
                        <a href="https://github.com/madhur/{{ page.github }}/issues"> <i class="fa fa-list"></i> Active
                            Issues / Next Steps</a>
                    </h2>

                    {% if site.generate_projects == true %} {% octokit_issues reponame %} {% endif %}


                </div>
            </div>

        </article>

        <div class="c">&nbsp;</div>

    </div>


</section>