---
layout: default
no_sidebar: true
---

<style type="text/css">

h3.project-headings{
	border-bottom : none;
}

h2, h2.title-feature {
	margin-left   : 3px;
	font-variant  : small-caps;
	font-weight   : normal;
	border-bottom : 1px dotted #ccc;  
}


.project-icon {
	margin-top: 20px; 
}
img.pic{
	float:left;
	margin-top    : 5px;
	margin-right  : 15px;
	margin-bottom : 10px;
}
</style>


<div class="span-{% if page.no_sidebar %}18{% else %}11{% endif %}">
	{% if page.icon %}
		<img src="/images/projects/{{ page.icon }}" class="project-icon left" width="64" height="64" alt="icon"/> 
	{% endif %}	 
	<h1 class="project-title">{{ page.nice_name }}</h1>
		<h3 class='project-headings'>
			{% if page.features_url %}
				<a href="{{ page.features_url }}">Features &nbsp;</a>
			{% endif %}
			{% if page.readme_url %}
				<a href="{{ page.readme_url }}">
					{% if page.readme_name %}{{ page.readme_name }}{% else %}Readme{% endif %} &nbsp;</a>
			{% endif %}
			{% if page.gallery_url %}
				<a href="{{ page.gallery_url }}">Screenshots &nbsp;</a>
			{% endif %}
			{% if page.changelog_url %}
				<a href="{{ page.changelog_url }}">Changelog &nbsp;</a>
			{% endif %}
			{% if page.apidocs_url %}
				<a href="{{ page.apidocs_url }}">{% if page.apidocs_name %}{{ page.apidocs_name }}{% else %}Class Documentation{% endif %} &nbsp;</a>
			{% endif %}
			{% if page.support_url %}
				<a href="{{ page.support_url }}">Support &nbsp;</a>
			{% endif%}
		</h3>
</div>

<div class="project-links span-6 last">
	<a href="{{ page.download }}" class="project-download-link">
		<div class="project-download">Download{% if page.version %} v{{ page.version }}{% endif %}</div>
	</a>

	<h3 class ='project-headings'><a href="{{ page.repo }}">GitHub Repository</a></h3>

	{% if page.docs %}
		<h3 class='project-headings'><a href="{{ page.docs }}">Documentation</a></h3>
	{% endif %}
</div>

<div class="readme span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
	{{ content }}
<hr />
{% include sharing.html %}
</div>